:host {
  display: block;
  border-left: 3px solid var(--sky-border-color-neutral-medium);
}

a.sky-docs-toc-link,
.sky-docs-toc-heading {
  margin-bottom: 8px;
  padding-left: 15px;
}

a.sky-docs-toc-link {
  color: var(--sky-text-color-deemphasized);
  display: block;
  width: 100%;
  font-size: var(--sky-font-size-body-s);
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover,
  &:focus-visible,
  &.sky-docs-toc-link-active {
    color: var(--sky-text-color-action-primary);
    text-decoration: none;
    border-left: 3px solid #999;
    margin-left: -3px;
  }
}
