<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <sky-date-range-picker
    formControlName="lastDonation"
    label="Last donation"
    labelText="Last donation label"
    helpKey="helpKey.html"
    stacked
    [calculatorIds]="calculatorIds"
    [dateFormat]="dateFormat"
    [hintText]="hintText"
  >
    @if (lastDonationControl.errors?.['dateWeekend']) {
      <sky-form-error
        errorName="dateWeekend"
        errorText="Do not pick a weekend."
      />
    }
  </sky-date-range-picker>

  <button class="sky-btn sky-btn-default" type="submit">Submit</button>
</form>

<h3>Value</h3>
<pre>{{ formGroup.value | json }}</pre>

<h3>Errors</h3>
<pre>{{ lastDonationControl.errors | json }}</pre>

<h3>Statuses</h3>
<pre>
Dirty?   {{ lastDonationControl.dirty }}
Valid?   {{ lastDonationControl.valid }}
Touched? {{ lastDonationControl.touched }}
</pre>

<div>
  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="changeValue()"
  >
    Change value
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="changeCalculators()"
  >
    Change calculators
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="setValidRange()"
  >
    Set valid range
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="setInvalidRange()"
  >
    Set invalid range
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="toggleDisabled()"
  >
    Toggle disabled
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="toggleHintText()"
  >
    Toggle hint text
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="toggleRequired()"
  >
    Toggle required
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="changeDateFormat()"
  >
    Change date format
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="changeLocale()"
  >
    Change locale
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="resetForm()"
  >
    Reset form
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    (click)="setUndefined()"
  >
    Set value to undefined
  </button>
</div>
