<sky-modal class="lookup-custom-picker-modal">
  <sky-modal-header>Names</sky-modal-header>
  <sky-modal-content>
    <form [formGroup]="peopleForm">
      <sky-selection-box-grid>
        <sky-selection-box
          *ngFor="
            let personControl of peopleForm.controls.people.controls;
            let i = index
          "
          [control]="checkbox"
        >
          <sky-icon icon="user" iconType="skyux"></sky-icon>
          <sky-selection-box-header>
            {{ people[i].name }}
          </sky-selection-box-header>
          <sky-selection-box-description>
            {{ people[i].formal }}
          </sky-selection-box-description>
          <sky-checkbox [formControl]="personControl" #checkbox></sky-checkbox>
        </sky-selection-box>
      </sky-selection-box-grid>
    </form>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      class="sky-btn sky-btn-primary lookup-custom-picker-save-button"
      type="button"
      (click)="save()"
    >
      Save
    </button>
  </sky-modal-footer>
</sky-modal>
