<sky-fluid-grid gutterSize="small" [disableMargin]="true">
  <sky-row>
    <sky-column [screenXSmall]="6">
      <sky-input-box labelText="Name" stacked="true">
        <input
          class="sky-form-control"
          id="inputName"
          type="text"
          [ngModel]="name"
          [required]="nameRequired"
          (blur)="checkValidity()"
          (ngModelChange)="nameChange($event)"
        />
      </sky-input-box>
    </sky-column>
    <sky-column [screenXSmall]="6">
      <sky-input-box labelText="ID" stacked="true">
        <input
          class="sky-form-control"
          id="inputId"
          type="text"
          [ngModel]="id"
        />
      </sky-input-box>
    </sky-column>
  </sky-row>

  <sky-row>
    <sky-column [screenXSmall]="12">
      <sky-checkbox [(ngModel)]="nameRequired">
        <sky-checkbox-label> Mark 'Name' required </sky-checkbox-label>
      </sky-checkbox>
    </sky-column>
  </sky-row>
</sky-fluid-grid>
