<div style="width: 50%">
  <form novalidate [formGroup]="characterCountForm">
    <div class="sky-form-group">
      <sky-input-box>
        <label class="sky-control-label" [for]="descriptionInput.id">
          Transaction description
        </label>

        <sky-character-counter-indicator
          #descriptionIndicator
        ></sky-character-counter-indicator>

        <input
          class="sky-form-control"
          formControlName="description"
          type="text"
          skyCharacterCounter
          skyId
          [skyCharacterCounterIndicator]="descriptionIndicator"
          [skyCharacterCounterLimit]="maxDescriptionCharacterCount"
          [attr.aria-describedby]="characterCountError.id"
          #descriptionInput="skyId"
        />

        <span class="sky-error-indicator" skyId #characterCountError="skyId">
          <sky-status-indicator
            *ngIf="description.errors?.skyCharacterCounter"
            indicatorType="danger"
            descriptionType="error"
          >
            Limit Transaction description to
            {{ maxDescriptionCharacterCount }} characters.
          </sky-status-indicator>
        </span>
      </sky-input-box>
    </div>
  </form>
</div>
