<div style="width: 50%">
  <form [formGroup]="formGroup">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="descriptionInput.id">
        Transaction description
      </label>

      <sky-character-counter-indicator
        data-sky-id="description-indicator"
        #descriptionIndicator
      />

      <input
        class="sky-form-control description-input"
        formControlName="description"
        skyCharacterCounter
        skyId
        type="text"
        [attr.aria-describedby]="characterCountError.id"
        [skyCharacterCounterIndicator]="descriptionIndicator"
        [skyCharacterCounterLimit]="maxDescriptionCharacterCount"
        #descriptionInput="skyId"
      />

      <span class="sky-error-indicator" skyId #characterCountError="skyId">
        @if (description.errors?.['skyCharacterCounter']) {
          <sky-status-indicator
            data-sky-id="description-status-indicator-over-limit"
            descriptionType="error"
            indicatorType="danger"
          >
            Limit Transaction description to
            {{ maxDescriptionCharacterCount }} characters.
          </sky-status-indicator>
        }
      </span>
    </sky-input-box>
  </form>
</div>
