<sky-description-list mode="vertical">
  <sky-description-list-content>
    <sky-description-list-term> Default setup </sky-description-list-term>
    <sky-description-list-description>
      {{ defaultValue | skyNumeric }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term> With options </sky-description-list-term>
    <sky-description-list-description>
      {{ configuredValue | skyNumeric : numericOptions }}
    </sky-description-list-description>
  </sky-description-list-content>
</sky-description-list>
