<sky-description-list mode="vertical">
  <sky-description-list-content>
    <sky-description-list-term> 1 with 0 digits: </sky-description-list-term>
    <sky-description-list-description>
      {{ 1 | skyNumeric: { digits: 0 } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term> 1000 with 0 digits: </sky-description-list-term>
    <sky-description-list-description>
      {{ 1000 | skyNumeric: { digits: 0 } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term> 1000 with 1 digit: </sky-description-list-term>
    <sky-description-list-description>
      {{ 1000 | skyNumeric }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term> 1100 with 0 digits: </sky-description-list-term>
    <sky-description-list-description>
      {{ 1100 | skyNumeric: { digits: 0 } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term> 1100 with 1 digit: </sky-description-list-term>
    <sky-description-list-description>
      {{ 1100 | skyNumeric }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term> 1500 with 0 digits: </sky-description-list-term>
    <sky-description-list-description>
      {{ 1500 | skyNumeric: { digits: 0 } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term> 1500 with 1 digit: </sky-description-list-term>
    <sky-description-list-description>
      {{ 1500 | skyNumeric }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1000000 with 0 digits:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1000000 | skyNumeric: { digits: 0 } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1000000000 with 0 digits:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1000000000 | skyNumeric: { digits: 0 } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1000000000000 with 0 digits:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1000000000000 | skyNumeric: { digits: 0 } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1234000 with 2 digits:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1234000 | skyNumeric: { digits: 2 } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1235000000 with 2 digits:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1235000000 | skyNumeric: { digits: 2 } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term> 1.45 with 1 digit: </sky-description-list-term>
    <sky-description-list-description>
      {{ 1.45 | skyNumeric }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1234567 with 1 digit:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1234567 | skyNumeric }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1234567 without truncation
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1234567 | skyNumeric: { truncate: false } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      15.50 as US dollar currency with 2 digits:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 15.5 | skyNumeric: { digits: 2, format: 'currency', iso: 'USD' } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      -15.50 as US dollar currency with 2 digits:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ -15.5 | skyNumeric: { digits: 2, format: 'currency', iso: 'USD' } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1234567 as Euro currency with 2 digits:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1234567 | skyNumeric: { digits: 2, format: 'currency', iso: 'EUR' } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1450 as UK pound currency with 2 digits:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1450 | skyNumeric: { digits: 2, format: 'currency', iso: 'GBP' } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1750 as Hong Kong dollar currency with 1 digit:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1750 | skyNumeric: { digits: 1, format: 'currency', iso: 'HKD' } }}
    </sky-description-list-description>
  </sky-description-list-content>
  <sky-description-list-content>
    <sky-description-list-term>
      1234567 as Japanese yen currency with 3 digit:
    </sky-description-list-term>
    <sky-description-list-description>
      {{ 1234567 | skyNumeric: { digits: 3, format: 'currency', iso: 'JPY' } }}
    </sky-description-list-description>
  </sky-description-list-content>
</sky-description-list>
