<div class="sky-padding-even-large">
  <div class="sky-margin-stacked-xl" id="sort-no-btn-text">
    <sky-sort [showButtonText]="false">
      @for (item of sortOptions; track item) {
        <sky-sort-item [active]="initialState === item.id">
          {{ item.label }}
        </sky-sort-item>
      }
    </sky-sort>
  </div>

  <div id="sort-with-btn-text">
    <sky-sort [showButtonText]="true">
      @for (item of sortOptions; track item) {
        <sky-sort-item [active]="initialState === item.id">
          {{ item.label }}
        </sky-sort-item>
      }
    </sky-sort>
  </div>
</div>
