# <%= name %>

This is a code example for the SKY UX framework.

More information about SKY UX can be found on [developer.blackbaud.com/skyux](https://developer.blackbaud.com/skyux).

[![Open in StackBlitz](https://developer.stackblitz.com/img/open_in_stackblitz.svg)](https://stackblitz.com/fork/github/blackbaud/skyux-code-examples/tree/main/<%= projectPath %>)
