<sky-progress-indicator [isPassive]="true" [startingIndex]="1">
  <sky-progress-indicator-item title="Finished step" />
  <sky-progress-indicator-item title="Current step" />
  <sky-progress-indicator-item title="HIDDEN TITLE" />
</sky-progress-indicator>

<sky-progress-indicator #demo1>
  <sky-progress-indicator-item title="Current step">
    <sky-help-inline class="sky-control-help" />
  </sky-progress-indicator-item>
  <sky-progress-indicator-item
    helpPopoverContent="help"
    title="Unfinished step"
  />
</sky-progress-indicator>
<sky-progress-indicator-nav-button
  buttonType="previous"
  [progressIndicator]="demo1"
/>
<sky-progress-indicator-nav-button [progressIndicator]="demo1" />
<sky-progress-indicator-nav-button
  buttonType="finish"
  [progressIndicator]="demo1"
/>
<sky-progress-indicator-nav-button
  buttonType="reset"
  [progressIndicator]="demo1"
/>

<sky-progress-indicator #demo2 [startingIndex]="1">
  <sky-progress-indicator-item title="Finished step" helpPopoverContent="help"
    >Optional details about this step
    <sky-help-inline class="sky-control-help" />
    <!-- this help inline component should not appear -->
  </sky-progress-indicator-item>
  <sky-progress-indicator-item title="Current step" />
</sky-progress-indicator>
<sky-progress-indicator-nav-button
  buttonType="previous"
  buttonText="Custom back button"
  [progressIndicator]="demo2"
/>
<sky-progress-indicator-nav-button [progressIndicator]="demo2" />
<sky-progress-indicator-nav-button
  buttonType="finish"
  [progressIndicator]="demo2"
/>
<sky-progress-indicator-nav-button
  buttonType="reset"
  [progressIndicator]="demo2"
/>
