<sky-progress-indicator [isPassive]="true" [startingIndex]="1">
  <sky-progress-indicator-item title="Finished step">
  </sky-progress-indicator-item>
  <sky-progress-indicator-item title="Current step">
  </sky-progress-indicator-item>
  <sky-progress-indicator-item title="HIDDEN TITLE">
  </sky-progress-indicator-item>
</sky-progress-indicator>

<sky-progress-indicator #demo1>
  <sky-progress-indicator-item title="Current step">
    <sky-help-inline class="sky-control-help"></sky-help-inline>
  </sky-progress-indicator-item>
  <sky-progress-indicator-item title="Unfinished step">
  </sky-progress-indicator-item>
</sky-progress-indicator>
<sky-progress-indicator-nav-button
  [progressIndicator]="demo1"
  buttonType="previous"
></sky-progress-indicator-nav-button>
<sky-progress-indicator-nav-button
  [progressIndicator]="demo1"
></sky-progress-indicator-nav-button>
<sky-progress-indicator-nav-button
  [progressIndicator]="demo1"
  buttonType="finish"
></sky-progress-indicator-nav-button>
<sky-progress-indicator-nav-button
  [progressIndicator]="demo1"
  buttonType="reset"
></sky-progress-indicator-nav-button>

<sky-progress-indicator [startingIndex]="1" #demo2>
  <sky-progress-indicator-item title="Finished step"
    >Optional details about this step
  </sky-progress-indicator-item>
  <sky-progress-indicator-item title="Current step">
  </sky-progress-indicator-item>
</sky-progress-indicator>
<sky-progress-indicator-nav-button
  [progressIndicator]="demo2"
  buttonType="previous"
  buttonText="Custom back button"
></sky-progress-indicator-nav-button>
<sky-progress-indicator-nav-button
  [progressIndicator]="demo2"
></sky-progress-indicator-nav-button>
<sky-progress-indicator-nav-button
  [progressIndicator]="demo2"
  buttonType="finish"
></sky-progress-indicator-nav-button>
<sky-progress-indicator-nav-button
  [progressIndicator]="demo2"
  buttonType="reset"
></sky-progress-indicator-nav-button>
