<sky-modal headingText="Look. Up.">
  <sky-modal-content>
    <p>
      Look up at the stars and not down at your feet. Try to make sense of what
      you see, and wonder about what makes the universe exist. Be curious.
    </p>
    <p>Stay Hungry. Stay Foolish.</p>
    <sky-lookup
      ariaLabelledBy="my-friends-label"
      idProperty="id"
      placeholderText="Type a person's name..."
      [data]="people"
      [enableShowMore]="true"
      [debounceTime]="1000"
      [showAddButton]="true"
    />
  </sky-modal-content>
  <sky-modal-footer> Footer </sky-modal-footer>
</sky-modal>
