<sky-icon icon="calendar"></sky-icon>
<sky-icon icon="calendar" size="lg"></sky-icon>
<sky-icon icon="calendar" size="2x" iconType="skyux"></sky-icon>
<sky-icon icon="calendar" iconType="skyux" variant="line" size="3x"></sky-icon>
<sky-icon
  data-sky-id="icon-demo"
  icon="calendar"
  iconType="skyux"
  variant="solid"
  size="4x"
  [fixedWidth]="true"
></sky-icon>

<div>
  <sky-icon icon="bars" size="5x"></sky-icon>
</div>
<div>
  <sky-icon icon="chevron-down" size="5x"></sky-icon>
</div>

<div>
  <sky-icon icon="bars" size="5x" [fixedWidth]="true"></sky-icon>
</div>
<div>
  <sky-icon icon="chevron-down" size="5x" [fixedWidth]="true"></sky-icon>
</div>
