<div class="icon-sheet">
  <sky-icon icon="calendar" size="md" />
  <sky-icon icon="calendar" size="lg" />
  <sky-icon icon="calendar" size="2x" />
  <sky-icon icon="calendar" variant="line" size="3x" />
  <sky-icon
    data-sky-id="icon-demo"
    icon="calendar"
    variant="solid"
    size="4x"
    [fixedWidth]="true"
  />

  <div class="icon-sheet">
    <sky-icon iconName="calendar-ltr" iconSize="xxxs" />
    <sky-icon iconName="calendar-ltr" iconSize="xxs" />
    <sky-icon iconName="calendar-ltr" iconSize="xs" />
    <sky-icon iconName="calendar-ltr" iconSize="s" />
    <sky-icon iconName="calendar-ltr" />
    <sky-icon iconName="calendar-ltr" iconSize="l" />
    <sky-icon iconName="calendar-ltr" iconSize="xl" />
    <sky-icon iconName="calendar-ltr" iconSize="xxl" />
  </div>
</div>
<div class="icon-sheet">
  <div *ngFor="let icon of icons" class="icon-sheet--icon sky-padding-even-md">
    <sky-icon size="lg" [icon]="icon.name" />
    <span>{{ icon.name }}</span>
  </div>
</div>
<div class="icon-sheet">
  <div *ngFor="let fa of faIcons" class="icon-sheet--icon sky-padding-even-md">
    <sky-icon size="lg" [icon]="fa" />
    <span>{{ fa }}</span>
  </div>
</div>
<div class="sky-padding-even-md icon-svg-compare">
  <div class="sky-margin-stacked-lg">
    <sky-icon icon="sparkles-2" size="md" />
    <sky-icon iconName="sparkles" />
    <sky-icon icon="sparkles-2" size="lg" />
    <sky-icon iconName="sparkles" size="lg" />
    <sky-icon icon="sparkles-2" size="2x" />
    <sky-icon iconName="sparkles" size="2x" />
    <sky-icon icon="sparkles-2" size="3x" />
    <sky-icon iconName="sparkles" size="3x" />
    <sky-icon icon="sparkles-2" size="4x" />
    <sky-icon iconName="sparkles" size="4x" />
    <sky-icon icon="sparkles-2" size="5x " />
    <sky-icon iconName="sparkles" size="5x" />

    <sky-icon iconName="alert" />
    <sky-icon iconName="alert" size="lg" />
    <sky-icon iconName="alert" size="2x" />
    <sky-icon iconName="alert" size="3x" />
    <sky-icon iconName="alert" size="4x" />
    <sky-icon iconName="alert" size="5x" />

    <sky-icon iconName="attach" />
    <sky-icon iconName="attach" size="lg" />
    <sky-icon iconName="attach" size="2x" />
    <sky-icon iconName="attach" size="3x" />
    <sky-icon iconName="attach" size="4x" />
    <sky-icon iconName="attach" size="5x" />
    Some text.
  </div>
  <div>
    <button type="button" class="sky-btn sky-btn-primary sky-margin-inline-sm">
      <sky-icon iconName="clipboard-multiple" /> Copy
    </button>
    <button type="button" class="sky-btn sky-btn-primary sky-margin-inline-sm">
      <sky-icon icon="copy-to-clipboard" size="md" /> Copy
    </button>
    <button type="button" class="sky-btn sky-btn-primary">
      <sky-icon iconName="alert" /> Alert
    </button>
  </div>
</div>
