<sky-angular-tree-wrapper>
  <tree-root [nodes]="nodes" #tree>
    <ng-template
      let-index="index"
      let-node
      let-templates="templates"
      #treeNodeFullTemplate
    >
      <sky-angular-tree-node
        [helpPopoverContent]="
          node.data.showHelp
            ? 'Example help content for ' + node.data.name + '.'
            : undefined
        "
        [index]="index"
        [node]="node"
        [templates]="templates"
      />
    </ng-template>
  </tree-root>
</sky-angular-tree-wrapper>
