form {
  display: grid;
  grid-template-columns: 50%;
  grid-gap: 1rem;
  width: 100%;

  .fields-column {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    width: 100%;

    &.easy-mode-fields {
      grid-column-start: 0;
      grid-column-end: 1;
    }

    &.hard-mode-fields {
      grid-column-start: 1;
    }

    .sky-form-group {
      grid-column-start: 0;
      grid-column-end: 1;
    }

    .height-measure {
      grid-column-start: 1;
      display: flex;
      align-items: center;
    }
  }
}
