<form
  class="lookup-demo-form"
  novalidate
  [formGroup]="favoritesForm"
  (ngSubmit)="onSubmit()"
>
  <div>
    <sky-input-box
      stacked="true"
      data-sky-id="favorite-names-field"
      labelText="Favorite name(s)"
    >
      <sky-lookup
        formControlName="favoriteNames"
        idProperty="name"
        [enableShowMore]="true"
        (searchAsync)="searchAsync($event)"
        [showAddButton]="true"
        (addClick)="addClick($event)"
      >
      </sky-lookup>
    </sky-input-box>
  </div>
  <div class="lookup-demo-alert">
    <strong>Form model:</strong>
    <pre>{{ favoritesForm.value | json }}</pre>
  </div>
  <button class="sky-btn sky-btn-default" type="submit">Submit</button>
</form>
