:root {
  --viewport-width: 1280px;
  --viewport-height: 800px;
}

app-data-manager.use-auto-height-dom-layout {
  display: block;
  height: var(--viewport-height);
  width: var(--viewport-width);
  overflow: hidden;
  overflow-y: auto;
}

app-data-manager.use-normal-dom-layout {
  position: relative;
  top: 0;
  left: 0;
  height: var(--viewport-height);
  width: var(--viewport-width);
  display: block;

  sky-data-manager,
  sky-data-view,
  sky-ag-grid-wrapper,
  .sky-ag-grid,
  ag-grid-angular {
    display: block;
    height: 100%;
    width: 100%;
  }

  sky-data-manager > .sky-data-manager {
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
    height: 100%;
    width: 100%;
  }
}

form > * {
  display: inline-block;
}
