# Ignore artifacts:
/.angular
/.nyc_output
/coverage
/dist
/libs/sdk/skyux-eslint/**/*.md
/libs/sdk/skyux-eslint/**/__deprecations.json
/node_modules
/temp
/tmp
__snapshots__
package-lock.json

# Don't format the following since the order of its import statements is deliberate.
test.ts

# The 'release-please' GitHub action is responsible for the changelog's content.
CHANGELOG.md

/.nx/cache
/.nx/workspace-data

*.template

.angular
