# Ignore artifacts:
/.angular
/.nyc_output
/coverage
/dist
/node_modules
/temp
/tmp
package-lock.json

# Don't format the following since the order of its import statements is deliberate.
test.ts

# The 'release-please' GitHub action is responsible for the changelog's content.
CHANGELOG.md

# Prettier cannot handle the following file, it will throw an error, possibly related to the import sorting plugin.
/libs/components/packages/src/schematics/migrations/update-7/fix-mixed-case-imports.ts
