{
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
