<sky-page layout="blocks">
  <sky-page-content>
    <h2>Number (default)</h2>

    <sky-box headingText="Campaign performance">
      <sky-box-content>
        <sky-chart headingText="Acquisitions by month">
          <sky-chart-bar>
            <sky-chart-category-axis
              labelHidden
              labelText="Month"
              [categories]="months"
            />
            <sky-chart-value-axis labelText="Acquisitions" />
            <sky-chart-series
              labelText="Acquisitions"
              [values]="acquisitions"
            />
          </sky-chart-bar>
        </sky-chart>
      </sky-box-content>
    </sky-box>

    <h2>Currency</h2>

    <sky-box headingText="Campaign performance">
      <sky-box-content>
        <sky-chart headingText="Revenue by month">
          <sky-chart-bar>
            <sky-chart-category-axis
              labelHidden
              labelText="Month"
              [categories]="months"
            />
            <sky-chart-value-axis
              currencyCode="EUR"
              digits="0"
              format="currency"
              labelText="Revenue"
            />
            <sky-chart-series labelText="Revenue" [values]="revenue" />
          </sky-chart-bar>
        </sky-chart>
      </sky-box-content>
    </sky-box>

    <h2>Percent</h2>

    <sky-box headingText="Campaign performance">
      <sky-box-content>
        <sky-chart headingText="Conversion rate by month">
          <sky-chart-bar>
            <sky-chart-category-axis labelText="Month" [categories]="months" />
            <sky-chart-value-axis format="percent" labelText="Conversion" />
            <sky-chart-series
              labelText="Conversion rate"
              [values]="conversionRate"
            />
          </sky-chart-bar>
        </sky-chart>
      </sky-box-content>
    </sky-box>
  </sky-page-content>
</sky-page>
