<sky-inline-form
  [config]="inlineFormConfig"
  [showForm]="showForm"
  [template]="inlineFormTemplate"
>
  <table>
    <tr>
      <th>First name:</th>
      <td>
        {{ firstName }}
      </td>
      <td>
        <button
          class="sky-btn sky-btn-icon-borderless"
          (click)="onInlineFormOpen()"
        >
          <sky-icon icon="pencil"></sky-icon>
        </button>
      </td>
    </tr>
  </table>
</sky-inline-form>

<ng-template #inlineFormTemplate>
  <form novalidate [formGroup]="myForm">
    <div class="sky-form-group">
      <sky-input-box>
        <label class="sky-control-label"> First name </label>
        <input
          class="sky-form-control"
          formControlName="myFirstName"
          type="text"
        />
      </sky-input-box>
    </div>
  </form>
</ng-template>
