<sky-status-indicator descriptionType="error" indicatorType="danger">
  Danger status indicator
</sky-status-indicator>

<sky-status-indicator descriptionType="important-info" indicatorType="info">
  Info status indicator
</sky-status-indicator>

<sky-status-indicator descriptionType="completed" indicatorType="success">
  Success status indicator
</sky-status-indicator>

<sky-status-indicator descriptionType="warning" indicatorType="warning">
  Warning status indicator
</sky-status-indicator>

<sky-status-indicator
  descriptionType="custom"
  indicatorType="warning"
  customDescription="Custom warning"
>
  Warning status indicator with custom screen reader description
</sky-status-indicator>
