<h2>Updates query string</h2>

<button
  class="sky-btn sky-margin-stacked-xl"
  type="button"
  (click)="setQueryParamAndReload()"
>
  Set query param and reload
</button>

<sky-data-grid pageSize="5" pageQueryParam="page" [data]="data" [page]="page()">
  <sky-data-grid-column field="name" headingText="name" />
  <sky-data-grid-column
    field="age"
    headingText="age"
    dataType="number"
    width="55"
  />
  <sky-data-grid-column
    field="startDate"
    headingText="start date"
    dataType="date"
  />
  <sky-data-grid-column
    field="endDate"
    headingText="end date"
    dataType="date"
  />
  <sky-data-grid-column field="department" headingText="department">
    <ng-template let-value="value">{{ value.name }}</ng-template>
  </sky-data-grid-column>
  <sky-data-grid-column field="jobTitle" headingText="job title">
    <ng-template let-value="value">{{ value.name }}</ng-template>
  </sky-data-grid-column>
</sky-data-grid>

<h2>No query string, just paging</h2>
<sky-data-grid pageSize="5" [data]="data">
  <sky-data-grid-column field="name" headingText="name" />
  <sky-data-grid-column
    field="age"
    headingText="age"
    dataType="number"
    width="55"
  />
  <sky-data-grid-column
    field="startDate"
    headingText="start date"
    dataType="date"
  />
  <sky-data-grid-column
    field="endDate"
    headingText="end date"
    dataType="date"
  />
  <sky-data-grid-column field="department" headingText="department">
    <ng-template let-value="value">{{ value.name }}</ng-template>
  </sky-data-grid-column>
  <sky-data-grid-column field="jobTitle" headingText="job title">
    <ng-template let-value="value">{{ value.name }}</ng-template>
  </sky-data-grid-column>
</sky-data-grid>
