<h2>Category Colors</h2>
<div class="sky-data-viz-colors-grid">
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-category-1</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-category-1"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-category-2</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-category-2"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-category-3</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-category-3"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-category-4</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-category-4"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-category-5</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-category-5"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-category-6</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-category-6"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-category-7</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-category-7"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-category-8</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-category-8"></div>
  </div>
</div>

<h2>Sequence Colors</h2>
<div class="sky-data-viz-colors-grid">
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-sequence-1</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-sequence-1"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-sequence-2</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-sequence-2"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-sequence-3</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-sequence-3"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-sequence-4</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-sequence-4"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-sequence-5</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-sequence-5"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-sequence-6</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-sequence-6"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-sequence-7</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-sequence-7"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-sequence-8</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-sequence-8"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-sequence-9</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-sequence-9"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-sequence-10</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-sequence-10"></div>
  </div>
</div>

<h2>Diverging Colors - Negative</h2>
<div class="sky-data-viz-colors-grid">
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-neg-10</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-diverge-neg-10"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-neg-9</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-neg-9"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-neg-8</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-neg-8"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-neg-7</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-neg-7"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-neg-6</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-neg-6"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-neg-5</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-neg-5"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-neg-4</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-neg-4"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-neg-3</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-neg-3"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-neg-2</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-neg-2"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-neg-1</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-neg-1"></div>
  </div>
</div>

<h2>Diverging Colors - Positive</h2>
<div class="sky-data-viz-colors-grid">
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-pos-1</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-pos-1"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-pos-2</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-pos-2"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-pos-3</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-pos-3"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-pos-4</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-pos-4"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-pos-5</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-pos-5"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-pos-6</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-pos-6"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-pos-7</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-pos-7"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-pos-8</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-pos-8"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-pos-9</span
    >
    <div class="sky-data-viz-color-item sky-data-viz-color-diverge-pos-9"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-viz-diverge-pos-10</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-diverge-pos-10"
    ></div>
  </div>
</div>

<h2>Chart Elements</h2>
<div class="sky-data-viz-colors-grid">
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label">--sky-theme-color-viz-axis</span>
    <div class="sky-data-viz-color-item sky-data-viz-color-axis"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label">--sky-theme-color-viz-gridline</span>
    <div class="sky-data-viz-color-item sky-data-viz-color-gridline"></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label">--sky-theme-color-viz-marker</span>
    <div class="sky-data-viz-color-item sky-data-viz-color-marker"></div>
  </div>
</div>

<h2>Classification Colors</h2>
<div class="sky-data-viz-colors-grid">
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-1-heavy</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-1-heavy"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-1-soft</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-1-soft"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-2-heavy</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-2-heavy"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-2-soft</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-2-soft"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-3-heavy</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-3-heavy"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-3-soft</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-3-soft"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-4-heavy</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-4-heavy"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-4-soft</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-4-soft"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-5-heavy</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-5-heavy"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-5-soft</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-5-soft"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-6-heavy</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-6-heavy"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-6-soft</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-6-soft"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-7-heavy</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-7-heavy"
    ></div>
  </div>
  <div class="sky-data-viz-color-wrapper">
    <span class="sky-data-viz-color-label"
      >--sky-theme-color-classify-7-soft</span
    >
    <div
      class="sky-data-viz-color-item sky-data-viz-color-classify-7-soft"
    ></div>
  </div>
</div>
