.data-viz-colors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.data-viz-color-wrapper {
  display: flex;
  flex-direction: column;
}

.data-viz-color-item {
  height: 80px;
}

/* Category colors */
.data-viz-color-category-1 {
  background-color: var(--sky-theme-color-viz-category-1);
}

.data-viz-color-category-2 {
  background-color: var(--sky-theme-color-viz-category-2);
}

.data-viz-color-category-3 {
  background-color: var(--sky-theme-color-viz-category-3);
}

.data-viz-color-category-4 {
  background-color: var(--sky-theme-color-viz-category-4);
}

.data-viz-color-category-5 {
  background-color: var(--sky-theme-color-viz-category-5);
}

.data-viz-color-category-6 {
  background-color: var(--sky-theme-color-viz-category-6);
}

.data-viz-color-category-7 {
  background-color: var(--sky-theme-color-viz-category-7);
}

.data-viz-color-category-8 {
  background-color: var(--sky-theme-color-viz-category-8);
}

/* Sequence colors */
.data-viz-color-sequence-1 {
  background-color: var(--sky-theme-color-viz-sequence-1);
}

.data-viz-color-sequence-2 {
  background-color: var(--sky-theme-color-viz-sequence-2);
}

.data-viz-color-sequence-3 {
  background-color: var(--sky-theme-color-viz-sequence-3);
}

.data-viz-color-sequence-4 {
  background-color: var(--sky-theme-color-viz-sequence-4);
}

.data-viz-color-sequence-5 {
  background-color: var(--sky-theme-color-viz-sequence-5);
}

.data-viz-color-sequence-6 {
  background-color: var(--sky-theme-color-viz-sequence-6);
}

.data-viz-color-sequence-7 {
  background-color: var(--sky-theme-color-viz-sequence-7);
}

.data-viz-color-sequence-8 {
  background-color: var(--sky-theme-color-viz-sequence-8);
}

.data-viz-color-sequence-9 {
  background-color: var(--sky-theme-color-viz-sequence-9);
}

.data-viz-color-sequence-10 {
  background-color: var(--sky-theme-color-viz-sequence-10);
}

/* Diverging colors - negative */
.data-viz-color-diverge-neg-1 {
  background-color: var(--sky-theme-color-viz-diverge-neg-1);
}

.data-viz-color-diverge-neg-2 {
  background-color: var(--sky-theme-color-viz-diverge-neg-2);
}

.data-viz-color-diverge-neg-3 {
  background-color: var(--sky-theme-color-viz-diverge-neg-3);
}

.data-viz-color-diverge-neg-4 {
  background-color: var(--sky-theme-color-viz-diverge-neg-4);
}

.data-viz-color-diverge-neg-5 {
  background-color: var(--sky-theme-color-viz-diverge-neg-5);
}

.data-viz-color-diverge-neg-6 {
  background-color: var(--sky-theme-color-viz-diverge-neg-6);
}

.data-viz-color-diverge-neg-7 {
  background-color: var(--sky-theme-color-viz-diverge-neg-7);
}

.data-viz-color-diverge-neg-8 {
  background-color: var(--sky-theme-color-viz-diverge-neg-8);
}

.data-viz-color-diverge-neg-9 {
  background-color: var(--sky-theme-color-viz-diverge-neg-9);
}

.data-viz-color-diverge-neg-10 {
  background-color: var(--sky-theme-color-viz-diverge-neg-10);
}

/* Diverging colors - positive */
.data-viz-color-diverge-pos-1 {
  background-color: var(--sky-theme-color-viz-diverge-pos-1);
}

.data-viz-color-diverge-pos-2 {
  background-color: var(--sky-theme-color-viz-diverge-pos-2);
}

.data-viz-color-diverge-pos-3 {
  background-color: var(--sky-theme-color-viz-diverge-pos-3);
}

.data-viz-color-diverge-pos-4 {
  background-color: var(--sky-theme-color-viz-diverge-pos-4);
}

.data-viz-color-diverge-pos-5 {
  background-color: var(--sky-theme-color-viz-diverge-pos-5);
}

.data-viz-color-diverge-pos-6 {
  background-color: var(--sky-theme-color-viz-diverge-pos-6);
}

.data-viz-color-diverge-pos-7 {
  background-color: var(--sky-theme-color-viz-diverge-pos-7);
}

.data-viz-color-diverge-pos-8 {
  background-color: var(--sky-theme-color-viz-diverge-pos-8);
}

.data-viz-color-diverge-pos-9 {
  background-color: var(--sky-theme-color-viz-diverge-pos-9);
}

.data-viz-color-diverge-pos-10 {
  background-color: var(--sky-theme-color-viz-diverge-pos-10);
}

/* Chart elements */
.data-viz-color-axis {
  background-color: var(--sky-theme-color-viz-axis);
}

.data-viz-color-gridline {
  background-color: var(--sky-theme-color-viz-gridline);
}

.data-viz-color-marker {
  background-color: var(--sky-theme-color-viz-marker);
}

/* Classification colors */
.data-viz-color-classify-1-heavy {
  background-color: var(--sky-theme-color-classify-1-heavy);
}

.data-viz-color-classify-1-soft {
  background-color: var(--sky-theme-color-classify-1-soft);
}

.data-viz-color-classify-2-heavy {
  background-color: var(--sky-theme-color-classify-2-heavy);
}

.data-viz-color-classify-2-soft {
  background-color: var(--sky-theme-color-classify-2-soft);
}

.data-viz-color-classify-3-heavy {
  background-color: var(--sky-theme-color-classify-3-heavy);
}

.data-viz-color-classify-3-soft {
  background-color: var(--sky-theme-color-classify-3-soft);
}

.data-viz-color-classify-4-heavy {
  background-color: var(--sky-theme-color-classify-4-heavy);
}

.data-viz-color-classify-4-soft {
  background-color: var(--sky-theme-color-classify-4-soft);
}

.data-viz-color-classify-5-heavy {
  background-color: var(--sky-theme-color-classify-5-heavy);
}

.data-viz-color-classify-5-soft {
  background-color: var(--sky-theme-color-classify-5-soft);
}

.data-viz-color-classify-6-heavy {
  background-color: var(--sky-theme-color-classify-6-heavy);
}

.data-viz-color-classify-6-soft {
  background-color: var(--sky-theme-color-classify-6-soft);
}

.data-viz-color-classify-7-heavy {
  background-color: var(--sky-theme-color-classify-7-heavy);
}

.data-viz-color-classify-7-soft {
  background-color: var(--sky-theme-color-classify-7-soft);
}
