<sky-data-manager>
  <sky-data-manager-toolbar>
    <sky-data-manager-toolbar-primary-item>
      <form [formGroup]="gridSettings">
        <sky-checkbox
          formControlName="enableTopScroll"
          iconName="arrow-fit"
          title="Top scroll"
          labelText="Top scroll"
          labelHidden
        />
        <sky-checkbox
          formControlName="showSelect"
          iconName="checkmark"
          title="Selection"
          labelText="Enable selection"
          labelHidden
        />
        <sky-checkbox
          formControlName="showDelete"
          iconName="delete"
          title="Delete"
          labelText="Show delete buttons"
          labelHidden
        />
        <sky-checkbox
          formControlName="wrapText"
          iconName="text-align-left"
          title="Wrap text"
          labelText="Wrap text"
          labelHidden
        />
        <sky-checkbox
          formControlName="compact"
          iconName="crop"
          title="Compact layout"
          labelText="Compact layout"
          labelHidden
        />
        <sky-radio-group
          headingText="DOM layout"
          headingHidden
          formControlName="domLayout"
          class="sky-switch-icon-group"
        >
          <sky-radio
            iconName="square"
            title="Normal DOM layout, AG Grid pins the header row"
            labelText="Normal"
            value="normal"
            labelHidden
          />
          <sky-radio
            iconName="arrow-maximize"
            title="Auto-height DOM layout, skyViewkeeper pins the header row"
            labelText="Auto-height"
            value="autoHeight"
            labelHidden
          />
        </sky-radio-group>
      </form>
    </sky-data-manager-toolbar-primary-item>
  </sky-data-manager-toolbar>
  <sky-filter-bar
    skyDataManagerFilterController
    [selectedFilterIds]="[]"
    [(appliedFilters)]="appliedFilters"
  >
    <sky-filter-item-lookup
      filterId="culture"
      labelText="Culture"
      searchDescriptorProperty="culture"
      searchIdProperty="culture"
      (searchAsync)="searchCulture($event)"
    />
  </sky-filter-bar>
  @if (ready()) {
    <sky-data-grid
      [appliedFilters]="appliedFilters()"
      [compact]="gridSettingsChanges()?.compact"
      [data]="items()"
      [multiselect]="gridSettingsChanges()?.showSelect"
      [topScrollEnabled]="gridSettingsChanges()?.enableTopScroll"
      [height]="height()"
      [viewId]="viewId"
      [(rowDeleteIds)]="rowDeleteIds"
      (rowDeleteConfirm)="deleteConfirm($event)"
      (selectedRowIdsChange)="selectionChange($event)"
    >
      <sky-data-grid-column
        columnId="menu"
        headingText="Menu"
        headingHidden
        locked
        width="50"
        [sortable]="false"
        [resizable]="false"
        [template]="contextMenu"
      />
      <sky-data-grid-column field="object_date" headingText="Object Date" />
      <sky-data-grid-column
        field="object_number"
        headingText="Object Number"
        dataType="text"
        helpPopoverTitle="Object Number"
        helpPopoverContent="This is the number of the object"
      />
      <sky-data-grid-column
        field="is_highlight"
        headingText="Is Highlight"
        dataType="boolean"
      />
      <sky-data-grid-column
        field="is_timeline_work"
        headingText="Is Timeline Work"
        dataType="boolean"
      />
      <sky-data-grid-column
        field="is_public_domain"
        headingText="Is Public Domain"
        dataType="boolean"
      />
      <sky-data-grid-column
        field="object_id"
        headingText="Object ID"
        dataType="number"
      />
      <sky-data-grid-column
        field="gallery_number"
        headingText="Gallery Number"
      />
      <sky-data-grid-column
        field="department"
        headingText="Department"
        [wrapText]="gridSettingsChanges()?.wrapText"
      />
      <sky-data-grid-column field="accessionyear" headingText="AccessionYear" />
      <sky-data-grid-column field="object_name" headingText="Object" />
      <sky-data-grid-column field="title" headingText="Title" />
      <sky-data-grid-column
        field="culture"
        headingText="Culture"
        filterOperator="equals"
      />
      <sky-data-grid-column field="period" headingText="Period" />
      <sky-data-grid-column field="dynasty" headingText="Dynasty" />
      <sky-data-grid-column field="reign" headingText="Reign" />
      <sky-data-grid-column field="portfolio" headingText="Portfolio" />
      <sky-data-grid-column
        field="constituent_id"
        headingText="Constituent ID"
      />
      <sky-data-grid-column field="artist_role" headingText="Artist Role" />
      <sky-data-grid-column field="artist_prefix" headingText="Artist Prefix" />
      <sky-data-grid-column
        field="artist_display_name"
        headingText="Artist Display Name"
      />
      <sky-data-grid-column
        field="artist_display_bio"
        headingText="Artist Display Bio"
      />
      <sky-data-grid-column field="artist_suffix" headingText="Artist Suffix" />
      <sky-data-grid-column
        field="artist_alpha_sort"
        headingText="Artist Alpha Sort"
      />
      <sky-data-grid-column
        field="artist_nationality"
        headingText="Artist Nationality"
      />
      <sky-data-grid-column
        field="artist_begin_date"
        headingText="Artist Begin Date"
      />
      <sky-data-grid-column
        field="artist_end_date"
        headingText="Artist End Date"
      />
      <sky-data-grid-column field="artist_gender" headingText="Artist Gender" />
      <sky-data-grid-column
        field="artist_ulan_url"
        headingText="Artist ULAN URL"
      >
        <ng-template let-value="value"
          ><app-custom-link [link]="value"
        /></ng-template>
      </sky-data-grid-column>
      <sky-data-grid-column
        field="artist_wikidata_url"
        headingText="Artist Wikidata URL"
      >
        <ng-template let-value="value"
          ><app-custom-link [link]="value"
        /></ng-template>
      </sky-data-grid-column>
      <sky-data-grid-column field="object_date" headingText="Object Date" />
      <sky-data-grid-column
        field="object_begin_date"
        headingText="Object Begin Date"
      />
      <sky-data-grid-column
        field="object_end_date"
        headingText="Object End Date"
      />
      <sky-data-grid-column
        field="medium"
        headingText="Medium"
        [wrapText]="gridSettingsChanges()?.wrapText"
      />
      <sky-data-grid-column field="dimensions" headingText="Dimensions" />
      <sky-data-grid-column
        field="credit_line"
        headingText="Credit Line"
        [wrapText]="gridSettingsChanges()?.wrapText"
      />
      <sky-data-grid-column
        field="geography_type"
        headingText="Geography Type"
        [wrapText]="gridSettingsChanges()?.wrapText"
      />
      <sky-data-grid-column field="city" headingText="City" />
      <sky-data-grid-column field="state" headingText="State" />
      <sky-data-grid-column field="county" headingText="County" />
      <sky-data-grid-column field="country" headingText="Country" />
      <sky-data-grid-column field="region" headingText="Region" />
      <sky-data-grid-column field="subregion" headingText="Subregion" />
      <sky-data-grid-column field="locale" headingText="Locale" />
      <sky-data-grid-column field="locus" headingText="Locus" />
      <sky-data-grid-column field="excavation" headingText="Excavation" />
      <sky-data-grid-column field="river" headingText="River" />
      <sky-data-grid-column
        field="classification"
        headingText="Classification"
      />
      <sky-data-grid-column
        field="rights_and_reproduction"
        headingText="Rights and Reproduction"
      />
      <sky-data-grid-column field="link_resource" headingText="Link Resource">
        <ng-template let-value="value"
          ><app-custom-link [link]="value"
        /></ng-template>
      </sky-data-grid-column>
      <sky-data-grid-column
        field="object_wikidata_url"
        headingText="Object Wikidata URL"
      >
        <ng-template let-value="value"
          ><app-custom-link [link]="value"
        /></ng-template>
      </sky-data-grid-column>
      <sky-data-grid-column
        field="tags_wikidata_url"
        headingText="Tags Wikidata URL"
      >
        <ng-template let-value="value"
          ><app-custom-link [link]="value"
        /></ng-template>
      </sky-data-grid-column>
    </sky-data-grid>
  }
</sky-data-manager>

<ng-template #contextMenu let-row="row">
  <sky-dropdown buttonType="context-menu">
    <sky-dropdown-menu
      ><sky-dropdown-item>
        <button type="button" (click)="markForDelete(row.id)">Delete</button>
      </sky-dropdown-item>
    </sky-dropdown-menu>
  </sky-dropdown>
</ng-template>
