<div class="static-popover-container">
  <div *ngFor="let popoverType of popoverTypes" class="static-popover-column">
    <ng-container *ngFor="let popoverTitle of titles">
      <div
        *ngFor="let popoverPlacement of placements"
        class="static-popover-wrapper"
      >
        <button
          type="button"
          [skyPopover]="staticPopover"
          [skyPopoverMessageStream]="staticPopoverMessageStream"
          class="static-popover-button"
          [ngClass]="'static-popover-button-' + popoverPlacement"
        ></button>
        <sky-popover
          #staticPopover
          [placement]="popoverPlacement"
          [popoverTitle]="popoverTitle"
          [popoverType]="popoverType"
          alignment="center"
        >
          <div class="popover-message">
            The content of a popover can be text, HTML, or Angular components.
          </div>
        </sky-popover>
      </div>
    </ng-container>
  </div>

  <div id="popovers-ready" *ngIf="ready | async"></div>
</div>
