<div class="static-popover-container">
  @for (popoverType of popoverTypes; track popoverType) {
    <div class="static-popover-column">
      @for (popoverTitle of titles; track popoverTitle) {
        @for (popoverPlacement of placements; track popoverPlacement) {
          <div class="static-popover-wrapper">
            <button
              aria-label="Button"
              class="static-popover-button"
              type="button"
              [skyPopover]="staticPopover"
              [skyPopoverMessageStream]="staticPopoverMessageStream"
              [ngClass]="'static-popover-button-' + popoverPlacement"
            ></button>
            <sky-popover
              #staticPopover
              alignment="center"
              [placement]="popoverPlacement"
              [popoverTitle]="popoverTitle"
              [popoverType]="popoverType"
              (popoverOpened)="onPopoverOpened()"
            >
              <div class="popover-message">
                The content of a popover can be text, HTML, or Angular
                components.
              </div>
            </sky-popover>
          </div>
        }
      }
    </div>
  }

  @if (ready()) {
    <div id="popovers-ready"></div>
  }
</div>
