body {
  min-width: 2200px;
  min-height: 800px;
}

.static-popover-row {
  margin: 0;
}

.static-popover-wrapper {
  // modern v2 popovers are either 40% of the view width or 50 characters wide, whichever is smaller. 50 characters is approxmately 525px right now,
  // so setting the width to 540px gives it the space it would need at the widest possible width + some extra space for the trigger button and spacing.
  width: 540px;
  height: 180px;
  display: inline-block;
  position: relative;
}

.static-popover-button {
  height: 10px;
  width: 10px;
  border: solid 1px #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  position: absolute;

  &-above {
    bottom: 0;
    left: 265px;
  }

  &-below {
    top: 0;
    left: 265px;
  }

  &-right {
    top: 85px;
    left: 0;
  }

  &-left {
    top: 85px;
    right: 0;
  }
}
