<ng-container *ngFor="let popoverType of popoverTypes">
  <div *ngFor="let popoverTitle of titles" class="static-popover-row">
    <div
      *ngFor="let poveroverPlacement of placements"
      class="static-popover-wrapper"
    >
      <button
        type="button"
        [skyPopover]="staticPopover"
        [skyPopoverMessageStream]="staticPopoverMessageStream"
        class="static-popover-button"
        [ngClass]="'static-popover-button-' + poveroverPlacement"
      ></button>
      <sky-popover
        #staticPopover
        [placement]="poveroverPlacement"
        [popoverTitle]="popoverTitle"
        [popoverType]="popoverType"
        alignment="center"
      >
        <div class="popover-message">
          The content of a popover can be text, HTML, or Angular components.
        </div>
      </sky-popover>
    </div>
  </div>
</ng-container>

<div id="popovers-ready" *ngIf="ready | async"></div>
