body {
  min-width: 1280px;
  min-height: 1600px;
}

.static-popover-container {
  display: flex;
}

.static-popover-column {
  display: flex;
  flex-direction: column;
}

.static-popover-wrapper {
  // modern v2 popovers are either 40% of the view width or 50 characters wide, whichever is smaller. 50 characters is approximately 525px right now,
  // so setting the width to 600px gives it the space it would need at the widest possible width + some extra space for the trigger button and spacing.
  width: 600px;
  height: 180px;
  margin: 10px;
  display: inline-block;
  position: relative;
}

.static-popover-button {
  height: 10px;
  width: 10px;
  border: solid 1px #000;
  background-color: #fff;
  border-radius: 5px;
  padding: 0;
  position: absolute;

  &-above {
    bottom: 0;
    left: 295px;
  }

  &-below {
    top: 0;
    left: 295px;
  }

  &-right {
    top: 85px;
    left: 0;
  }

  &-left {
    top: 85px;
    right: 0;
  }
}
