<div class="input-box-visual sky-padding-even-large" id="screenshot-input-box">
  <div id="input-box-easy">
    <sky-input-box
      characterLimit="10"
      labelText="Easy mode"
      stacked="true"
      hintText="Here's some hint text."
      [helpKey]="helpKey"
      [helpPopoverContent]="helpPopoverContent"
    >
      <input
        type="text"
        minlength="3"
        required
        aria-describedby="someOtherId"
        [(ngModel)]="myValue"
      />
    </sky-input-box>
  </div>

  <div id="input-box-help-inline-required-with-character-counter-hard">
    <sky-input-box stacked="true">
      <label
        class="sky-control-label sky-control-label-required"
        [for]="inputBoxInlineHelpRequiredCharacterCounter.id"
      >
        Hard mode
      </label>
      <sky-character-counter-indicator #indicator />
      <input
        #inputBoxInlineHelpRequiredCharacterCounter="skyId"
        #myValueModel="ngModel"
        class="sky-form-control"
        skyId
        type="text"
        required
        minlength="4"
        skyCharacterCounter
        [skyCharacterCounterIndicator]="indicator"
        [skyCharacterCounterLimit]="10"
        [(ngModel)]="myValue"
      />

      @if (
        myValueModel.invalid && (myValueModel.dirty || myValueModel.touched)
      ) {
        @if (myValueModel.errors?.['required']) {
          <div class="sky-error-indicator">
            <sky-status-indicator
              descriptionType="error"
              indicatorType="danger"
            >
              Hard mode is required.
            </sky-status-indicator>
          </div>
        }
        @if (myValueModel.errors?.['minlength']; as minLengthError) {
          <div class="sky-error-indicator">
            <sky-status-indicator
              descriptionType="error"
              indicatorType="danger"
            >
              Hard mode must be at least 3 characters(s).
            </sky-status-indicator>
          </div>
        }
        @if (
          myValueModel.errors?.['skyCharacterCounter'];
          as characterCounterError
        ) {
          <div class="sky-error-indicator">
            <sky-status-indicator
              indicatorType="danger"
              descriptionType="error"
            >
              Hard mode must be fewer than 10 character(s).
            </sky-status-indicator>
          </div>
        }
      }
    </sky-input-box>
  </div>

  <div id="input-box-basic">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxBasic.id"> Input </label>
      <input
        #inputBoxBasic="skyId"
        class="sky-form-control"
        skyId
        type="text"
        value="Value"
      />
    </sky-input-box>
  </div>

  <div id="input-box-textarea">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxTextarea.id">
        Textarea
      </label>
      <textarea #inputBoxTextarea="skyId" class="sky-form-control" skyId>
Value</textarea
      >
    </sky-input-box>
  </div>

  <div id="input-box-help-inline">
    <sky-input-box stacked="true">
      <sky-help-inline class="sky-control-help" />
      <label class="sky-control-label" [for]="inputBoxInlineHelp.id">
        Input with inline help
      </label>
      <input
        #inputBoxInlineHelp="skyId"
        class="sky-form-control"
        skyId
        type="text"
        value="Value"
      />
    </sky-input-box>
  </div>

  <div id="input-box-help-inline-required-with-character-counter">
    <sky-input-box stacked="true">
      <sky-help-inline class="sky-control-help" />
      <label
        class="sky-control-label sky-control-label-required"
        [for]="inputBoxInlineHelpRequiredCharacterCounter.id"
      >
        Required input with inline help and character counter
      </label>
      <sky-character-counter-indicator #indicator />
      <input
        #inputBoxInlineHelpRequiredCharacterCounter="skyId"
        class="sky-form-control"
        skyId
        type="text"
        required
        skyCharacterCounter
        [skyCharacterCounterIndicator]="indicator"
        [skyCharacterCounterLimit]="10"
        [(ngModel)]="myValue"
      />
    </sky-input-box>
  </div>

  <div id="input-box-help-inline-overflow">
    <sky-input-box stacked="true">
      <sky-help-inline
        class="sky-control-help"
        (actionClick)="onActionClick()"
      />
      <label class="sky-control-label" [for]="inputBoxInlineHelpOverflow.id">
        Input with inline help and overflowing text. The label should wrap while
        the inline help icon should stick to the top right of the input box.
      </label>
      <input
        #inputBoxInlineHelpOverflow="skyId"
        class="sky-form-control"
        skyId
        type="text"
        value="Value"
      />
    </sky-input-box>
  </div>

  <div id="input-box-help-inline-and-character-count-overflow">
    <sky-input-box stacked="true">
      <sky-help-inline
        class="sky-control-help"
        (actionClick)="onActionClick()"
      />
      <label class="sky-control-label" [for]="inputBoxInlineHelpOverflow.id">
        Input with inline help and overflowing text. The label should wrap while
        the inline help icon should stick to the top right of the input box
        beside the character counter.
      </label>
      <sky-character-counter-indicator #indicator />
      <input
        #inputBoxInlineHelpOverflow="skyId"
        class="sky-form-control"
        skyId
        skyCharacterCounter
        type="text"
        value="Value"
        [skyCharacterCounterIndicator]="indicator"
        [skyCharacterCounterLimit]="10"
      />
    </sky-input-box>
  </div>

  <div id="input-box-help-inline-and-character-count-overflow">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxInlineHelpOverflow.id">
        Input with inline help and overflowing text. The label should wrap while
        leaving margin beside the character counter.
      </label>
      <sky-character-counter-indicator #indicator />
      <input
        #inputBoxInlineHelpOverflow="skyId"
        class="sky-form-control"
        skyId
        skyCharacterCounter
        type="text"
        value="Value"
        [skyCharacterCounterIndicator]="indicator"
        [skyCharacterCounterLimit]="10"
      />
    </sky-input-box>
  </div>

  <div id="input-box-button-single">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxButtonSingle.id">
        Input with one button
      </label>
      <input
        #inputBoxButtonSingle="skyId"
        class="sky-form-control"
        skyId
        type="text"
      />
      <div class="sky-input-group-btn">
        <button class="sky-btn sky-btn-default" type="button">
          <sky-icon iconName="calendar-ltr" iconSize="l" />
        </button>
      </div>
    </sky-input-box>
  </div>

  <div id="input-box-button-multiple">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxButtonMultiple.id">
        Input with multiple buttons
      </label>
      <input
        #inputBoxButtonMultiple="skyId"
        class="sky-form-control"
        skyId
        type="text"
      />
      <div class="sky-input-group-btn">
        <button class="sky-btn sky-btn-default" type="button">
          <sky-icon iconName="calendar-ltr" iconSize="l" />
        </button>
      </div>
      <div class="sky-input-group-btn">
        <button class="sky-btn sky-btn-default" type="button">
          <sky-icon iconName="clock" iconSize="l" />
        </button>
      </div>
    </sky-input-box>
  </div>

  <div id="input-box-side-by-side">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxSideBySide1.id">
        Input left
      </label>
      <input
        #inputBoxSideBySide1="skyId"
        class="sky-form-control"
        skyId
        type="text"
      />
    </sky-input-box>

    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxSideBySide2.id">
        Input right with a label with a lot of text that should wrap and cause
        the height of the input box to expand to fit the extra text instead of
        truncating it.
      </label>
      <input
        #inputBoxSideBySide2="skyId"
        class="sky-form-control"
        skyId
        type="text"
      />
    </sky-input-box>
  </div>

  <div id="input-box-form-control-error">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxFormControlError.id">
        Form control error
      </label>
      <input
        #inputBoxFormControlError="skyId"
        class="sky-form-control"
        skyId
        type="text"
        [formControl]="errorField"
      />
      <div class="sky-error-label">Field is required.</div>
    </sky-input-box>
  </div>

  <div id="input-box-form-control-name-error">
    <form [formGroup]="errorForm">
      <sky-input-box
        labelText="Custom error easy mode"
        stacked="true"
        hintText="type in blue"
      >
        <input formControlName="customError" type="text" />
        @if (customError.errors?.['blue']) {
          <sky-form-error errorName="blue" errorText="Input must be blue." />
        }
      </sky-input-box>
      <sky-input-box
        mode="detect"
        labelText="Form control by name error with status indicator"
      >
        <input formControlName="errorFormField" type="text" />
      </sky-input-box>
      <sky-input-box stacked="true">
        <label
          class="sky-control-label"
          [for]="inputBoxFormControlNameError.id"
        >
          Form control by name error with status indicator
        </label>
        <input
          #inputBoxFormControlNameError="skyId"
          class="sky-form-control"
          formControlName="errorFormField"
          skyId
          type="text"
        />
        <span class="sky-error-indicator">
          <sky-status-indicator indicatorType="danger" descriptionType="error">
            Field is required.
          </sky-status-indicator>
        </span>
      </sky-input-box>
    </form>
  </div>

  <div id="input-box-ngmodel-error">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxNgModelError.id">
        NgModel error
      </label>
      <input
        #errorNgModel="ngModel"
        #inputBoxNgModelError="skyId"
        class="sky-form-control"
        name="errorNgModel"
        required
        skyId
        type="text"
        [(ngModel)]="errorNgModelValue"
      />
      <div class="sky-error-label">Field is required.</div>
    </sky-input-box>
  </div>

  <div id="input-box-form-control-error-button-single">
    <sky-input-box stacked="true">
      <label
        class="sky-control-label"
        [for]="inputBoxFormControlErrorButtonSingle.id"
      >
        Form control error with one button
      </label>
      <input
        #inputBoxFormControlErrorButtonSingle="skyId"
        class="sky-form-control"
        id="field8"
        skyId
        type="text"
        [formControl]="errorField"
      />
      <div class="sky-input-group-btn">
        <button class="sky-btn sky-btn-default" type="button">
          <sky-icon iconName="calendar-ltr" iconSize="l" />
        </button>
      </div>
      <div class="sky-error-label">Field is required.</div>
    </sky-input-box>
  </div>

  <div id="input-box-disabled">
    <sky-input-box stacked="true" [disabled]="true">
      <label class="sky-control-label" [for]="inputBoxDisabled.id">
        Disabled
      </label>
      <input
        #inputBoxDisabled="skyId"
        class="sky-form-control"
        disabled
        skyId
        type="text"
        value="Disabled value"
      />
    </sky-input-box>
  </div>

  <div id="input-box-button-disabled">
    <sky-input-box stacked="true" [disabled]="true">
      <label class="sky-control-label" [for]="inputBoxButtonDisabled.id">
        Input with one button disabled
      </label>
      <input
        #inputBoxButtonDisabled
        disabled
        class="sky-form-control"
        skyId
        type="text"
      />
      <div class="sky-input-group-btn">
        <button disabled class="sky-btn sky-btn-default" type="button">
          <sky-icon iconName="calendar-ltr" iconSize="l" />
        </button>
      </div>
    </sky-input-box>
  </div>

  <div id="input-box-disabled-form-control-error">
    <sky-input-box
      stacked="true"
      labelText="Disabled input with form control error"
    >
      <input type="text" [formControl]="errorDisabledField" />
    </sky-input-box>
  </div>

  <div id="input-box-disabled-ng-model-error">
    <sky-input-box stacked="true" labelText="Disabled input with NgModel error">
      <input
        #errorNgModelDisabled="ngModel"
        type="text"
        required
        disabled
        type="text"
        [(ngModel)]="errorNgModelValue"
      />
    </sky-input-box>
  </div>

  <div id="input-box-select">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxSelect.id">
        Select
      </label>
      <select #inputBoxSelect="skyId" class="sky-form-control" skyId>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
      </select>
    </sky-input-box>
  </div>

  <div id="input-box-select-disabled">
    <sky-input-box stacked="true" [disabled]="true">
      <label class="sky-control-label" [for]="inputBoxSelectDisabled.id">
        Select disabled
      </label>
      <select
        #inputBoxSelectDisabled="skyId"
        disabled
        class="sky-form-control"
        skyId
      >
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
      </select>
    </sky-input-box>
  </div>

  <!-- For automation to click to set focus -->
  <label class="test-label" [for]="inputBoxBasicNoLabel.id"></label>
  <div id="input-box-basic-no-label">
    <sky-input-box stacked="true">
      <input
        #inputBoxBasicNoLabel="skyId"
        class="sky-form-control"
        skyId
        type="text"
        value="No label"
      />
    </sky-input-box>
  </div>

  <!-- For automation to click to set focus -->
  <label class="test-label" [for]="inputBoxTextareaNoLabel.id"></label>
  <div id="input-box-textarea-no-label">
    <sky-input-box stacked="true">
      <textarea #inputBoxTextareaNoLabel="skyId" class="sky-form-control" skyId>
No label</textarea
      >
    </sky-input-box>
  </div>

  <!-- For automation to click to set focus -->
  <label
    class="test-label"
    id="label-input-box-button-single-no-label"
    [for]="inputBoxButtonSingleNoLabel.id"
  >
  </label>
  <div id="input-box-button-single-no-label">
    <sky-input-box stacked="true">
      <input
        #inputBoxButtonSingleNoLabel="skyId"
        class="sky-form-control"
        skyId
        type="text"
        value="No label with one button"
      />
      <div class="sky-input-group-btn">
        <button class="sky-btn sky-btn-default" type="button">
          <sky-icon iconName="calendar-ltr" iconSize="l" />
        </button>
      </div>
    </sky-input-box>
  </div>

  <!-- For automation to click to set focus -->
  <label
    class="test-label"
    id="label-input-box-select-no-label"
    [for]="inputBoxSelectNoLabel.id"
  >
  </label>
  <div id="input-box-select-no-label">
    <sky-input-box stacked="true">
      <select #inputBoxSelectNoLabel="skyId" class="sky-form-control" skyId>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
      </select>
    </sky-input-box>
  </div>

  <div id="input-box-basic-wrapper">
    <sky-input-box stacked="true" hintText="Input box hint text.">
      <label class="sky-control-label" [for]="inputBoxBasicWrapper.id">
        Wrapper
      </label>
      <app-input-box-visual-host>
        <input
          #inputBoxBasicWrapper="skyId"
          class="sky-form-control"
          skyId
          type="text"
        />
      </app-input-box-visual-host>
    </sky-input-box>
  </div>

  <div id="input-box-button-single-left">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxButtonLeft.id">
        Input with left button
      </label>
      <div class="sky-input-group-btn sky-input-box-btn-left">
        <button class="sky-btn sky-btn-default" type="button">
          <sky-icon iconName="calendar-ltr" iconSize="l" />
        </button>
      </div>
      <input
        #inputBoxButtonLeft="skyId"
        class="sky-form-control"
        skyId
        type="text"
      />
    </sky-input-box>
  </div>

  <div id="input-box-button-inset">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxButtonInset.id">
        Input with inset button
      </label>
      <input
        #inputBoxButtonInset="skyId"
        class="sky-form-control"
        skyId
        type="text"
      />
      <div class="sky-input-group-btn sky-input-box-btn-inset">
        <button class="sky-btn sky-btn-default" type="button">
          <sky-icon iconName="search" iconSize="l" />
        </button>
      </div>
    </sky-input-box>
  </div>

  <div id="input-box-button-inset-no-label">
    <sky-input-box stacked="true">
      <input class="sky-form-control" skyId type="text" />
      <div class="sky-input-group-btn sky-input-box-btn-inset">
        <button class="sky-btn sky-btn-default" type="button">
          <sky-icon iconName="search" iconSize="l" />
        </button>
      </div>
    </sky-input-box>
  </div>

  <div id="input-box-button-inset-narrow">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxButtonInsetNarrow.id">
        Input with inset button (narrow)
      </label>
      <input
        #inputBoxButtonInsetNarrow="skyId"
        class="sky-form-control"
        skyId
        type="text"
      />
      <div class="sky-input-group-btn sky-input-box-btn-inset">
        <button class="sky-btn sky-btn-default" type="button">
          <sky-icon iconName="search" iconSize="l" />
        </button>
      </div>
    </sky-input-box>
  </div>

  <div id="input-box-icon-inset">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxIconInset.id">
        Input with inset icon
      </label>
      <input
        #inputBoxIconInset="skyId"
        class="sky-form-control"
        skyId
        type="text"
      />
      <div class="sky-input-group-icon sky-input-box-icon-inset">
        <sky-icon iconName="search" iconSize="l" />
      </div>
    </sky-input-box>
  </div>

  <div id="input-box-icon-inset-left">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxIconInsetLeft.id">
        Input with left inset icon
      </label>
      <input
        #inputBoxIconInsetLeft="skyId"
        class="sky-form-control"
        skyId
        type="text"
      />
      <div class="sky-input-group-icon sky-input-box-icon-inset-left">
        <sky-icon iconName="search" iconSize="l" />
      </div>
    </sky-input-box>
  </div>

  <div id="input-box-icon-inset-disabled">
    <sky-input-box stacked="true" [disabled]="true">
      <label class="sky-control-label" [for]="inputBoxIconInsetDisabled.id">
        Disabled input with inset icon
      </label>
      <input
        #inputBoxIconInsetDisabled="skyId"
        class="sky-form-control"
        disabled
        skyId
        type="text"
      />
      <div class="sky-input-group-icon sky-input-box-icon-inset">
        <sky-icon iconName="search" iconSize="l" />
      </div>
    </sky-input-box>
  </div>

  <div class="sky-form-group" id="input-box-placeholder">
    <sky-input-box stacked="true">
      <label class="sky-control-label" [for]="inputBoxPlaceholder.id">
        Input W/ Placeholder
      </label>
      <input
        #inputBoxPlaceholder="skyId"
        class="sky-form-control"
        placeholder="Placeholder Text"
        skyId
        type="text"
      />
    </sky-input-box>
  </div>

  <form [formGroup]="errorAutofillForm">
    <div id="input-box-basic-autofill">
      <sky-input-box stacked="true">
        <label class="sky-control-label" [for]="inputBoxBasic.id"
          >First name (autocomplete)
        </label>
        <input
          #inputBoxBasic="skyId"
          class="sky-form-control"
          skyId
          type="text"
          value="Value"
          name="fname"
          autocomplete="given-name"
          required
        />
      </sky-input-box>
    </div>

    <div id="input-box-textarea-autofill">
      <sky-input-box stacked="true">
        <label class="sky-control-label" [for]="inputBoxTextarea.id">
          Address (autocomplete)
        </label>
        <textarea
          #inputBoxTextarea="skyId"
          class="sky-form-control"
          skyId
          name="address"
          autocomplete="street-address"
          required
        >
Value</textarea
        >
      </sky-input-box>
    </div>

    <div id="input-box-error-autofill">
      <sky-input-box stacked="true">
        <label class="sky-control-label" [for]="inputBoxBasic.id"
          >Last name (autocomplete - will fail)
        </label>
        <input
          #inputBoxBasic="skyId"
          class="sky-form-control"
          skyId
          type="text"
          formControlName="errorAutofillFormField"
          name="lname"
          autocomplete="family-name"
          required
        />
      </sky-input-box>
    </div>

    <div id="input-box-textarea-error-autofill">
      <sky-input-box stacked="true">
        <label class="sky-control-label" [for]="inputBoxTextarea.id">
          Address (autocomplete - will fail)
        </label>
        <textarea
          #inputBoxTextarea="skyId"
          class="sky-form-control"
          skyId
          formControlName="errorAutofillTextareaFormField"
          name="address"
          autocomplete="street-address"
          required
        >
Value</textarea
        >
      </sky-input-box>
    </div>

    <sky-form-errors
      labelText="Just errors"
      [errors]="{
        required: true,
        skyUrl: true,
        minlength: { requiredLength: 5 }
      }"
    />

    <button class="sky-btn sky-btn-primary" type="submit">Submit</button>
  </form>
</div>
