<div id="input-box-easy">
  <sky-input-box
    characterLimit="10"
    labelText="Easy mode"
    stacked="true"
    [helpKey]="helpKey"
    [helpPopoverContent]="helpPopoverContent"
    hintText="Here's some hint text."
  >
    <input
      #inputControl="ngModel"
      type="text"
      minlength="3"
      required
      [(ngModel)]="myValue"
      aria-describedby="someOtherId"
      skyEmailValidation
    />
  </sky-input-box>
</div>
<div>touched: {{ inputControl.touched }}</div>
<div>dirty: {{ inputControl.dirty }}</div>
