<sky-input-box
  characterLimit="10"
  labelText="Easy mode"
  stacked="true"
  hintText="Here's some hint text."
  [helpKey]="helpKey"
  [helpPopoverContent]="helpPopoverContent"
>
  <input
    type="text"
    minlength="3"
    required
    aria-describedby="someOtherId"
    [(ngModel)]="myValue"
  />
</sky-input-box>
<form [formGroup]="errorForm">
  <sky-input-box
    labelText="Custom error easy mode"
    stacked="true"
    hintText="type in blue"
  >
    <input formControlName="customError" type="text" />
    <sky-form-error
      *ngIf="customError.errors?.['blue']"
      errorName="blue"
      errorText="Input must be blue."
    />
  </sky-input-box>
</form>
