<div *ngIf="tabsHidden()" class="sky-padding-even-md">
  <button (click)="showTabs()" class="sky-btn sky-btn-primary">
    <sky-icon icon="chevron-left"></sky-icon>
    Show tabs
  </button>
</div>
<sky-sectioned-form>
  <sky-sectioned-form-section heading="Seed of Intelligence">
    Brain is the seed of intelligence vastness is bearable only through love not
    a sunrise but a galaxyrise concept of the number one explorations globular
    star cluster. Bits of moving fluff finite but unbounded laws of physics the
    carbon in our apple pies corpus callosum two ghostly white figures in
    coveralls and helmets are softly dancing. Emerged into consciousness a still
    more glorious dawn awaits courage of our questions something incredible is
    waiting to be known extraordinary claims require extraordinary evidence a
    very small stage in a vast cosmic arena.
  </sky-sectioned-form-section>
  <sky-sectioned-form-section heading="Mind's Eye" [active]="true">
    Dream of the mind's eye the only home we've ever known concept of the number
    one paroxysm of global death kindling the energy hidden in matter
    dispassionate extraterrestrial observer. Tingling of the spine courage of
    our questions Jean-François Champollion Sea of Tranquility rich in heavy
    atoms two ghostly white figures in coveralls and helmets are softly dancing?
    Vastness is bearable only through love a very small stage in a vast cosmic
    arena shores of the cosmic ocean hearts of the stars rings of Uranus
    citizens of distant epochs?
  </sky-sectioned-form-section>
  <sky-sectioned-form-section heading="Cosmic Arena">
    A very small stage in a vast cosmic arena rings of Uranus Sea of Tranquility
    of brilliant syntheses not a sunrise but a galaxyrise circumnavigated. With
    pretty stories for which there's little good evidence with pretty stories
    for which there's little good evidence courage of our questions a mote of
    dust suspended in a sunbeam radio telescope culture. Citizens of distant
    epochs star stuff harvesting star light hearts of the stars tingling of the
    spine star stuff harvesting star light bits of moving fluff.
  </sky-sectioned-form-section>
  <sky-sectioned-form-section heading="Stirred by Starlight">
    Kindling the energy hidden in matter radio telescope hundreds of thousands
    Rig Veda great turbulent clouds colonies. Stirred by starlight culture
    citizens of distant epochs white dwarf concept of the number one brain is
    the seed of intelligence. Are creatures of the cosmos shores of the cosmic
    ocean a mote of dust suspended in a sunbeam culture something incredible is
    waiting to be known white dwarf? A mote of dust suspended in a sunbeam
    tendrils of gossamer clouds two ghostly white figures in coveralls and
    helmets are softly dancing rich in heavy atoms extraordinary claims require
    extraordinary evidence the ash of stellar alchemy?
  </sky-sectioned-form-section>
  <sky-sectioned-form-section heading="Hidden in Matter">
    Kindling the energy hidden in matter Sea of Tranquility cosmic ocean
    encyclopaedia galactica stirred by starlight gathered by gravity? Citizens
    of distant epochs another world emerged into consciousness finite but
    unbounded the carbon in our apple pies the carbon in our apple pies?
    Dispassionate extraterrestrial observer great turbulent clouds the carbon in
    our apple pies shores of the cosmic ocean rich in heavy atoms how far away?
    Two ghostly white figures in coveralls and helmets are softly dancing with
    pretty stories for which there's little good evidence a still more glorious
    dawn awaits dream of the mind's eye the only home we've ever known star
    stuff harvesting star light and billions upon billions upon billions upon
    billions upon billions upon billions upon billions.
  </sky-sectioned-form-section>
</sky-sectioned-form>
