<button
  aria-haspopup="dialog"
  class="sky-btn sky-btn-default sky-margin-inline-sm"
  type="button"
  (click)="openOKConfirm()"
>
  OK confirm
</button>

<button
  aria-haspopup="dialog"
  class="sky-btn sky-btn-default sky-margin-inline-sm"
  type="button"
  (click)="openCustomConfirm()"
>
  Custom confirm
</button>

<p *ngIf="selectedAction && selectedText">
  You selected the "{{ selectedText }}" button, which has an action of "{{
    selectedAction
  }}."
</p>
<p *ngIf="selectedAction && !selectedText">
  You selected the "{{ selectedAction }}" action.
</p>
