<button
  aria-haspopup="dialog"
  class="sky-btn sky-btn-default sky-margin-inline-default"
  type="button"
  (click)="openOKConfirm()"
>
  OK confirm
</button>

<button
  aria-haspopup="dialog"
  class="sky-btn sky-btn-default sky-margin-inline-default"
  type="button"
  (click)="openTwoActionConfirm()"
>
  Confirm with two actions
</button>

<button
  aria-haspopup="dialog"
  class="sky-btn sky-btn-default sky-margin-inline-default"
  type="button"
  (click)="openThreeActionConfirm()"
>
  Confirm with three actions
</button>

<button
  aria-haspopup="dialog"
  class="sky-btn sky-btn-default sky-margin-inline-default"
  type="button"
  (click)="openDeleteConfirm()"
>
  Confirm with delete button
</button>

<p *ngIf="selectedAction && selectedText">
  You selected the "{{ selectedText }}" button, which has an action of "{{
    selectedAction
  }}."
</p>
<p *ngIf="selectedAction && !selectedText">
  You selected the "{{ selectedAction }}" action.
</p>
