<div class="sky-margin-stacked-default">
  <button
    aria-haspopup="dialog"
    class="sky-btn sky-btn-default sky-margin-inline-default"
    type="button"
    (click)="openOKConfirm()"
  >
    OK confirm
  </button>

  <button
    aria-haspopup="dialog"
    class="sky-btn sky-btn-default sky-margin-inline-default"
    type="button"
    (click)="openCustomConfirm()"
  >
    Custom confirm
  </button>
</div>

<p *ngIf="selectedAction && selectedText">
  You selected the "{{ selectedText }}" button, which has an action of "{{
    selectedAction
  }}."
</p>
<p *ngIf="selectedAction && !selectedText">
  You selected the "{{ selectedAction }}" action.
</p>
