<sky-fluid-grid id="standard-checkboxes">
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox [checked]="true">
        <sky-checkbox-label> Checked Checkbox </sky-checkbox-label>
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox [checked]="false">
        <sky-checkbox-label> Unchecked Checkbox </sky-checkbox-label>
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row>
    <sky-column>
      <sky-checkbox [checked]="true">
        <sky-checkbox-label>
          Checkbox with help inline
          <sky-help-inline class="sky-control-help"></sky-help-inline>
        </sky-checkbox-label>
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox [checked]="false" [indeterminate]="true">
        <sky-checkbox-label>
          Indeterminate Checkbox [internal only]
        </sky-checkbox-label>
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox [checked]="false" [disabled]="true" [indeterminate]="true">
        <sky-checkbox-label>
          Disabled Indeterminate Checkbox [internal only]
        </sky-checkbox-label>
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox [checked]="false" [required]="true">
        <sky-checkbox-label> Required Checkbox </sky-checkbox-label>
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        ngModel
        [checked]="false"
        [required]="true"
        helpPopoverContent="content"
        labelText="Checkbox with all easy mode inputs"
        hintText="Hint text"
        id="touched-required-checkbox"
      />
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox [checked]="false" [disabled]="true">
        <sky-checkbox-label> Disabled Checkbox </sky-checkbox-label>
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox [checked]="false" [disabled]="true" [required]="true">
        <sky-checkbox-label> Disabled Required Checkbox </sky-checkbox-label>
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox [checked]="true" [disabled]="true">
        <sky-checkbox-label> Disabled Checked Checkbox </sky-checkbox-label>
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        labelText="Checkbox with easy mode help inline"
        helpPopoverContent="popover Content"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        labelText="Required checkbox with easy mode help inline"
        helpPopoverContent="popover Content"
        [required]="true"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        ngModel
        labelText="Checkbox with easy mode errors and help inline"
        helpPopoverContent="popover Content"
        [required]="true"
        id="touched-easy-mode-checkbox"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <form [formGroup]="standardCheckboxGroupFormGroup">
        <sky-checkbox-group
          [formGroup]="standardCheckboxGroupFormGroup"
          helpPopoverContent="Select up to three."
          helpPopoverTitle="Make a selection"
          hintText="Group hint text"
          labelText="Contact method"
        >
          <sky-checkbox
            formControlName="email"
            labelText="Email"
            hintText="Hint text"
          />
          <sky-checkbox
            formControlName="phone"
            labelText="Phone"
            hintText="Hint text"
          />
          <sky-checkbox
            formControlName="text"
            labelText="Text"
            hintText="Hint text"
          />
          <sky-form-error
            *ngIf="
              standardCheckboxGroupFormGroup.errors?.['contactMethodRequired']
            "
            errorName="contactMethodRequired"
            errorText="A contact method is required."
          ></sky-form-error>
        </sky-checkbox-group>
      </form>
    </sky-column>
  </sky-row>
</sky-fluid-grid>
<sky-fluid-grid id="icon-checkboxes">
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <div class="sky-switch-icon-group">
        <sky-checkbox icon="bold" label="bold" [checked]="true"> </sky-checkbox>
        <sky-checkbox icon="umbrella" label="umbrella" [checked]="false">
        </sky-checkbox>
        <sky-checkbox icon="star" label="favorite" [checked]="false">
        </sky-checkbox>
        <sky-checkbox
          icon="exclamation-triangle"
          label="careful"
          [checked]="false"
        >
        </sky-checkbox>
      </div>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox icon="bold" label="bold" [checked]="true"> </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox icon="bold" label="bold" [checked]="true" [disabled]="true">
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox icon="bold" label="bold" [checked]="false"> </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="umbrella"
        checkboxType="info"
        label="umbrella"
        [checked]="true"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="umbrella"
        checkboxType="info"
        label="umbrella"
        [checked]="true"
        [disabled]="true"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="umbrella"
        checkboxType="info"
        label="umbrella"
        [checked]="false"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="star"
        checkboxType="success"
        label="favorite"
        [checked]="true"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="star"
        checkboxType="success"
        label="favorite"
        [checked]="true"
        [disabled]="true"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="star"
        checkboxType="success"
        label="favorite"
        [checked]="false"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="exclamation-triangle"
        checkboxType="warning"
        label="careful"
        [checked]="true"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="exclamation-triangle"
        checkboxType="warning"
        label="careful"
        [checked]="true"
        [disabled]="true"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="exclamation-triangle"
        checkboxType="warning"
        label="careful"
        [checked]="false"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="ban"
        checkboxType="danger"
        label="wrong"
        [checked]="true"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="ban"
        checkboxType="danger"
        label="wrong"
        [checked]="true"
        [disabled]="true"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <sky-checkbox
        icon="ban"
        checkboxType="danger"
        label="wrong"
        [checked]="false"
      >
      </sky-checkbox>
    </sky-column>
  </sky-row>
  <sky-row class="sky-padding-even-md">
    <sky-column>
      <form [formGroup]="iconCheckboxGroupFormGroup">
        <sky-checkbox-group
          [formGroup]="iconCheckboxGroupFormGroup"
          helpPopoverContent="This should not show up"
          helpPopoverTitle="This should not show up"
          labelText="Text formatting"
          [labelHidden]="true"
        >
          <sky-checkbox formControlName="bold" icon="bold" label="Bold" />
          <sky-checkbox formControlName="italic" icon="italic" label="Italic" />
          <sky-checkbox
            formControlName="underline"
            icon="underline"
            label="Underline"
          />
        </sky-checkbox-group>
      </form>
    </sky-column>
  </sky-row>
</sky-fluid-grid>
