<sky-status-indicator
  data-sky-id="status-indicator-error"
  descriptionType="error"
  indicatorType="danger"
>
  Danger status indicator
</sky-status-indicator>

<sky-status-indicator
  data-sky-id="status-indicator-important-info"
  descriptionType="important-info"
  indicatorType="info"
>
  Info status indicator
</sky-status-indicator>

<sky-status-indicator
  data-sky-id="status-indicator-completed"
  descriptionType="completed"
  indicatorType="success"
>
  Success status indicator
</sky-status-indicator>

<sky-status-indicator
  data-sky-id="status-indicator-warning"
  descriptionType="warning"
  indicatorType="warning"
>
  Warning status indicator
</sky-status-indicator>

<sky-status-indicator
  customDescription="Custom warning"
  data-sky-id="status-indicator-custom"
  descriptionType="custom"
  indicatorType="warning"
>
  Warning status indicator with custom screen reader description
</sky-status-indicator>

<sky-status-indicator
  data-sky-id="status-indicator-error-with-help-key"
  descriptionType="error"
  indicatorType="danger"
  helpKey="danger-help"
>
  Danger status indicator with help key
</sky-status-indicator>
