:host {
  display: block;
}

.screenshot-area {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

sky-split-view-workspace-content {
  background-color: yellow;
}

sky-split-view-workspace-footer {
  background-color: green;
  color: #fff;
}
