<form novalidate [formGroup]="fileForm">
  <sky-file-attachment
    formControlName="attachment"
    labelText="Attach a file"
    [acceptedTypes]="'image/jpeg,application/pdf'"
    [helpPopoverContent]="popoverContent"
    [helpKey]="helpKey"
    [hintText]="hintText"
    [maxFileSize]="maxFileSize"
    [validateFn]="validateFile"
    [stacked]="true"
    (fileChange)="reactiveFileUpdated($event)"
    (fileClick)="fileClick($event)"
  >
    <sky-file-attachment-label>
      Birth certificate
      <sky-help-inline
        class="sky-control-help"
        (actionClick)="onActionClick()"
      />
    </sky-file-attachment-label>
  </sky-file-attachment>
</form>

<ng-template #popoverContent>
  <sky-paging pageSize="5" itemCount="15"
    ><sky-paging-content>hello</sky-paging-content></sky-paging
  >
</ng-template>
