<form novalidate [formGroup]="fileForm">
  <sky-file-attachment
    [acceptedTypes]="'image/jpeg'"
    formControlName="attachment"
    [helpPopoverContent]="popoverContent"
    [helpKey]="helpKey"
    labelText="Attach a file"
    [maxFileSize]="maxFileSize"
    [validateFn]="validateFile"
    (fileChange)="reactiveFileUpdated($event)"
    (fileClick)="fileClick($event)"
    [stacked]="true"
  >
    <sky-file-attachment-label>
      Birth certificate
      <sky-help-inline
        (actionClick)="onActionClick()"
        class="sky-control-help"
      ></sky-help-inline>
    </sky-file-attachment-label>
  </sky-file-attachment>

  <div *ngIf="attachment?.invalid && attachment?.dirty" class="sky-error-label">
    Attach a file.
  </div>
  <div *ngIf="reactiveUploadError" class="sky-error-label">
    {{ reactiveUploadError }}
  </div>
</form>

<ng-template #popoverContent>
  <sky-paging pageSize="5" itemCount="15"
    ><sky-paging-content>hello</sky-paging-content></sky-paging
  >
</ng-template>

<pre>
VALID: {{ attachment?.valid }}
TOUCHED: {{ attachment?.touched }}
DIRTY: {{ attachment?.dirty }}
VALUE: {{ attachment?.value | json }}
</pre>
