<form novalidate [formGroup]="fileForm">
  <div style="margin-bottom: 50px">
    <sky-file-attachment
      formControlName="attachment"
      labelText="Attach a file"
      [maxFileSize]="maxFileSize"
      [acceptedTypes]="'image/jpeg'"
      [validateFn]="validateFile"
      (fileChange)="reactiveFileUpdated($event)"
      (fileClick)="fileClick($event)"
      helpPopoverTitle="title"
      helpPopoverContent="content"
    >
      <sky-file-attachment-label>
        Birth certificate
        <sky-help-inline
          (actionClick)="onActionClick()"
          class="sky-control-help"
        ></sky-help-inline>
      </sky-file-attachment-label>
    </sky-file-attachment>

    <div
      *ngIf="attachment?.invalid && attachment?.dirty"
      class="sky-error-label"
    >
      Attach a file.
    </div>
    <div *ngIf="reactiveUploadError" class="sky-error-label">
      {{ reactiveUploadError }}
    </div>
  </div>
</form>
