<form
  class="lookup-demo-form"
  novalidate
  [formGroup]="lookupDemoForm"
  (ngSubmit)="onSubmit()"
>
  <sky-modal data-sky-id="modal-lookup" [headingText]="'Look. Up.'">
    <sky-modal-content>
      <p>
        Look up at the stars and not down at your feet. Try to make sense of
        what you see, and wonder about what makes the universe exist. Be
        curious.
      </p>
      <p>Stay Hungry. Stay Foolish.</p>

      <sky-input-box
        data-sky-id="favorite-names-field"
        labelText="Favorite names"
        stacked="true"
      >
        <sky-lookup
          placeholderText="Type a person's name..."
          [data]="people"
          [enableShowMore]="true"
          [debounceTime]="1000"
          [showAddButton]="true"
        />
      </sky-input-box>

      <p>
        Think different. Here's to the crazy ones. The misfits. The rebels. The
        troublemakers. The round pegs in the square holes. The ones who see
        things differently. They're not fond of rules. And they have no respect
        for the status quo. You can quote them, disagree with them, glorify or
        vilify
      </p>
    </sky-modal-content>
    <sky-modal-footer>
      <button class="sky-btn sky-btn-link" type="button" routerLink="/">
        Close
      </button>
    </sky-modal-footer>
  </sky-modal>
</form>
