:host {
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    .sky-heading-anchor-link {
      opacity: 1;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.sky-heading-anchor-heading-text {
  margin-right: 7px;
}

.sky-heading-anchor-link {
  opacity: 0;
  transition: opacity 250ms;
  color: var(--sky-text-color-action-primary);
  position: absolute;
  left: calc(-1em - 5px);
}

.sky-heading-anchor-strikethrough {
  text-decoration: line-through;
}
