<sky-page layout="blocks">
  <sky-page-content>
    <button
      class="sky-btn sky-btn-primary sky-margin-inline-default"
      type="button"
      [skyPopover]="myPopover0"
    >
      Popover demo on click
    </button>

    <button
      class="sky-btn sky-btn-link"
      type="button"
      [skyPopover]="myPopover0"
      [skyPopoverTrigger]="'mouseenter'"
    >
      Popover demo on hover
    </button>

    <sky-popover popoverTitle="Playground popover" #myPopover0>
      The content of a popover can be text, HTML, or Angular components.
    </sky-popover>
  </sky-page-content>
</sky-page>
