<sky-description-list mode="horizontal">
  <sky-description-list-content *ngFor="let item of items">
    <sky-description-list-term>
      {{ item.term }}
      <sky-help-inline
        *ngIf="item.showHelp"
        class="sky-control-help"
        (actionClick)="onActionClick()"
      ></sky-help-inline>
    </sky-description-list-term>
    <sky-description-list-description>
      {{ item.description }}
    </sky-description-list-description>
  </sky-description-list-content>
</sky-description-list>
