<button
  type="button"
  class="sky-btn sky-btn-primary sky-test-label"
  (click)="required = !required"
>
  Toggle required
</button>

<button
  type="button"
  class="sky-btn sky-btn-primary sky-test-label"
  (click)="onToggleDisabledClick()"
>
  Toggle disabled
</button>

<button
  type="button"
  class="sky-btn sky-btn-primary sky-test-label"
  (click)="onToggleInlineHelpClick()"
>
  Toggle inline help
</button>

<button
  type="button"
  class="sky-btn sky-btn-primary sky-test-label"
  (click)="markAllAsTouched(foo)"
>
  Mark all fields as touched
</button>
<button
  type="button"
  class="sky-btn sky-btn-primary sky-test-label"
  (click)="toggleHeadingStyle()"
>
  Toggle heading style: {{ headingStyle ?? 'undefined' }}
</button>

<h1>Radio buttons (reactive)</h1>

<form novalidate [formGroup]="radioForm">
  <div id="screenshot-radio">
    <sky-radio-group
      ariaLabelledBy="favorite-id"
      formControlName="favoriteSeason"
      hintText="Group hint text"
      headingText="What is your favorite season? (reactive)"
      [required]="required"
      [stacked]="true"
      [headingStyle]="headingStyle"
    >
      <ul class="sky-list-unstyled">
        <li *ngFor="let value of seasons">
          <sky-radio [value]="value" [disabled]="value.disabled">
            <sky-radio-label>
              {{ value.name }}
              <sky-help-inline
                *ngIf="showInlineHelp"
                class="sky-control-help"
              ></sky-help-inline>
            </sky-radio-label>
          </sky-radio>
        </li>
      </ul>
      <sky-form-error
        *ngIf="favoriteSeason.errors?.['incorrectSeason']"
        errorName="incorrectSeason"
        errorText="Spring is the best season."
      />
    </sky-radio-group>
  </div>

  <table>
    <tr>
      <th>Touched</th>
      <td>{{ favoriteSeason.touched }}</td>
    </tr>
    <tr>
      <th>Dirty</th>
      <td>{{ favoriteSeason.dirty }}</td>
    </tr>
    <tr>
      <th>Pristine</th>
      <td>{{ favoriteSeason.pristine }}</td>
    </tr>
    <tr>
      <th>Valid</th>
      <td>{{ favoriteSeason.valid }}</td>
    </tr>
    <tr>
      <th>Value</th>
      <td>
        {{ radioForm.value.favoriteSeason?.name || 'Nothing selected...' }}
      </td>
    </tr>
  </table>
</form>

<h1>Radio buttons (template-driven)</h1>
<div>
  <sky-radio-group
    [disabled]="disabled"
    [required]="required"
    [(ngModel)]="radioValue"
    headingText="What is your favorite season? (template)"
    [headingHidden]="true"
    #foo="ngModel"
  >
    <ul class="sky-list-unstyled">
      <li *ngFor="let item of seasons">
        <sky-radio [value]="item.name" [disabled]="item.disabled">
          <sky-radio-label>
            {{ item.name }}
            <sky-help-inline
              *ngIf="showInlineHelp"
              class="sky-control-help"
            ></sky-help-inline>
          </sky-radio-label>
        </sky-radio>
      </li>
    </ul>
  </sky-radio-group>
</div>

<h1>Radio button and group easy mode</h1>
<div>
  <sky-radio-group
    [disabled]="disabled"
    [required]="required"
    [(ngModel)]="radioValue"
    helpPopoverContent="content"
    headingText="What is your favorite season?"
    #foo="ngModel"
  >
    <ul class="sky-list-unstyled">
      <li *ngFor="let item of seasons">
        <sky-radio
          [value]="item.name"
          [disabled]="item.disabled"
          [labelText]="item.name"
          [helpPopoverContent]="showInlineHelp ? 'help content' : undefined"
        />
      </li>
    </ul>
  </sky-radio-group>
</div>

<table>
  <tr>
    <th>Touched</th>
    <td>{{ foo.touched }}</td>
  </tr>
  <tr>
    <th>Pristine</th>
    <td>{{ foo.pristine }}</td>
  </tr>
  <tr>
    <th>Valid</th>
    <td>{{ foo.valid }}</td>
  </tr>
  <tr>
    <th>Value</th>
    <td>{{ radioValue || 'Nothing selected...' }}</td>
  </tr>
</table>

<h1>Icon radio buttons</h1>

<form novalidate>
  <h3 id="icon-radio-group-label">Do you like it?</h3>

  <sky-radio-group
    class="sky-switch-icon-group"
    name="iconRadioTest"
    [disabled]="disabled"
    [(ngModel)]="iconSelectedValue"
  >
    <sky-radio icon="thumbs-o-up" label="I like it" value="1" />
    <sky-radio disabled icon="balance-scale" label="meh" value="2" />
    <sky-radio icon="thumbs-o-down" label="I hate it" value="3" />
  </sky-radio-group>
</form>
