::ng-deep {
  .sky-popover-container:not(.hidden) {
    animation-play-state: visible !important;
  }
}

.static-popovers {
  display: flex;
  flex-wrap: wrap;

  ::ng-deep {
    sky-popover-content {
      display: block;
      padding: 10px;
    }

    .sky-popover-container {
      position: relative !important;
      left: auto !important;
      top: auto !important;
    }

    .sky-popover-arrow {
      position: absolute !important;
    }
  }
}

#screenshot-popover-placements,
#screenshot-popover-with-dropdown,
screenshot-popover-positioned-parent {
  padding: 200px 350px;
}
