<p>
  <span>Link where the user has access:</span>
  <a skyHref="https://example.com" data-sky-id="my-href-1">Example.com</a>
</p>
<p>
  <span>Link where the user has access, translated:</span>
  <a skyHref="allow://example.com" data-sky-id="my-href-allow"
    >Example.com with “allow” protocol</a
  >
</p>
<p>
  <span>Link where the user does not have access, hidden by default:</span>
  <a skyHref="deny://example.com" data-sky-id="my-href-hidden"
    >Example.com with “deny” protocol</a
  >
</p>
<p>
  <span>Link where the user does not have access, shown as plain text:</span>
  <a
    skyHref="deny://example.com"
    skyHrefElse="unlink"
    data-sky-id="my-href-unlinked"
    >Example.com with “deny” protocol</a
  >
</p>

<sky-alert class="sky-margin-stacked-xl"
  ><p>
    <span>Link where the user has access:</span>
    <a skyHref="https://example.com" data-sky-id="my-href-1">Example.com</a>
  </p></sky-alert
>

<sky-alert class="sky-margin-stacked-xl"
  ><p>
    <span>Link where the user has access, translated:</span>
    <a skyHref="allow://example.com" data-sky-id="my-href-allow"
      >Example.com with “allow” protocol</a
    >
  </p></sky-alert
>

<sky-alert class="sky-margin-stacked-xl"
  ><p>
    <span>Link where the user does not have access, hidden by default:</span>
    <a skyHref="deny://example.com" data-sky-id="my-href-hidden"
      >Example.com with “deny” protocol</a
    >
  </p></sky-alert
>

<sky-alert class="sky-margin-stacked-xl"
  ><p>
    <span>Link where the user does not have access, shown as plain text:</span>
    <a
      skyHref="deny://example.com"
      skyHrefElse="unlink"
      data-sky-id="my-href-unlinked"
      >Example.com with “deny” protocol</a
    >
  </p></sky-alert
>
