<sky-vertical-tabset showTabsText="Tab list">
  <sky-vertical-tab data-sky-id="something" tabHeading="Tab 1">
    Tab 1 content
  </sky-vertical-tab>
  <sky-vertical-tabset-group [groupHeading]="groups[1].heading" [open]="true">
    @for (tab of groups[1].subTabs; track tab) {
      <sky-vertical-tab
        [active]="tab.active"
        [tabHeading]="tab.tabHeading"
        [tabHeaderCount]="tab.tabHeaderCount"
        [disabled]="tab.disabled"
      >
        {{ tab.content }}
      </sky-vertical-tab>
    }
  </sky-vertical-tabset-group>
</sky-vertical-tabset>
