<div class="page-flex" [style.top.px]="pageFlexOffsetTop">
  <div class="page-flex-header">
    <sky-page-summary>
      <sky-page-summary-alert *ngIf="unapprovedTransaction">
        <sky-alert alertType="info"
          >There is an unapproved transaction.</sky-alert
        >
      </sky-page-summary-alert>
      <sky-page-summary-title> SKY Developers, LLC </sky-page-summary-title>
      <sky-page-summary-subtitle>
        Petty Cash Transactions
      </sky-page-summary-subtitle>
      <sky-page-summary-content>
        The transactions below cover various operating expenses which do not
        fall under one of the budgets areas of expenditures.
      </sky-page-summary-content>
    </sky-page-summary>
  </div>
  <div class="page-flex-main">
    <sky-split-view [messageStream]="splitViewStream">
      <sky-split-view-drawer
        [ariaLabel]="'Transaction list'"
        [width]="listWidth"
      >
        <sky-repeater [activeIndex]="activeIndex">
          <sky-repeater-item
            *ngFor="let item of items; let i = index"
            (click)="onItemClick(i)"
            (keyup.enter)="onItemClick(i)"
          >
            <sky-repeater-item-content>
              {{ item.amount }} <br />
              {{ item.date }} <br />
              {{ item.vendor }}
            </sky-repeater-item-content>
          </sky-repeater-item>
        </sky-repeater>
      </sky-split-view-drawer>

      <sky-split-view-workspace [ariaLabel]="'Transaction form'">
        <sky-split-view-workspace-content class="sky-padding-even-large">
          <form [formGroup]="splitViewDemoForm" (ngSubmit)="onApprove()">
            <sky-definition-list labelWidth="150px">
              <sky-definition-list-content>
                <sky-definition-list-label>
                  Receipt amount
                </sky-definition-list-label>
                <sky-definition-list-value>
                  {{ activeRecord.amount }}
                </sky-definition-list-value>
              </sky-definition-list-content>
              <sky-definition-list-content>
                <sky-definition-list-label> Date </sky-definition-list-label>
                <sky-definition-list-value>
                  {{ activeRecord.date }}
                </sky-definition-list-value>
              </sky-definition-list-content>
              <sky-definition-list-content>
                <sky-definition-list-label> Vendor </sky-definition-list-label>
                <sky-definition-list-value>
                  {{ activeRecord.vendor }}
                </sky-definition-list-value>
              </sky-definition-list-content>
              <sky-definition-list-content>
                <sky-definition-list-label>
                  Receipt image
                </sky-definition-list-label>
                <sky-definition-list-value>
                  {{ activeRecord.receiptImage }}
                </sky-definition-list-value>
              </sky-definition-list-content>
            </sky-definition-list>
            <div class="sky-form-group">
              <sky-input-box>
                <label class="sky-control-label" [for]="amountInput.id">
                  Approved amount
                </label>
                <input
                  class="sky-form-control"
                  formControlName="approvedAmount"
                  name="approvedAmount"
                  type="text"
                  skyId
                  #amountInput
                />
              </sky-input-box>
            </div>

            <div class="sky-form-group">
              <sky-input-box>
                <label class="sky-control-label" [for]="commentsInput.id">
                  Comments
                </label>
                <textarea
                  class="sky-form-control"
                  formControlName="comments"
                  name="comments"
                  skyId
                  #commentsInput
                ></textarea>
              </sky-input-box>
            </div>
          </form>
        </sky-split-view-workspace-content>
        <sky-split-view-workspace-footer>
          <sky-summary-action-bar id="summary-action-bar">
            <sky-summary-action-bar-actions>
              <sky-summary-action-bar-primary-action
                (actionClick)="onApprove()"
              >
                Approve expense
              </sky-summary-action-bar-primary-action>
              <sky-summary-action-bar-secondary-actions>
                <sky-summary-action-bar-secondary-action
                  (actionClick)="onDeny()"
                >
                  Deny expense
                </sky-summary-action-bar-secondary-action>
              </sky-summary-action-bar-secondary-actions>
            </sky-summary-action-bar-actions>
          </sky-summary-action-bar>
        </sky-split-view-workspace-footer>
      </sky-split-view-workspace>
    </sky-split-view>
  </div>
</div>
