<sky-chart headingText="Sales by region">
  <sky-chart-pie
    categoryLabelText="Region"
    valueLabelText="Sales"
    [displayMode]="displayMode"
  >
    @for (region of regions; track region.name) {
      <sky-chart-pie-slice [labelText]="region.name" [value]="region.sales" />
    }
  </sky-chart-pie>
</sky-chart>

<sky-chart headingText="Revenue by channel">
  <sky-chart-pie
    categoryLabelText="Channel"
    valueFormat="currency"
    valueLabelText="Revenue"
    [displayMode]="displayMode"
  >
    @for (channel of channels; track channel.name) {
      <sky-chart-pie-slice
        [labelText]="channel.name"
        [value]="channel.revenue"
      />
    }
  </sky-chart-pie>
</sky-chart>
