<div class="app-alert">
  <sky-alert [alertType]="'info'" [closeable]="alertCloseable">
    Info alert
  </sky-alert>
  <sky-alert [alertType]="'success'" [closeable]="alertCloseable">
    Success alert
  </sky-alert>
  <sky-alert [alertType]="'warning'" [closeable]="alertCloseable">
    Warning alert
  </sky-alert>
  <sky-alert [alertType]="'danger'" [closeable]="alertCloseable">
    Danger alert
  </sky-alert>
  <sky-alert [closeable]="alertCloseable"> Default alert </sky-alert>
  <sky-alert [alertType]="'test'" [closeable]="alertCloseable">
    Invalid alert
  </sky-alert>
</div>
