<div class="sky-padding-even-lg">
  <form [formGroup]="formGroup">
    <div class="sky-margin-stacked-lg">
      <sky-date-range-picker
        data-sky-id="last-donation"
        formControlName="lastDonation"
        helpKey="dates-help"
        [dateFormat]="dateFormat"
        [hintText]="hintText"
        [labelText]="labelText"
        [required]="required"
      >
        @if (lastDonation.errors?.['dateWeekend']) {
          <sky-form-error
            errorName="dateWeekend"
            errorText="Do not pick a weekend."
          />
        }
      </sky-date-range-picker>
    </div>
  </form>
</div>
