<div class="sky-padding-even-lg">
  <form [formGroup]="formGroup">
    <sky-date-range-picker
      data-sky-id="last-donation"
      formControlName="lastDonation"
      helpKey="dates-help"
      [dateFormat]="dateFormat"
      [hintText]="hintText"
      [labelText]="labelText"
      [required]="required"
    >
      @if (lastDonation.errors?.['dateWeekend']) {
        <sky-form-error
          errorName="dateWeekend"
          errorText="Do not pick a weekend."
        />
      }
    </sky-date-range-picker>
  </form>
</div>
