<h1>Visual tests</h1>

<ul>
  <li>
    <a routerLink="visual/alert">Alert</a>
  </li>
  <li>
    <a routerLink="visual/chevron">Chevron</a>
  </li>
  <li>
    <a routerLink="visual/help-inline">Help inline</a>
  </li>
  <li>
    <a routerLink="visual/icon">Icon</a>
  </li>
  <li>
    <a routerLink="visual/icon-stack">Icon stack</a>
  </li>
  <li>
    <a routerLink="visual/key-info">key-info</a>
  </li>
  <li>
    <a routerLink="visual/label">Label</a>
  </li>
  <li>
    <a routerLink="visual/status-indicator">Status indicator</a>
  </li>
  <li>
    <a routerLink="visual/text-highlight">Text highlight</a>
  </li>
  <li>
    <a routerLink="visual/tokens">Tokens</a>
  </li>
  <li>
    <a routerLink="visual/wait">Wait</a>
  </li>
</ul>
