@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: #fff !important;
}

code {
  font-family: 'Roboto Mono', serif;
}

:not(h2, h3, pre) > code {
  font-size: 90%;
}

code.sky-codespan {
  display: inline-block;
  padding: 2px 6px;
  border-radius: var(--sky-border-radius-s);
  background-color: color-mix(
    in srgb,
    var(--sky-color-background-container-info) 25%,
    transparent
  );
}

.sky-type-definition-table {
  td {
    p {
      line-height: 1.17;
    }

    &:first-child {
      code {
        font-size: 13px;
        background-color: color-mix(
          in srgb,
          var(--sky-color-background-container-info) 25%,
          transparent
        );
      }
    }
  }
}
