@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: #fff !important;
}

code {
  font-family: 'Roboto Mono', serif;
}

code.sky-codespan {
  background-color: color-mix(
    in srgb,
    var(--sky-color-background-container-info) 25%,
    transparent
  );
}
