html,
body {
  scroll-behavior: smooth;
}

body {
  // All stache sites set their background to white, for all themes.
  background-color: #fff !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
