<sky-box
  class="sky-margin-stacked-xl"
  headingLevel="3"
  headingStyle="3"
  [headingText]="title()"
>
  <sky-box-controls>
    @let ariaLabel = isCodeVisible() ? 'Hide code' : 'Show code';
    <button
      [attr.aria-label]="ariaLabel"
      [attr.title]="ariaLabel"
      class="sky-btn sky-btn-icon-borderless sky-margin-inline-sm"
      type="button"
      (click)="toggleCodeVisibility()"
    >
      <sky-icon icon="code" />
    </button>
    <button
      aria-label="Open code in StackBlitz"
      class="sky-btn sky-btn-icon-borderless"
      type="button"
      (click)="openInStackBlitz()"
    >
      <sky-icon icon="external-link" />
    </button>
  </sky-box-controls>

  <div class="sky-padding-even-xl">
    @if (!demoHidden()) {
      <ng-template [ngComponentOutlet]="componentType()" />
    } @else {
      Open this code example in StackBlitz to view the demo.
    }
  </div>

  @if (isCodeVisible()) {
    <div class="sky-example-viewer-code-container">
      <sky-vertical-tabset>
        @for (obj of files() | keyvalue; track obj.key) {
          <sky-vertical-tab
            [tabHeading]="obj.key"
            [active]="obj.key === primaryFile()"
          >
            <sky-code-snippet
              [code]="obj.value"
              [language]="getCodeLanguage(obj.key)"
            />
          </sky-vertical-tab>
        }
      </sky-vertical-tabset>
    </div>
  }
</sky-box>
