<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <sky-checkbox-group
    [formGroup]="contactMethod"
    [stacked]="true"
    headingText="Contact method"
  >
    <sky-checkbox formControlName="email" labelText="Email" />
    <sky-checkbox formControlName="phone" labelText="Phone" />
    <sky-checkbox formControlName="text" labelText="Text" />
    <sky-form-error
      *ngIf="contactMethod.errors?.['contactMethodRequired']"
      errorName="contactMethodRequired"
      errorText="A contact method is required."
    ></sky-form-error>
  </sky-checkbox-group>
  <div class="sky-margin-stacked-xl">
    <sky-checkbox
      formControlName="terms"
      [required]="true"
      labelText="I agree to the terms and conditions"
    />
  </div>
  <button class="sky-btn sky-btn-primary" type="submit">Submit</button>
</form>
