<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <label class="sky-control-label"> Contact method </label>
  <div class="sky-margin-stacked-xl">
    <ul class="sky-list-unstyled">
      <li>
        <sky-checkbox formControlName="email" labelText="Email" />
      </li>
      <li>
        <sky-checkbox formControlName="phone" labelText="Phone" />
      </li>
      <li>
        <sky-checkbox formControlName="text" labelText="Text" />
      </li>
    </ul>
  </div>
  <div>
    <sky-checkbox
      formControlName="terms"
      [required]="true"
      labelText="I agree to the terms and conditions"
    />
  </div>
  <button class="sky-btn sky-btn-primary" type="submit">Submit</button>
</form>
