<sky-fluid-grid gutterSize="medium" [disableMargin]="true">
  <sky-row>
    <sky-column [screenSmall]="4" [screenXSmall]="12">
      <sky-box class="sky-margin-stacked-xl">
        <sky-box-header>
          <h2 class="sky-font-heading-2">Details</h2>
        </sky-box-header>
        <sky-box-controls>
          <button
            class="sky-btn sky-btn-icon-borderless"
            aria-label="Edit button for details"
          >
            <sky-icon icon="edit" iconType="skyux"></sky-icon>
          </button>
        </sky-box-controls>
        <sky-box-content>
          <sky-description-list mode="vertical">
            <sky-description-list-content>
              <sky-description-list-term>
                Designation
              </sky-description-list-term>
              <sky-description-list-description>
                General operating
              </sky-description-list-description>
            </sky-description-list-content>
            <sky-description-list-content>
              <sky-description-list-term>Source</sky-description-list-term>
              <sky-description-list-description>
                Online donation form
              </sky-description-list-description>
            </sky-description-list-content>
            <sky-description-list-content>
              <sky-description-list-term>Status</sky-description-list-term>
              <sky-description-list-description>
                Active
              </sky-description-list-description>
            </sky-description-list-content>
            <sky-description-list-content>
              <sky-description-list-term>Due date</sky-description-list-term>
              <sky-description-list-description>
                12/12/2023
              </sky-description-list-description>
            </sky-description-list-content>
            <sky-description-list-content>
              <sky-description-list-term>
                Creation date
              </sky-description-list-term>
              <sky-description-list-description>
                01/05/2023
              </sky-description-list-description>
            </sky-description-list-content>
            <sky-description-list-content>
              <sky-description-list-term>Frequency</sky-description-list-term>
              <sky-description-list-description>
                Quarterly
              </sky-description-list-description>
            </sky-description-list-content>
          </sky-description-list>
        </sky-box-content>
      </sky-box>
    </sky-column>
    <sky-column [screenSmall]="4" [screenXSmall]="12">
      <sky-box class="sky-margin-stacked-xl">
        <sky-box-header>
          <h2 class="sky-font-heading-2">Payments</h2>
        </sky-box-header>
        <sky-box-content>
          <div class="box-2-content">
            <div class="box-2-actuals">
              <h3 class="sky-font-heading-4">Actuals</h3>
              <sky-key-info class="sky-margin-stacked-lg">
                <sky-key-info-value class="sky-font-display-3">
                  $845.00
                </sky-key-info-value>
                <sky-key-info-label>Amount</sky-key-info-label>
              </sky-key-info>
              <sky-key-info class="sky-margin-stacked-lg">
                <sky-key-info-value class="sky-font-display-3">
                  $800.00
                </sky-key-info-value>
                <sky-key-info-label>Assigned</sky-key-info-label>
              </sky-key-info>
              <sky-key-info class="sky-margin-stacked-lg">
                <sky-key-info-value class="sky-font-display-3">
                  $800.00
                </sky-key-info-value>
                <sky-key-info-label>Applied</sky-key-info-label>
              </sky-key-info>
              <sky-key-info>
                <sky-key-info-value class="sky-font-display-3">
                  25
                </sky-key-info-value>
                <sky-key-info-label>Payments</sky-key-info-label>
              </sky-key-info>
            </div>
            <div class="box-2-projected">
              <h3 class="sky-font-heading-4">Projected</h3>
              <sky-key-info class="sky-margin-stacked-lg">
                <sky-key-info-value class="sky-font-display-3">
                  $0
                </sky-key-info-value>
                <sky-key-info-label>Amount</sky-key-info-label>
              </sky-key-info>
              <sky-key-info>
                <sky-key-info-value class="sky-font-display-3">
                  0
                </sky-key-info-value>
                <sky-key-info-label>Line items</sky-key-info-label>
              </sky-key-info>
            </div>
          </div>
        </sky-box-content>
      </sky-box>
    </sky-column>
    <sky-column [screenSmall]="4" [screenXSmall]="12">
      <sky-box>
        <sky-box-header>
          <h2 class="sky-font-heading-2">Recent activity</h2>
        </sky-box-header>
        <sky-box-content>
          <sky-repeater data-sky-id="repeater-demo">
            <sky-repeater-item>
              <sky-repeater-item-content>
                <div class="sky-margin-stacked-xs">
                  $250.00 payment processed successfully.
                </div>
                <div class="sky-font-deemphasized">07/01/2023 12:02 am</div>
              </sky-repeater-item-content>
            </sky-repeater-item>
            <sky-repeater-item>
              <sky-repeater-item-content>
                <div class="sky-margin-stacked-xs">
                  $150.00 payment processed successfully.
                </div>
                <div class="sky-font-deemphasized">06/15/2023 12:02 am</div>
              </sky-repeater-item-content>
            </sky-repeater-item>
            <sky-repeater-item>
              <sky-repeater-item-content>
                <div class="sky-margin-stacked-xs">
                  $250.00 payment processed successfully.
                </div>
                <div class="sky-font-deemphasized">04/01/2023 12:02 am</div>
              </sky-repeater-item-content>
            </sky-repeater-item>
          </sky-repeater>
        </sky-box-content>
      </sky-box>
    </sky-column>
  </sky-row>
</sky-fluid-grid>
