<sky-page layout="blocks">
  <sky-page-header
    pageTitle="$500 pledge"
    [parentLink]="{
      label: 'Pledges',
      permalink: {
        route: {
          commands: ['/']
        }
      }
    }"
  >
    <div class="sky-margin-stacked-xl record-details">
      <sky-label
        data-sky-id="label-demo"
        labelType="info"
        descriptionType="important-info"
      >
        VIP
      </sky-label>
    </div>
    <div>
      <button class="sky-btn sky-btn-default">Send email</button>
    </div>
  </sky-page-header>
  <sky-page-content>
    <app-record-page-content></app-record-page-content>
  </sky-page-content>
</sky-page>
