<sky-page layout="tabs">
  <sky-page-header pageTitle="Line chart" />

  <sky-page-content>
    <sky-tabset>
      <sky-tab tabHeading="Linear">
        <sky-fluid-grid>
          <sky-row>
            <!-- Single series -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="4"
              [screenLarge]="4"
            >
              <sky-box
                headingText="Single series"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Month-by-month revenue'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                    [subtitleText]="'Revenue over time'"
                    [subtitleHidden]="false"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Month" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of linear.singleSeries;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- Multi series -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="4"
              [screenLarge]="4"
            >
              <sky-box headingText="Multi series" class="sky-margin-stacked-xl">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Month-by-month revenue'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Month" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of linear.multiSeries;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- Stacked -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="4"
              [screenLarge]="4"
            >
              <sky-box headingText="Stacked" class="sky-margin-stacked-xl">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Month-by-month revenue'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="true"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Month" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (series of linear.stacked; track series.labelText) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>
          </sky-row>
        </sky-fluid-grid>
      </sky-tab>

      <sky-tab tabHeading="Logarithmic">
        <sky-fluid-grid>
          <sky-row>
            <!-- Single series Log -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="4"
              [screenLarge]="4"
            >
              <sky-box
                headingText="Single series Logarithmic"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Month-by-month revenue'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Month" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="logarithmic"
                        allowMinOverflow
                        allowMaxOverflow
                        [min]="10"
                        [max]="100"
                      />

                      @for (
                        series of log.singleSeries;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- Multi series Log -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="4"
              [screenLarge]="4"
            >
              <sky-box
                headingText="Multi series Logarithmic"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Month-by-month revenue'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Month" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="logarithmic"
                      />

                      @for (series of log.multiSeries; track series.labelText) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- Stacked Log -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="4"
              [screenLarge]="4"
            >
              <sky-box
                headingText="Stacked Logarithmic"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Month-by-month revenue'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="true"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Month" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="logarithmic"
                      />

                      @for (series of log.stacked; track series.labelText) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>
          </sky-row>
        </sky-fluid-grid>
      </sky-tab>

      <sky-tab tabHeading="Data density">
        <sky-fluid-grid>
          <!-- Single series -->
          <sky-row>
            <!-- 3 points -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box
                headingText="Single series - 3 points"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.single1x3;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- 6 points -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box
                headingText="Single series - 6 points"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.single1x6;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- 9 points -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box
                headingText="Single series - 9 points"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.single1x9;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- 12 points -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box
                headingText="Single series - 12 points"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.single1x12;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>
          </sky-row>

          <!-- Multi series -->
          <sky-row>
            <!-- 9 points -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box
                headingText="Multi series - 9 points (3 series with 3 points each)"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.multi3x3;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- 18 points -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box
                headingText="Multi series - 18 points (3 series with 6 points each)"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.multi3x6;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- 27 points -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box
                headingText="Multi series - 27 points (3 series with 9 points each)"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.multi3x9;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- 36 points -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box
                headingText="Multi series - 36 points (3 series with 12 points each)"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.multi3x12;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>
          </sky-row>

          <!-- Stacked -->
          <sky-row>
            <!-- Stacked 3 -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box headingText="Stacked 3" class="sky-margin-stacked-xl">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="true"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.stacked3x3;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- Stacked 6 -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box headingText="Stacked 6" class="sky-margin-stacked-xl">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="true"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.stacked3x6;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- Stacked 9 -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box headingText="Stacked 9" class="sky-margin-stacked-xl">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="true"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.stacked3x9;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <!-- Stacked 12 -->
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box headingText="Stacked 12" class="sky-margin-stacked-xl">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Heading text'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="true"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Categories" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of density.stacked3x12;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>
          </sky-row>
        </sky-fluid-grid>
      </sky-tab>

      <sky-tab tabHeading="Responsiveness">
        <sky-fluid-grid gutterSize="medium" [disableMargin]="true">
          <sky-row>
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="12"
              [screenLarge]="12"
            >
              <sky-box headingText="Full width" class="sky-margin-stacked-xl">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Full width'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Month" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of linear.singleSeries;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box headingText="Half width" class="sky-margin-stacked-xl">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Half width'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Month" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of linear.singleSeries;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="4"
              [screenLarge]="4"
            >
              <sky-box headingText="Third width" class="sky-margin-stacked-xl">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Third width'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Month" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of linear.singleSeries;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="3"
              [screenLarge]="3"
            >
              <sky-box
                headingText="Quarter width"
                class="sky-margin-stacked-xl"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Quarter width'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-line
                      dataPointsClickEnabled
                      [stacked]="false"
                      (dataPointClick)="onDataPointClick($event)"
                    >
                      <sky-chart-category-axis labelText="Month" />
                      <sky-chart-measure-axis
                        labelText="Amount"
                        scaleType="linear"
                      />

                      @for (
                        series of linear.singleSeries;
                        track series.labelText
                      ) {
                        <sky-chart-line-series [labelText]="series.labelText">
                          @for (point of series.data; track $index) {
                            <sky-chart-line-series-datapoint
                              [category]="point.category"
                              [labelText]="point.label"
                              [value]="point.value"
                            />
                          }
                        </sky-chart-line-series>
                      }
                    </sky-chart-line>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>
          </sky-row>
        </sky-fluid-grid>
      </sky-tab>
    </sky-tabset>
  </sky-page-content>
</sky-page>
