<div style="height: 500px">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="disabledTimepickerInput.id">
      Disabled
    </label>
    <sky-timepicker #disabledTimepicker>
      <input
        #disabledTimepickerInput="skyId"
        skyId
        timeFormat="hh"
        [disabled]="true"
        [skyTimepickerInput]="disabledTimepicker"
      />
    </sky-timepicker>
  </sky-input-box>

  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="timepickerInput.id">Label</label>
    <sky-timepicker #timepicker>
      <input
        #timepickerInput="skyId"
        skyId
        [skyTimepickerInput]="timepicker"
        [timeFormat]="timeFormat"
        [(ngModel)]="time"
      />
    </sky-timepicker>
  </sky-input-box>
</div>
