<div id="filled-search" class="search-visual-wrapper">
  <sky-search [searchText]="'Robert'" />
</div>
<div id="empty-search" class="search-visual-wrapper">
  <sky-search />
</div>
<div class="sky-padding-even-md">
  <sky-box>
    <sky-box-content>
      <sky-toolbar>
        <sky-toolbar-item>
          <sky-search />
        </sky-toolbar-item>
      </sky-toolbar>
      <sky-toolbar>
        <sky-toolbar-item>
          <sky-search expandMode="fit" />
        </sky-toolbar-item>
      </sky-toolbar>
    </sky-box-content>
  </sky-box>
</div>
