<label [for]="inputEl.id">Jokes</label>
<div>
  <div
    *ngIf="selections.length"
    aria-orientation="horizontal"
    role="listbox"
    [attr.aria-label]="'Selections'"
  >
    <legend class="sky-screen-reader-only" skyId #selectionsLegend="skyId">
      To remove this item press the backspace key
    </legend>
    <div
      *ngFor="let selection of selections; let i = index"
      role="option"
      [attr.id]="selection.id + '_selection'"
      [attr.aria-describedby]="selectionsLegend.id"
      [class.active]="selectionsHasFocus && activeSelectionIndex === i"
    >
      {{ selection.name }}
      <sky-icon icon="close" (click)="removeSelection(selection)"></sky-icon>
    </div>
  </div>
  <legend
    class="sky-screen-reader-only"
    skyId
    [innerText]="selectionsSummary"
    #comboBoxLegend="skyId"
  ></legend>
  <input
    [attr.aria-controls]="panelOpen ? panelId : null"
    [attr.aria-expanded]="panelOpen"
    [attr.aria-activedescendant]="activeDescendant"
    [attr.aria-describedby]="comboBoxLegend.id"
    aria-autocomplete="list"
    aria-haspopup="listbox"
    skyId
    role="combobox"
    tabindex="0"
    type="text"
    (focus)="onFocus()"
    (keyup)="onKeyUp($event)"
    #inputEl="skyId"
  />
</div>

<ul *ngIf="panelOpen" [attr.id]="panelId" role="listbox" aria-label="Jokes">
  <li
    *ngFor="let item of data; let i = index"
    [attr.id]="item.id"
    [class.active]="activeIndex === i"
    role="option"
  >
    {{ item.name }}
  </li>
</ul>
