<sky-modal [headingText]="title">
  <sky-modal-content>
    <form [formGroup]="formGroup">
      <sky-progress-indicator
        #wizardDemo
        [displayMode]="displayMode"
        (progressChanges)="updateIndex($event)"
      >
        <sky-progress-indicator-item title="First step">
          <sky-input-box labelText="Enter text to continue">
            <input type="text" formControlName="requiredValue1" />
          </sky-input-box>
        </sky-progress-indicator-item>

        <sky-progress-indicator-item title="Second step">
          <div>
            <sky-checkbox
              formControlName="requiredValue2"
              labelText="Select to continue"
            />
          </div>
        </sky-progress-indicator-item>

        <sky-progress-indicator-item title="Third step">
          <div>Additional content or tasks go here.</div>
        </sky-progress-indicator-item>
      </sky-progress-indicator>
    </form>
  </sky-modal-content>
  <sky-modal-footer>
    <sky-progress-indicator-nav-button
      buttonType="previous"
      [progressIndicator]="wizardDemo"
    />
    <sky-progress-indicator-nav-button
      buttonType="next"
      [disabled]="!requirementsMet"
      [progressIndicator]="wizardDemo"
    />
    <sky-progress-indicator-nav-button
      buttonType="finish"
      buttonText="Finish"
      [progressIndicator]="wizardDemo"
      (actionClick)="onSaveClick($event)"
    />
    <button
      class="sky-btn sky-btn-link"
      type="button"
      (click)="onCancelClick()"
    >
      Cancel
    </button>
  </sky-modal-footer>
</sky-modal>
