<div class="sky-padding-even-large">
  <div class="app-screenshot" id="screenshot-toggle-switch">
    <p>
      <sky-toggle-switch [checked]="true">
        <sky-toggle-switch-label> Switch is "on" </sky-toggle-switch-label>
        <sky-help-inline class="sky-control-help"></sky-help-inline>
      </sky-toggle-switch>
    </p>

    <p>
      <sky-toggle-switch [checked]="false">
        <sky-toggle-switch-label> Switch is "off" </sky-toggle-switch-label>
      </sky-toggle-switch>
    </p>

    <p>
      <sky-toggle-switch [checked]="true" [disabled]="true">
        <sky-toggle-switch-label>
          Switch is "on", disabled
        </sky-toggle-switch-label>
      </sky-toggle-switch>
    </p>

    <p>
      <sky-toggle-switch [checked]="false" [disabled]="true">
        <sky-toggle-switch-label>
          Switch is "off", disabled
        </sky-toggle-switch-label>
      </sky-toggle-switch>
    </p>
  </div>
</div>
