<div class="sky-theme-padding-inset-balanced-m">
  <p>
    <sky-toggle-switch
      helpPopoverContent="This is a toggle switch with inline help."
      labelText='Switch is "on"'
      [checked]="true"
    />
  </p>

  <p>
    <sky-toggle-switch labelText='Switch is "off"' [checked]="false" />
  </p>

  <p>
    <sky-toggle-switch
      labelText='Switch is "on", disabled'
      [checked]="true"
      [disabled]="true"
    />
  </p>

  <p>
    <sky-toggle-switch
      labelText='Switch is "off", disabled'
      [checked]="false"
      [disabled]="true"
    />
  </p>

  <p>
    <sky-toggle-switch
      helpPopoverContent="This is a toggle switch with an inline help popover."
      helpPopoverTitle="Did you know?"
      labelText="Switch with help inline popover"
    />
  </p>
</div>
