<div class="sky-padding-even-large">
  <p>
    <sky-toggle-switch [checked]="true">
      <sky-toggle-switch-label> Switch is "on" </sky-toggle-switch-label>
      <sky-help-inline class="sky-control-help" />
    </sky-toggle-switch>
  </p>

  <p>
    <sky-toggle-switch labelText='Switch is "off"' [checked]="false" />
  </p>

  <p>
    <sky-toggle-switch [checked]="true" [disabled]="true">
      <sky-toggle-switch-label>
        Switch is "on", disabled
      </sky-toggle-switch-label>
    </sky-toggle-switch>
  </p>

  <p>
    <sky-toggle-switch
      labelText='Switch is "off", disabled'
      [checked]="false"
      [disabled]="true"
    />
  </p>

  <p>
    <sky-toggle-switch
      helpPopoverContent="This is a toggle switch with an inline help popover."
      helpPopoverTitle="Did you know?"
      labelText="Switch with help inline popover"
    />
  </p>
</div>
