<button
  class="sky-btn sky-btn-default sky-margin-inline-sm"
  type="button"
  [skyPopover]="myPopover"
  [skyPopoverAlignment]="popoverAlignment"
  [skyPopoverPlacement]="popoverPlacement"
  data-sky-id="popover-demo"
>
  Open popover on click
</button>

<button
  class="sky-btn sky-btn-link"
  type="button"
  [skyPopover]="myPopover"
  skyPopoverTrigger="mouseenter"
>
  Open popover on hover
</button>

<sky-popover [popoverTitle]="popoverTitle" #myPopover>
  {{ popoverBody }}
</sky-popover>
