<ng-container *ngFor="let variation of variations">
  <div [attr.id]="'screenshot-' + variation.id" class="sky-padding-even-md">
    <h1>Character Count (reactive)</h1>

    <form novalidate [formGroup]="variation.formGroup">
      <div [attr.id]="'screenshot-character-count-' + variation.id">
        <div style="display: flex">
          <label
            class="sky-control-label"
            [for]="reactiveInputBox.id"
            style="flex-grow: 1"
          >First name {{ variation.id }}</label>

          <sky-character-counter-indicator #indicator>
          </sky-character-counter-indicator>
        </div>

        <input
          class="sky-form-control"
          [formControl]="variation.control"
          type="text"
          skyCharacterCounter
          skyId
          [skyCharacterCounterIndicator]="indicator"
          [skyCharacterCounterLimit]="maxCharacterCount"
          #reactiveInputBox="skyId"
        />

        <div
          *ngIf="variation.control.errors"
          class="sky-error-label"
        >
          Limit First name to {{ maxCharacterCount }} characters.
        </div>
      </div>

      <table>
        <tr>
          <th>Valid</th>
          <td>{{ variation.formGroup.valid }}</td>
        </tr>
        <tr>
          <th>Value</th>
          <td>{{ variation.control.value || 'Nothing entered...' }}</td>
        </tr>
      </table>
    </form>
  </div>

  <div class="sky-padding-even-md">
    <h1>Character Count (template-driven)</h1>

    <div>
      <div style="display: flex">
        <label
          class="sky-control-label"
          [for]="templateInputBox.id"
          style="flex-grow: 1"
        >
          First name {{ variation.id }}
        </label>

        <sky-character-counter-indicator #templateIndicator>
        </sky-character-counter-indicator>
      </div>

      <input
        class="sky-form-control"
        type="text"
        skyCharacterCounter
        skyId
        [skyCharacterCounterIndicator]="templateIndicator"
        [skyCharacterCounterLimit]="maxCharacterCount"
        [(ngModel)]="variation.model"
        #templateInputBoxModel="ngModel"
        #templateInputBox="skyId"
      />

      <div *ngIf="templateInputBoxModel.errors" class="sky-error-label">
        Limit First name to {{ maxCharacterCount }} characters.
      </div>
    </div>

    <table>
      <tr>
        <th>Valid</th>
        <td>{{ templateInputBoxModel.valid }}</td>
      </tr>
      <tr>
        <th>Value</th>
        <td>{{ variation.model || 'Nothing entered...' }}</td>
      </tr>
    </table>
  </div>

  <div class="sky-padding-even-md">
    <h1>Input box</h1>

    <div [attr.id]="'screenshot-character-count-input-box-' + variation.id">
      <sky-input-box>
        <label class="sky-control-label" [for]="characterCountInputBox.id">
          First name {{ variation.id }}
        </label>
        <sky-character-counter-indicator #templateIndicatorInputBox>
        </sky-character-counter-indicator>
        <input
          class="sky-form-control"
          type="text"
          skyCharacterCounter
          skyId
          [skyCharacterCounterIndicator]="templateIndicatorInputBox"
          [skyCharacterCounterLimit]="maxCharacterCount"
          [(ngModel)]="variation.model"
          #characterCountInputBoxModel="ngModel"
          #characterCountInputBox="skyId"
        />

        <div
          *ngIf="characterCountInputBoxModel.errors"
          class="sky-error-label"
        >
          Limit First name to {{ maxCharacterCount }} characters.
        </div>
      </sky-input-box>
    </div>
  </div>

  <div class="sky-padding-even-md">
    <h1>Input box no label</h1>

    <div [attr.id]="'screenshot-character-count-input-box-no-label-' + variation.id">
      <sky-input-box>
        <sky-character-counter-indicator #templateIndicatorInputBoxNoLabel>
        </sky-character-counter-indicator>
        <input
          class="sky-form-control"
          type="text"
          skyCharacterCounter
          [skyCharacterCounterIndicator]="templateIndicatorInputBoxNoLabel"
          [skyCharacterCounterLimit]="maxCharacterCount"
          [(ngModel)]="variation.model"
          #characterCountInputBoxModelNoLabel="ngModel"
        />

        <div
          *ngIf="characterCountInputBoxModelNoLabel.errors"
          class="sky-error-label"
        >
          Limit First name to {{ maxCharacterCount }} characters.
        </div>
      </sky-input-box>
    </div>
  </div>
</ng-container>
<span *ngIf="ready | async" id="ready"></span>
