<ul>
  <li>
    Action bars
    <ul>
      <li><a routerLink="action-bars/basic">Action bars (basic)</a></li>
      <li><a routerLink="action-bars/modal">Action bars (modal)</a></li>
      <li><a routerLink="action-bars/tab">Action bars (tabs)</a></li>
    </ul>
  </li>
  <li>
    Forms
    <ul>
      <li><a routerLink="forms/checkbox/basic">Checkbox (basic)</a></li>
    </ul>
  </li>

  <li>
    Layout
    <ul>
      <li><a routerLink="layout/box/basic">Box (basic)</a></li>
    </ul>
  </li>

  <li>
    Lookup
    <ul>
      <li>
        Autocomplete
        <ul>
          <li><a routerLink="lookup/autocomplete/basic">Basic</a></li>
          <li>
            <a routerLink="lookup/autocomplete/search-filters"
              >Search filters</a
            >
          </li>
          <li><a routerLink="lookup/autocomplete/advanced">Advanced</a></li>
          <li>
            <a routerLink="lookup/autocomplete/custom-search">Custom search</a>
          </li>
        </ul>
      </li>
      <li>
        Country field
        <ul>
          <li><a routerLink="lookup/country-field/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Lookup
        <ul>
          <li><a routerLink="lookup/lookup/async">Async</a></li>
          <li><a routerLink="lookup/lookup/custom-picker">Custom picker</a></li>
          <li><a routerLink="lookup/lookup/multi-select">Multi-select</a></li>
          <li>
            <a routerLink="lookup/lookup/result-templates">Result templates</a>
          </li>
          <li><a routerLink="lookup/lookup/single-select">Single select</a></li>
        </ul>
      </li>
      <li>
        Search
        <ul>
          <li><a routerLink="lookup/search/basic">Basic</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    Modals
    <ul>
      <li><a routerLink="modals/confirm">Confirm</a></li>
      <li><a routerLink="modals/modal">Modal</a></li>
    </ul>
  </li>
</ul>
<router-outlet></router-outlet>
