:host {
  display: block;
  width: calc(100vw - var(--sky-viewport-left) - var(--sky-viewport-right));
  height: calc(100vh - var(--sky-viewport-top) - var(--sky-viewport-bottom));
  position: relative;
}

#home-btn {
  display: block;
  margin: 5px;
}

#content {
  // Value set in the app component.
  margin-top: var(--sky-viewport-top);
  overflow-y: auto;
  position: absolute;
  inset: 0;
}

#controls {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  display: flex;
  background-color: #ffd597;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#controls > * {
  display: flex;
  align-items: center;
  margin: 5px;
}
