<ul>
  <li>
    Action bars
    <ul>
      <li><a routerLink="action-bars/basic">Action bars (basic)</a></li>
      <li><a routerLink="action-bars/modal">Action bars (modal)</a></li>
      <li><a routerLink="action-bars/tab">Action bars (tabs)</a></li>
    </ul>
  </li>
  <li>
    Forms
    <ul>
      <li><a routerLink="forms/checkbox/basic">Checkbox (basic)</a></li>
    </ul>
  </li>
  <li>
    Layout
    <ul>
      <li><a routerLink="layout/box/basic">Box (basic)</a></li>
    </ul>
  </li>
</ul>

<router-outlet></router-outlet>
