<form novalidate [formGroup]="reactiveForm" (ngSubmit)="submit()">
  <div class="sky-form-group">
    <sky-colorpicker
      (selectedColorChanged)="onSelectedColorChanged($event)"
      pickerButtonIcon="calendar"
      pickerButtonIconType="skyux"
      labelText="What is your favorite color?"
      #colorPicker
    >
      <input
        formControlName="favoriteColor"
        skyId
        type="text"
        [presetColors]="swatches"
        [skyColorpickerInput]="colorPicker"
        #colorInput="skyId"
      />

      <sky-form-error *ngIf="favoriteColor.errors?.['opaque']">
        Color must have at least 80% opacity.
      </sky-form-error>
    </sky-colorpicker>
  </div>

  <table>
    <tr>
      <th>Touched</th>
      <td>{{ favoriteColor.touched }}</td>
    </tr>
    <tr>
      <th>Pristine</th>
      <td>{{ favoriteColor.pristine }}</td>
    </tr>
    <tr>
      <th>Valid</th>
      <td>{{ favoriteColor.valid }}</td>
    </tr>
  </table>

  <button class="sky-btn sky-btn-primary" type="submit">Submit</button>
</form>
