<form novalidate [formGroup]="reactiveForm" (ngSubmit)="submit()">
  <div class="sky-form-group">
    <sky-colorpicker
      (selectedColorChanged)="onSelectedColorChanged($event)"
      pickerButtonIcon="calendar"
      pickerButtonIconType="skyux"
      labelText="What is your favorite color?"
      #colorPicker
    >
      <input
        formControlName="favoriteColor"
        type="text"
        [presetColors]="swatches"
        [skyColorpickerInput]="colorPicker"
      />
    </sky-colorpicker>
  </div>

  <button class="sky-btn sky-btn-primary" type="submit">Submit</button>
</form>
