<sky-page layout="blocks">
  <sky-page-content>
    <h2>Horizontal orientation</h2>
    <sky-box headingText="Campaign performance">
      <sky-box-content>
        <sky-chart headingText="Acquisitions by year">
          <sky-chart-bar orientation="horizontal">
            <sky-chart-axis-category labelText="Year" [categories]="years" />
            <sky-chart-axis-value labelText="Acquisitions" />
            <sky-chart-series
              labelText="Acquisitions by year"
              [values]="acquisitions"
            />
          </sky-chart-bar>
        </sky-chart>
      </sky-box-content>
    </sky-box>
  </sky-page-content>
</sky-page>
