<form novalidate [formGroup]="myForm">
  <div style="display: flex">
    <div class="sky-margin-inline-lg" style="flex: 1">
      <sky-input-box labelText="Name">
        <input formControlName="name" type="text" />
      </sky-input-box>
    </div>
    <div style="flex: 1">
      <sky-input-box labelText="ID">
        <input formControlName="id" type="text" />
        <span class="sky-error-indicator">
          <sky-status-indicator
            *ngIf="myForm.get('id')?.invalid"
            indicatorType="danger"
            descriptionType="error"
          >
            Enter a valid value.
          </sky-status-indicator>
        </span>
      </sky-input-box>
    </div>
  </div>
</form>
