<div class="sky-container">
  <p>Press [tab] to see the links.</p>

  <div tabindex="-1" #skipLink1>
    <h2>Area 1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas,
      tellus sed placerat gravida, sapien nisi auctor justo, et mattis nisi eros
      sed purus. Pellentesque sodales nunc tortor, ullamcorper ornare est
      blandit non. Suspendisse sed orci posuere, vestibulum purus gravida,
      auctor ex. Suspendisse lectus velit, euismod commodo tempor ac, semper ut
      metus. Aliquam tincidunt neque sed erat blandit, id pulvinar orci
      tristique. Phasellus maximus efficitur scelerisque. In at sapien eu lectus
      placerat pellentesque. Praesent auctor porttitor arcu quis blandit. Nulla
      cursus lacus eu dictum sollicitudin.
    </p>
    <p>
      Sed tristique purus id augue egestas, sit amet congue eros tempor.
      Vestibulum blandit nisi eu massa congue iaculis dictum eget nunc. Nam
      tincidunt quam vel bibendum lacinia. Fusce sed leo arcu. Ut ut erat lacus.
      In id ultrices nunc. Fusce vitae finibus est. Donec auctor mattis egestas.
      Nulla luctus magna et eleifend fermentum. Maecenas sagittis sapien at
      metus vestibulum consequat. Pellentesque lobortis nulla sed nibh
      consectetur varius. Etiam suscipit est vitae dui fermentum, accumsan
      dignissim turpis luctus. Maecenas eu orci ipsum. In tincidunt elementum
      nisi vel consectetur. Quisque a lacus vehicula, sodales velit vitae,
      condimentum ligula.
    </p>
  </div>

  <div tabindex="-1" #skipLink2>
    <h2>Area 2</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi egestas,
      tellus sed placerat gravida, sapien nisi auctor justo, et mattis nisi eros
      sed purus. Pellentesque sodales nunc tortor, ullamcorper ornare est
      blandit non. Suspendisse sed orci posuere, vestibulum purus gravida,
      auctor ex. Suspendisse lectus velit, euismod commodo tempor ac, semper ut
      metus. Aliquam tincidunt neque sed erat blandit, id pulvinar orci
      tristique. Phasellus maximus efficitur scelerisque. In at sapien eu lectus
      placerat pellentesque. Praesent auctor porttitor arcu quis blandit. Nulla
      cursus lacus eu dictum sollicitudin.
    </p>
    <p>
      Sed tristique purus id augue egestas, sit amet congue eros tempor.
      Vestibulum blandit nisi eu massa congue iaculis dictum eget nunc. Nam
      tincidunt quam vel bibendum lacinia. Fusce sed leo arcu. Ut ut erat lacus.
      In id ultrices nunc. Fusce vitae finibus est. Donec auctor mattis egestas.
      Nulla luctus magna et eleifend fermentum. Maecenas sagittis sapien at
      metus vestibulum consequat. Pellentesque lobortis nulla sed nibh
      consectetur varius. Etiam suscipit est vitae dui fermentum, accumsan
      dignissim turpis luctus. Maecenas eu orci ipsum. In tincidunt elementum
      nisi vel consectetur. Quisque a lacus vehicula, sodales velit vitae,
      condimentum ligula.
    </p>
  </div>
</div>
