<sky-chart headingText="Acquisitions by year">
  <sky-chart-line>
    <sky-chart-axis-category labelText="Year" [categories]="years" />
    <sky-chart-axis-value labelText="Acquisitions" />
    <sky-chart-line-series
      labelText="Acquisitions by year"
      [values]="acquisitions"
    />
  </sky-chart-line>
</sky-chart>

<sky-chart headingText="Actual vs. target">
  <sky-chart-line>
    <sky-chart-axis-category labelText="Year" [categories]="years" />
    <sky-chart-axis-value labelText="Acquisitions" />
    <sky-chart-line-series labelText="Actual" [values]="acquisitions" />
    <sky-chart-line-series labelText="Target" [values]="target" />
  </sky-chart-line>
</sky-chart>

<sky-chart id="gap-chart" headingText="Donations by year">
  <sky-chart-line>
    <sky-chart-axis-category labelText="Year" [categories]="years" />
    <sky-chart-axis-value labelText="Donations" format="currency" />
    <sky-chart-line-series labelText="Donations" [values]="donations" />
  </sky-chart-line>
</sky-chart>
