<!-- mock sprite map -->
<svg id="sky-illustration-svg-sprite" hidden="true">
  <symbol
    viewBox="-2 -2 96 96"
    class="sky-illustration-svg"
    id="sky-illustration-accounting-invoice-mail"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M90.083 44.083 61.333 63.25H30.667L1.917 44.083 17.25 33.542h57.5l15.333 10.541z"
      stroke="#004054"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="#E7FBF1"
      class="sky-illustration-outline sky-illustration-fill-soft"
      stroke-width="4"
    />
    <path
      d="M74.75 63.093V5.75a3.833 3.833 0 0 0-3.833-3.833H21.083A3.833 3.833 0 0 0 17.25 5.75v57.343Z"
      fill="#E7FBF1"
      class="sky-illustration-fill-soft"
    />
    <path
      d="M73.983 3.45a3.833 3.833 0 0 0-3.066-1.533H21.083A3.833 3.833 0 0 0 17.25 5.75v54.433Z"
      fill="#FFF"
      class="sky-illustration-fill-softest"
    />
    <path
      d="M43.965 24.917a15.437 15.437 0 1 0 30.873 0 15.437 15.437 0 1 0-30.873 0"
      fill="#6DE8AB"
      class="sky-illustration-fill-heavy"
    />
    <path
      d="M74.75 63.093V5.75a3.833 3.833 0 0 0-3.833-3.833H21.083A3.833 3.833 0 0 0 17.25 5.75v57.343"
      fill="none"
      stroke="#004054"
      class="sky-illustration-outline"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="4"
    />
    <path
      d="m67.885 58.88 22.198-14.797v40.25a5.75 5.75 0 0 1-5.75 5.75H7.667a5.75 5.75 0 0 1-5.75-5.75v-40.25L24.94 59.417"
      fill="#FFF"
      stroke="#004054"
      class="sky-illustration-fill-softest sky-illustration-outline"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="4"
    />
    <path
      d="M13.417 78.583 32.583 63.25h26.834l19.166 15.333M26.833 17.25h17.25M26.833 24.917h17.25M26.833 32.583h9.584M59.417 32.583v3.834M59.417 13.417v3.833M51.75 32.583h11.5a3.833 3.833 0 0 0 0-7.666h-7.667a3.833 3.833 0 0 1 0-7.667h11.5"
      fill="none"
      stroke="#004054"
      class="sky-illustration-outline"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="4"
    />
  </symbol>
</svg>

<sky-page layout="blocks">
  <sky-page-content>
    <sky-illustration class="sky-margin-stacked-lg" name="url" size="sm" />
    <sky-illustration class="sky-margin-stacked-lg" name="url" size="md" />
    <sky-illustration class="sky-margin-stacked-lg" name="url" size="lg" />
    <sky-illustration class="sky-margin-stacked-lg" name="url" size="xl" />
    <sky-illustration class="sky-margin-stacked-lg" name="svg" size="sm" />
    <sky-illustration class="sky-margin-stacked-lg" name="svg" size="md" />
    <sky-illustration class="sky-margin-stacked-lg" name="svg" size="lg" />
    <sky-illustration class="sky-margin-stacked-lg" name="svg" size="xl" />
  </sky-page-content>
</sky-page>
