<sky-page layout="blocks">
  <sky-page-content>
    <sky-illustration
      class="sky-margin-stacked-lg"
      name="time-clock-circle"
      size="sm"
    />
    <sky-illustration
      class="sky-margin-stacked-lg"
      name="green-square"
      size="md"
    />
    <sky-illustration
      class="sky-margin-stacked-lg"
      name="green-square"
      size="lg"
    />
    <sky-illustration
      class="sky-margin-stacked-lg"
      name="green-square"
      size="xl"
    />
  </sky-page-content>
</sky-page>
