<sky-page layout="blocks">
  <sky-page-content>
    <sky-illustration class="sky-margin-stacked-lg" name="url" size="sm" />
    <sky-illustration class="sky-margin-stacked-lg" name="url" size="md" />
    <sky-illustration class="sky-margin-stacked-lg" name="url" size="lg" />
    <sky-illustration class="sky-margin-stacked-lg" name="url" size="xl" />
    <sky-illustration class="sky-margin-stacked-lg" name="svg" size="sm" />
    <sky-illustration class="sky-margin-stacked-lg" name="svg" size="md" />
    <sky-illustration class="sky-margin-stacked-lg" name="svg" size="lg" />
    <sky-illustration class="sky-margin-stacked-lg" name="svg" size="xl" />
  </sky-page-content>
</sky-page>
