<sky-label
  class="sky-margin-inline-lg"
  labelType="info"
  descriptionType="important-info"
>
  Board member
</sky-label>

<sky-label
  class="sky-margin-inline-lg"
  labelType="success"
  descriptionType="success"
>
  Approved
</sky-label>

<sky-label
  class="sky-margin-inline-lg"
  labelType="warning"
  descriptionType="warning"
>
  Needs approval
</sky-label>

<sky-label
  class="sky-margin-inline-lg"
  labelType="danger"
  descriptionType="important-warning"
>
  Overdue
</sky-label>

<sky-label
  class="sky-margin-inline-lg"
  labelType="info"
  descriptionType="custom"
  customDescription="Fun fact:"
>
  Custom screen reader description
</sky-label>
