<sky-label
  class="sky-margin-inline-lg"
  labelType="info"
  descriptionType="important-info"
>
  Info label
</sky-label>

<sky-label
  class="sky-margin-inline-lg"
  labelType="success"
  descriptionType="completed"
>
  Success label
</sky-label>

<sky-label
  class="sky-margin-inline-lg"
  labelType="warning"
  descriptionType="warning"
>
  Warning label
</sky-label>

<sky-label
  class="sky-margin-inline-lg"
  labelType="danger"
  descriptionType="error"
>
  Danger label
</sky-label>

<sky-label
  class="sky-margin-inline-lg"
  labelType="info"
  descriptionType="custom"
  customDescription="Fun fact:"
>
  Custom screen reader description
</sky-label>
