<form novalidate [formGroup]="myForm">
  <div>
    <label class="sky-control-label" [for]="favoriteColorInput.id">
      Favorite color
    </label>
    <sky-autocomplete [data]="colors">
      <sky-input-box stacked="true">
        <input
          formControlName="favoriteColor"
          type="text"
          skyAutocomplete
          skyId
          #favoriteColorInput
        />
      </sky-input-box>
    </sky-autocomplete>
  </div>
  <p class="sky-font-emphasized">Form model:</p>
  <pre>{{ myForm.value | json }}</pre>
</form>
