@for (layout of layouts; track layout) {
  <div class="sky-margin-stacked-lg">
    <sky-key-info class="{{ layout }}-key-info" [layout]="layout">
      <sky-key-info-value> 575 </sky-key-info-value>
      <sky-key-info-label> New members </sky-key-info-label>
    </sky-key-info>
  </div>
}

@for (layout of layouts; track layout) {
  <div class="sky-margin-stacked-lg">
    <sky-key-info
      class="{{ layout }}-key-info"
      helpPopoverContent="Help!"
      [layout]="layout"
    >
      <sky-key-info-value> 575 </sky-key-info-value>
      <sky-key-info-label> New members </sky-key-info-label>
    </sky-key-info>
  </div>
}
