<div class="sky-padding-even-large">
  <sky-action-button-container>
    <sky-action-button>
      <sky-action-button-icon iconName="filter" />
      <sky-action-button-header>Build a new list</sky-action-button-header>
      <sky-action-button-details>
        Start from scratch and fine-tune with filters.
      </sky-action-button-details>
    </sky-action-button>
    <sky-action-button>
      <sky-action-button-icon iconName="folder-open" />
      <sky-action-button-header>Open a saved list</sky-action-button-header>
      <sky-action-button-details>
        Open a list with filters saved in the web view.
      </sky-action-button-details>
    </sky-action-button>
    <sky-action-button>
      <sky-action-button-icon iconName="link" />
      <sky-action-button-header>Open a link</sky-action-button-header>
      <sky-action-button-details>Open a link.</sky-action-button-details>
    </sky-action-button>
    <sky-action-button>
      <sky-action-button-icon iconName="link" />
      <sky-action-button-header>Open a router link</sky-action-button-header>
      <sky-action-button-details>
        Open a router link.
      </sky-action-button-details>
    </sky-action-button>
    <sky-action-button
      class="action-button-open-modal"
      (actionClick)="openActionButtonModal()"
    >
      <sky-action-button-icon iconName="list" />
      <sky-action-button-header>Open a modal</sky-action-button-header>
      <sky-action-button-details>
        Open a modal with action buttons.
      </sky-action-button-details>
    </sky-action-button>
    <sky-action-button>
      <sky-action-button-icon iconName="filter" />
      <sky-action-button-header>Build a new list</sky-action-button-header>
      <sky-action-button-details>
        Start from scratch and fine-tune with filters.
      </sky-action-button-details>
    </sky-action-button>
    <sky-action-button>
      <sky-action-button-icon iconName="folder-open" />
      <sky-action-button-header>Open a saved list</sky-action-button-header>
      <sky-action-button-details>
        Open a list with filters saved in the web view.
      </sky-action-button-details>
    </sky-action-button>
    <sky-action-button>
      <sky-action-button-icon iconName="link" />
      <sky-action-button-header>Open a link</sky-action-button-header>
      <sky-action-button-details>Open a link.</sky-action-button-details>
    </sky-action-button>
    <sky-action-button>
      <sky-action-button-icon iconName="link" />
      <sky-action-button-header>Open a router link</sky-action-button-header>
      <sky-action-button-details>
        Open a router link.
      </sky-action-button-details>
    </sky-action-button>
  </sky-action-button-container>
</div>
