<sky-alert>
  On Android devices, when an input is 1) initialized with a value and 2)
  receives focus, the FIRST key press from the native phone keyboard does NOT
  register a raw value change when serving the playground in development mode.
  To see the fix, serve with the "production" configuration:
  <code>npx nx serve playground --configuration production</code>.
</sky-alert>
<form [formGroup]="formGroup">
  <sky-input-box labelText="Donation amount">
    <input
      formControlName="amount"
      type="text"
      [skyAutonumeric]="autonumericOptions"
    />
  </sky-input-box>
  <p>Raw value: {{ rawValue() }}</p>
  <p>Value changes count: {{ valueChangesCount() }}</p>
</form>
