<sky-box>
  <sky-box-header>
    <h2 class="sky-font-heading-2">Box header</h2>
  </sky-box-header>
  <sky-box-controls>
    <sky-dropdown buttonType="context-menu" label="Box demo context menu">
      <sky-dropdown-menu>
        <sky-dropdown-item>
          <button type="button">Action 1</button>
        </sky-dropdown-item>
        <sky-dropdown-item>
          <button type="button">Action 2</button>
        </sky-dropdown-item>
      </sky-dropdown-menu>
    </sky-dropdown>
  </sky-box-controls>
  <sky-box-content>
    <p>Box content</p>
  </sky-box-content>
</sky-box>
