<sky-page layout="blocks">
  <sky-page-header
    pageTitle="Blocks page"
    [parentLink]="{
      label: 'Components',
      permalink: {
        route: {
          commands: ['/']
        }
      }
    }"
  />
  <sky-page-content>
    <sky-fluid-grid gutterSize="medium" [disableMargin]="true">
      <sky-row>
        <sky-column [screenSmall]="8">
          <sky-box class="sky-margin-stacked-xl">
            <sky-box-header>Box 1</sky-box-header>
            <sky-box-content>Box 1 content</sky-box-content>
          </sky-box>
        </sky-column>
        <sky-column [screenSmall]="4">
          <sky-box class="sky-margin-stacked-xl">
            <sky-box-header>Box 2</sky-box-header>
            <sky-box-content>Box 2 content</sky-box-content>
          </sky-box>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenSmall]="8">
          <sky-box class="sky-margin-stacked-xl">
            <sky-box-header>Box 3</sky-box-header>
            <sky-box-content>Box 3 content</sky-box-content>
          </sky-box>
        </sky-column>
        <sky-column [screenSmall]="4">
          <sky-box>
            <sky-box-header>Box 4</sky-box-header>
            <sky-box-content>Box 4 content</sky-box-content>
          </sky-box>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </sky-page-content>
  <sky-page-links>
    <sky-link-list
      headingText="Related links"
      [links]="linksLoading()"
      (click)="linksLoading.set(linksLoading() ? undefined : 'loading')"
    >
      <sky-link-list-item>
        <a href="/">Components</a>
      </sky-link-list-item>
    </sky-link-list>
  </sky-page-links>
</sky-page>
