<div class="sky-padding-even-xl">
  <form [formGroup]="formGroup">
    <sky-field-group
      labelText="Field group"
      hintText="Hint text for the section."
      headingLevel="4"
    >
      <sky-input-box labelText="Name" [stacked]="true">
        <input type="text" formControlName="name" />
      </sky-input-box>

      <sky-input-box class="sky-margin-stacked-lg">
        <label class="sky-control-label" [for]="hometownInput.id">
          Hometown
        </label>
        <input
          class="sky-form-control"
          formControlName="hometown"
          skyId
          type="text"
          #hometownInput="skyId"
        />
      </sky-input-box>
      <sky-toggle-switch
        ariaLabel="Activate annual fundraiser"
        formControlName="toggle"
      >
        <sky-toggle-switch-label> Active </sky-toggle-switch-label>
      </sky-toggle-switch>
      <sky-radio-group
        class="sky-switch-icon-group"
        formControlName="radio"
        labelText="View"
      >
        <sky-radio
          *ngFor="let view of views"
          [icon]="view.icon"
          [label]="view.label"
          [value]="view.name"
        />
      </sky-radio-group>
    </sky-field-group>
  </form>
</div>
