<h2>Components</h2>

<sky-data-manager *ngIf="componentData && componentData.length > 0">
  <sky-data-manager-toolbar></sky-data-manager-toolbar>
  <sky-data-view viewId="playgroundComponents">
    <sky-action-button-container>
      <sky-action-button
        *ngFor="let component of displayedItems"
        [permalink]="{
          route: {
            commands: component.path
          }
        }"
      >
        <sky-action-button-icon
          [iconType]="component.icon"
        ></sky-action-button-icon>
        <sky-action-button-header>
          {{ component.name }}
        </sky-action-button-header>
        <sky-action-button-details>
          {{ component.library }}
        </sky-action-button-details>
      </sky-action-button>
    </sky-action-button-container>
  </sky-data-view>
</sky-data-manager>
