<sky-modal [headingText]="'Filter by library'">
  <sky-modal-content>
    <sky-repeater>
      @for (library of libraries; track library) {
        <sky-repeater-item
          [selectable]="true"
          [(isSelected)]="library.isSelected"
        >
          <sky-repeater-item-title>
            {{ library.name }}
          </sky-repeater-item-title>
        </sky-repeater-item>
      }
    </sky-repeater>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      type="button"
      class="sky-btn sky-btn-primary"
      (click)="applyFilters()"
    >
      Apply filters
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-link"
      (click)="clearAllFilters()"
    >
      Clear all filters
    </button>
    <button type="button" class="sky-btn sky-btn-link" (click)="cancel()">
      Cancel
    </button>
  </sky-modal-footer>
</sky-modal>
