<ul>
  <li>
    Datetime
    <ul>
      <li><a routerLink="components/datetime/datepicker">Datepicker</a></li>
      <li>
        <a routerLink="components/datetime/date-range-picker"
          >Date range picker</a
        >
      </li>
    </ul>
  </li>
  <li>
    Layout
    <ul>
      <li><a routerLink="components/layout/back-to-top">Back To Top</a></li>
      <li>
        <a routerLink="components/layout/back-to-top/message-stream"
          >Back To Top - Message stream</a
        >
      </li>
      <li>
        <a routerLink="components/layout/back-to-top/scrollable-parent"
          >Back To Top - Scrollable parent</a
        >
      </li>
    </ul>
  </li>
  <li>
    Lookup
    <ul>
      <li><a routerLink="components/lookup/lookup">Lookup</a></li>
    </ul>
  </li>
  <li>
    Tabs
    <ul>
      <li>
        <a routerLink="components/tabs/vertical-tabset">Vertical Tabset</a>
      </li>
    </ul>
  </li>
</ul>
