<h2>Default appearance</h2>

<div
  class="sky-buttons-demo-screenshot-wrapper"
  id="screenshot-buttons-default-state"
>
  <button
    class="sky-btn sky-btn-default sky-margin-inline-compact"
    type="button"
  >
    Default
  </button>

  <button
    class="sky-btn sky-btn-primary sky-margin-inline-compact"
    type="button"
  >
    Primary
  </button>

  <button
    class="sky-btn sky-btn-danger sky-margin-inline-compact"
    type="button"
  >
    Danger
  </button>

  <button class="sky-btn sky-btn-link sky-margin-inline-compact" type="button">
    Link button
  </button>

  <button
    class="sky-btn sky-btn-borderless sky-margin-inline-compact"
    type="button"
  >
    Borderless button
  </button>

  <a class="sky-btn sky-btn-primary sky-margin-inline-compact">
    Anchor with button class
  </a>

  <button
    class="sky-btn sky-btn-default sky-btn-icon sky-margin-inline-compact"
    type="button"
  >
    <i class="fa fa-angle-double-down"></i>
  </button>

  <button
    class="sky-btn sky-btn-icon-borderless sky-margin-inline-compact"
    type="button"
  >
    <i class="fa fa-angle-double-up"></i>
  </button>

  <button class="sky-btn sky-btn-default sky-btn-sm" type="button">31</button>

  <div class="sky-buttons-demo-screenshot-inline">
    Here's an
    <button class="sky-btn sky-btn-link-inline" type="button">
      inline link button
    </button>
    with some other text, and here's a
    <button class="sky-btn sky-btn-borderless-inline" type="button">
      borderless inline button
    </button>
    with some other text.
  </div>

  <div class="sky-buttons-demo-screenshot-wrapper">
    <div class="sky-input-group">
      <input class="sky-form-control" type="text" />
      <div class="sky-input-group-btn">
        <button
          aria-haspopup="dialog"
          class="sky-btn sky-btn-default"
          type="button"
        >
          <i class="fa fa-clock-o"></i>
        </button>
      </div>
      <div class="sky-input-group-btn">
        <button
          aria-haspopup="dialog"
          class="sky-btn sky-btn-default"
          type="button"
        >
          <i class="fa fa-calendar-o"></i>
        </button>
      </div>
    </div>
  </div>

  <ng-container
    *ngTemplateOutlet="blockBtn; context: { disabled: undefined }"
  />
</div>

<h2>Disabled states</h2>

<div
  class="sky-buttons-demo-screenshot-wrapper"
  id="screenshot-buttons-disabled-state"
>
  <button
    class="sky-btn sky-btn-default sky-btn-disabled sky-margin-inline-compact"
    type="button"
  >
    Default disabled (w/ class)
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-compact"
    type="button"
    disabled
  >
    Default disabled (w/ attribute)
  </button>

  <button
    class="sky-btn sky-btn-primary sky-btn-disabled sky-margin-inline-compact"
    type="button"
  >
    Primary disabled (w/ class)
  </button>

  <button
    class="sky-btn sky-btn-primary sky-margin-inline-compact"
    type="button"
    disabled
  >
    Primary disabled (w/ attribute)
  </button>

  <button
    class="sky-btn sky-btn-danger sky-btn-disabled sky-margin-inline-compact"
    type="button"
  >
    Danger disabled (w/ class)
  </button>

  <button
    class="sky-btn sky-btn-danger sky-margin-inline-compact"
    type="button"
    disabled
  >
    Danger disabled (w/ attribute)
  </button>

  <button
    class="sky-btn sky-btn-link sky-btn-disabled sky-margin-inline-compact"
    type="button"
  >
    Link button disabled (w/ class)
  </button>

  <button
    class="sky-btn sky-btn-link sky-margin-inline-compact"
    type="button"
    disabled
  >
    Link button disabled (w/ attribute)
  </button>

  <button
    class="sky-btn sky-btn-borderless sky-btn-disabled sky-margin-inline-compact"
    type="button"
  >
    Borderless button disabled (w/ class)
  </button>

  <button
    class="sky-btn sky-btn-borderless sky-margin-inline-compact"
    type="button"
    disabled
  >
    Borderless button disabled (w/ attribute)
  </button>

  <a class="sky-btn sky-btn-primary sky-btn-disabled sky-margin-inline-compact">
    Anchor button disabled (w/ class)
  </a>

  <a class="sky-btn sky-btn-primary" disabled>
    Anchor button disabled (w/ attribute)
  </a>

  <button
    class="sky-btn sky-btn-default sky-btn-icon sky-margin-inline-compact"
    disabled
    type="button"
  >
    <i class="fa fa-angle-double-down"></i>
  </button>

  <button
    class="sky-btn sky-btn-icon-borderlesssky-margin-inline-compact"
    disabled
    type="button"
  >
    <i class="fa fa-angle-double-up"></i>
  </button>

  <button
    class="sky-btn sky-btn-default sky-btn-icon sky-margin-inline-compact"
    type="button"
    disabled
  >
    <i class="fa fa-angle-double-down"></i>
  </button>

  <button class="sky-btn sky-btn-default sky-btn-sm" type="button" disabled>
    31
  </button>

  <div class="sky-buttons-demo-screenshot-inline">
    Inline test
    <button class="sky-btn sky-btn-link-inline sky-btn-disabled" type="button">
      Inline link button disabled (w/ class)
    </button>
    -
    <button class="sky-btn sky-btn-link-inline" type="button" disabled>
      Inline link button disabled (w/ attribute)
    </button>
    -
    <button
      class="sky-btn sky-btn-borderless-inline sky-btn-disabled"
      type="button"
    >
      Borderless inline button disabled (w/ class)
    </button>
    -
    <button class="sky-btn sky-btn-borderless-inline" type="button" disabled>
      Borderless inline button disabled (w/ attribute)
    </button>
    inline test.
  </div>

  <div class="sky-buttons-demo-screenshot-wrapper">
    <div class="sky-input-group">
      <input class="sky-form-control" type="text" />
      <div class="sky-input-group-btn">
        <button
          aria-haspopup="dialog"
          class="sky-btn sky-btn-default"
          disabled
          type="button"
        >
          <i class="fa fa-clock-o"></i>
        </button>
      </div>
      <div class="sky-input-group-btn">
        <button
          aria-haspopup="dialog"
          class="sky-btn sky-btn-default"
          type="button"
          disabled
        >
          <i class="fa fa-calendar-o"></i>
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngTemplateOutlet="blockBtn; context: { disabled: true }" />
</div>

<ng-template #blockBtn let-disabled="disabled">
  <div class="sky-buttons-demo-screenshot-block sky-padding-even-md">
    <sky-fluid-grid>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <button
            class="sky-btn sky-btn-primary sky-btn-block"
            type="button"
            [disabled]="disabled"
          >
            Primary block button
          </button>
        </sky-column>
        <sky-column [screenXSmall]="6">
          <button
            class="sky-btn sky-btn-default sky-btn-block"
            type="button"
            [disabled]="disabled"
          >
            Default block button
          </button>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <button
            class="sky-btn sky-btn-danger sky-btn-block"
            type="button"
            [disabled]="disabled"
          >
            Danger block button
          </button>
        </sky-column>
        <sky-column [screenXSmall]="6">
          <button
            class="sky-btn sky-btn-link sky-btn-block"
            type="button"
            [disabled]="disabled"
          >
            Link block button
          </button>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <button
            class="sky-btn sky-btn-borderless sky-btn-block"
            type="button"
            [disabled]="disabled"
          >
            Borderless block button
          </button>
        </sky-column>
        <sky-column [screenXSmall]="6">
          <a
            class="sky-btn sky-btn-primary sky-btn-block"
            [attr.disabled]="disabled"
          >
            Anchor with block button class
          </a>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <button
            class="sky-btn sky-btn-primary sky-btn-block"
            type="button"
            [disabled]="disabled"
          >
            <sky-icon
              class="sky-btn-block-logo"
              iconName="google-branded"
            />Primary block w/logo
          </button>
        </sky-column>
        <sky-column [screenXSmall]="6">
          <button
            class="sky-btn sky-btn-default sky-btn-block"
            type="button"
            [disabled]="disabled"
          >
            <sky-icon
              class="sky-btn-block-logo"
              iconName="google-branded"
            />Default block w/logo
          </button>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <button
            class="sky-btn sky-btn-danger sky-btn-block"
            type="button"
            [disabled]="disabled"
          >
            <sky-icon
              class="sky-btn-block-logo"
              iconName="google-branded"
            />Danger block w/logo
          </button>
        </sky-column>
        <sky-column [screenXSmall]="6">
          <button
            class="sky-btn sky-btn-link sky-btn-block"
            type="button"
            [disabled]="disabled"
          >
            <sky-icon
              class="sky-btn-block-logo"
              iconName="google-branded"
            />Link block w/logo
          </button>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <button
            class="sky-btn sky-btn-borderless sky-btn-block"
            type="button"
            [disabled]="disabled"
          >
            <sky-icon
              class="sky-btn-block-logo"
              iconName="google-branded"
            />Borderless block w/logo
          </button>
        </sky-column>
        <sky-column [screenXSmall]="6">
          <a
            class="sky-btn sky-btn-primary sky-btn-block"
            [attr.disabled]="disabled"
          >
            <sky-icon class="sky-btn-block-logo" iconName="google-branded" />
            Anchor block w/logo
          </a>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </div>
</ng-template>
