<h2>Default appearance</h2>

<div>
  <sky-button class="sky-theme-margin-right-xs" labelText="Default" />

  <sky-button
    buttonStyle="primary"
    class="sky-theme-margin-right-xs"
    labelText="Primary"
  />

  <sky-button
    buttonStyle="danger"
    class="sky-theme-margin-right-xs"
    labelText="Danger"
  />

  <sky-button
    buttonStyle="link"
    class="sky-theme-margin-right-xs"
    labelText="Link button"
  />

  <sky-button
    buttonStyle="primary"
    class="sky-theme-margin-right-xs"
    labelText="Anchor button"
    [permalink]="{
      url: '/'
    }"
  />

  <sky-button
    buttonStyle="primary"
    class="sky-theme-margin-right-xs"
    iconName="add"
    labelText="Anchor with icon"
    [permalink]="{
      url: '/'
    }"
  />

  <sky-button
    buttonStyle="link"
    class="sky-theme-margin-right-xs"
    iconName="add"
    labelText="Link anchor with icon"
    [permalink]="{
      url: '/'
    }"
  />

  <sky-button
    class="sky-theme-margin-right-xs"
    iconName="chevron-double-down"
    labelText="Expand"
    labelHidden
  />

  <sky-button
    buttonStyle="icon-borderless"
    class="sky-theme-margin-right-xs"
    iconName="chevron-double-up"
    labelText="Collapse"
    labelHidden
  />

  <div class="sky-buttons-demo-screenshot-inline">
    Here's an
    <sky-button buttonStyle="link-inline" labelText="inline link button" />
    with some other text.
  </div>

  <ng-container
    *ngTemplateOutlet="blockBtn; context: { disabled: undefined }"
  />
</div>

<h2>Disabled states</h2>

<div>
  <sky-button
    class="sky-theme-margin-right-xs"
    disabled
    labelText="Default disabled"
  />

  <sky-button
    buttonStyle="primary"
    class="sky-theme-margin-right-xs"
    disabled
    labelText="Primary disabled"
  />

  <sky-button
    buttonStyle="danger"
    class="sky-theme-margin-right-xs"
    disabled
    labelText="Danger disabled"
  />

  <sky-button
    buttonStyle="link"
    class="sky-theme-margin-right-xs"
    disabled
    labelText="Link button disabled"
  />

  <sky-button
    buttonStyle="primary"
    class="sky-theme-margin-right-xs"
    disabled
    labelText="Anchor button disabled"
    [permalink]="{
      url: '/'
    }"
  />

  <sky-button
    class="sky-theme-margin-right-xs"
    disabled
    iconName="chevron-double-down"
    labelHidden
    labelText="Danger disabled"
  />

  <div class="sky-buttons-demo-screenshot-inline">
    Inline test
    <sky-button
      buttonStyle="link-inline"
      disabled
      labelText="Inline link button disabled"
    />
    inline test.
  </div>

  <ng-container *ngTemplateOutlet="blockBtn; context: { disabled: true }" />
</div>

<ng-template #blockBtn let-disabled="disabled">
  <div class="sky-padding-even-md">
    <sky-fluid-grid>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <sky-button
            block
            buttonStyle="primary"
            labelText="Primary block button"
            [disabled]="disabled"
          />
        </sky-column>
        <sky-column [screenXSmall]="6">
          <sky-button
            block
            labelText="Default block button"
            [disabled]="disabled"
          />
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <sky-button
            block
            buttonStyle="danger"
            labelText="Danger block button"
            [disabled]="disabled"
          />
        </sky-column>
        <sky-column [screenXSmall]="6">
          <sky-button
            block
            buttonStyle="link"
            labelText="Link block button"
            [disabled]="disabled"
          />
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <sky-button
            block
            buttonStyle="primary"
            labelText="Anchor with block button class"
            [disabled]="disabled"
            [permalink]="{
              url: '/'
            }"
          />
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <sky-button
            block
            buttonStyle="primary"
            iconName="google-branded"
            labelText="Primary block w/logo"
            logo
            [disabled]="disabled"
          />
        </sky-column>
        <sky-column [screenXSmall]="6">
          <sky-button
            block
            iconName="google-branded"
            labelText="Default block w/logo"
            logo
            [disabled]="disabled"
          />
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <sky-button
            block
            buttonStyle="danger"
            iconName="google-branded"
            labelText="Danger block w/logo"
            logo
            [disabled]="disabled"
          />
        </sky-column>
        <sky-column [screenXSmall]="6">
          <sky-button
            block
            buttonStyle="link"
            iconName="google-branded"
            labelText="Link block w/logo"
            logo
            [disabled]="disabled"
          />
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenXSmall]="6">
          <sky-button
            block
            buttonStyle="primary"
            iconName="google-branded"
            labelText="Anchor block w/logo"
            logo
            [disabled]="disabled"
            [permalink]="{
              route: {
                commands: ['/']
              }
            }"
          />
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </div>
</ng-template>
