<input [(ngModel)]="normalSearchTerm" />
<div class="sky-text-highlight-demo">
  <div [skyHighlight]="normalSearchTerm">
    The text that you enter should be highlighted here.
  </div>
  <div [skyHighlight]="arrayOfSearchTerms">
    This paragraph should be highlighed by two different values in an array:
    Åland Islands and Aland Islands.
  </div>
  <div [skyHighlight]="blankSearchTerm">
    This paragraph should not be highlighted, because we're passing a blank
    search term.
  </div>
  <div [skyHighlight]="notMatchedSearchTerm">
    This paragraph should not be highlighted, because we're passing a search
    term that's not found.
  </div>
</div>
