<div class="sky-margin-stacked-default">
  <label
    for="textInputActive"
    class="sky-control-label sky-control-label-required"
  >
    Text Input Active
  </label>
  <input
    type="text"
    id="textInputActive"
    name="textInputActive"
    class="sky-form-control mock-active"
    required
    [(ngModel)]="textInput"
  />
</div>
<div class="sky-margin-stacked-default">
  <label for="textInput" class="sky-control-label sky-control-label-required">
    Text Input
  </label>
  <input
    type="text"
    id="textInput"
    name="textInput"
    class="sky-form-control"
    required
    [(ngModel)]="textInput"
  />
</div>
<div class="sky-margin-stacked-default">
  <label
    for="textInputTouched"
    class="sky-control-label sky-control-label-required"
  >
    Text Input Touched
  </label>
  <input
    type="text"
    id="textInputTouched"
    name="textInputTouched"
    class="sky-form-control"
    required
    [(ngModel)]="textInput"
  />
</div>

<div class="sky-margin-stacked-default">
  <label for="selectInput" class="sky-control-label sky-control-label-required">
    Select Input
  </label>
  <select
    id="selectInput"
    name="selectInput"
    class="sky-form-control"
    required
    [(ngModel)]="selectInput"
  >
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
</div>
<div class="sky-margin-stacked-default">
  <label
    for="selectInputTouched"
    class="sky-control-label sky-control-label-required"
  >
    Select Input Touched
  </label>
  <select
    id="selectInputTouched"
    name="selectInputTouched"
    class="sky-form-control"
    required
    [(ngModel)]="selectInputTouched"
  >
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
</div>

<div id="free-space"></div>
