<sky-page layout="list">
  <sky-page-header pageTitle="List page">
    <sky-page-header-details>
      Additional details about the page.
    </sky-page-header-details>
  </sky-page-header>
  <sky-page-content class="sky-border-dark">
    <sky-toolbar>
      <sky-toolbar-item>
        <button type="button" class="sky-btn sky-btn-primary">
          Toolbar button
        </button>
      </sky-toolbar-item>
    </sky-toolbar>
    <p>List content</p></sky-page-content
  >
  @if (showLinks()) {
    <sky-page-links><app-links /></sky-page-links>
  }
</sky-page>
