@if (data(); as data) {
  <sky-grid
    [data]="data"
    [enableMultiselect]="true"
    (multiselectSelectionChange)="onMultiselectSelectionChange($event)"
  >
    <sky-grid-column field="firstName" heading="First name" />
    <sky-grid-column field="lastName" heading="Last name" />
    <sky-grid-column
      field="emailAddress"
      heading="Email address"
      [template]="emailTemplateRef"
    />
  </sky-grid>
}

<ng-template #emailTemplateRef let-value="value" let-row="row">
  <a [href]="'mailto:' + value">{{ value }}</a>
</ng-template>
