@use 'libs/components/theme/src/lib/styles/variables' as *;

.sky-country-field-visual {
  padding: $sky-padding;
}

.screenshot-country-field {
  width: 50%;
  height: 100px;
  margin: $sky-margin;
  padding: $sky-padding;
}
