<div class="sky-form-group" style="width: 200px">
  <label [for]="searchTermInput.id" class="sky-font-data-label">
    Text to highlight
  </label>
  <br />
  <input
    class="sky-form-control"
    id="sky-demo-search-term"
    skyId
    type="text"
    [(ngModel)]="searchTerm"
    #searchTermInput="skyId"
  />
</div>

<div class="sky-margin-stacked-lg">
  <sky-checkbox [(ngModel)]="showAdditionalContent">
    <sky-checkbox-label> Display additional content </sky-checkbox-label>
  </sky-checkbox>
</div>

<div [skyHighlight]="searchTerm">
  The text that you enter is highlighted here.
  <div *ngIf="showAdditionalContent">
    This additional content is highlighted too!
  </div>
</div>
