<div class="input-box-demo">
  <form [formGroup]="newMemberForm">
    <sky-fluid-grid [disableMargin]="false" gutterSize="small">
      <sky-row>
        <sky-column [screenSmall]="12">
          <h2>New member form</h2>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenSmall]="12" [screenMedium]="6">
          <sky-input-box labelText="First name" stacked="true">
            <input formControlName="firstName" type="text" spellcheck="false" />
          </sky-input-box>
        </sky-column>
        <sky-column [screenSmall]="12" [screenMedium]="6">
          <sky-input-box labelText="Last name" stacked="true">
            <input formControlName="lastName" type="text" spellcheck="false" />
          </sky-input-box>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenSmall]="12">
          <sky-input-box
            helpPopoverContent="A brief description of the member's background, such as hometown, school, hobbies, etc."
            characterLimit="250"
            labelText="Bio"
            stacked="true"
          >
            <textarea formControlName="bio"></textarea>
          </sky-input-box>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenSmall]="12" [screenMedium]="6">
          <sky-input-box labelText="Email address" stacked="true">
            <input formControlName="email" type="text" />
          </sky-input-box>
        </sky-column>
        <sky-column [screenSmall]="12" [screenMedium]="6">
          <sky-input-box labelText="Date of birth" stacked="true">
            <sky-datepicker>
              <input formControlName="dob" skyDatepickerInput />
            </sky-datepicker>
          </sky-input-box>
        </sky-column>
      </sky-row>
      <sky-row>
        <sky-column [screenSmall]="12">
          <sky-input-box labelText="Favorite color">
            <select formControlName="favoriteColor">
              <option value="none">None</option>
              <option value="red">Red</option>
              <option value="orange">Orange</option>
              <option value="yellow">Yellow</option>
              <option value="green">Green</option>
              <option value="blue">Blue</option>
              <option value="purple">Purple</option>
              <option value="bird">Bird</option>
            </select>
            <!-- Custom validator not handled by input box. -->
            <div class="sky-error-indicator">
              <sky-status-indicator
                *ngIf="favoriteColor.errors?.['color'] as colorError"
                descriptionType="error"
                indicatorType="danger"
              >
                {{ colorError.message }}
              </sky-status-indicator>
            </div>
          </sky-input-box>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </form>
</div>
