<sky-chart headingText="Volume vs. revenue">
  <sky-chart-bar>
    <sky-chart-axis-category labelText="Year" [categories]="years" />
    <sky-chart-axis-value axisId="count" labelText="Acquisitions" />
    <sky-chart-axis-value axisId="revenue" labelText="Revenue (USD)" />
    <sky-chart-series
      labelText="New customers"
      valueAxis="count"
      [values]="acquisitions"
    />
    <sky-chart-series
      labelText="Gross revenue"
      valueAxis="revenue"
      [values]="revenue"
    />
  </sky-chart-bar>
</sky-chart>
