<sky-modal>
  <sky-modal-header>Create your email</sky-modal-header>
  <sky-modal-content>
    <sky-action-button-container>
      <sky-action-button>
        <sky-action-button-icon iconName="filter" />
        <sky-action-button-header
          >Create email with blank layout</sky-action-button-header
        >
        <sky-action-button-details>
          Design your own email.
        </sky-action-button-details>
      </sky-action-button>
      <sky-action-button>
        <sky-action-button-icon iconName="folder-open" />
        <sky-action-button-header
          >Create email from template</sky-action-button-header
        >
        <sky-action-button-details>
          Start with one of our ready-made designs.
        </sky-action-button-details>
      </sky-action-button>
    </sky-action-button-container>
  </sky-modal-content>
  <sky-modal-footer
    ><button type="button" class="sky-btn sky-btn-link" (click)="cancel()">
      Cancel
    </button></sky-modal-footer
  >
</sky-modal>
