<form [formGroup]="countryForm">
  <sky-input-box
    labelText="Country field input with phone info"
    class="sky-margin-stacked-lg"
  >
    <sky-country-field
      formControlName="phoneInfoCountryField"
      [includePhoneInfo]="true"
    >
    </sky-country-field>
  </sky-input-box>
  <sky-input-box
    labelText="Country field input with error"
    class="sky-margin-stacked-lg"
  >
    <sky-country-field formControlName="emptyCountryField"> </sky-country-field>
  </sky-input-box>
  <sky-input-box
    labelText="Country field input disabled"
    [disabled]="true"
    class="sky-margin-stacked-lg"
  >
    <sky-country-field formControlName="disabledCountryField">
    </sky-country-field>
  </sky-input-box>
  <sky-input-box
    labelText="Country field input pre-populated"
    class="sky-margin-stacked-lg"
  >
    <sky-country-field formControlName="prepopulatedCountryField">
    </sky-country-field>
  </sky-input-box>
  <sky-input-box
    labelText="Country field input pre-populated, no flag"
    class="sky-margin-stacked-lg"
  >
    <sky-country-field
      formControlName="hideFlagPrepopulatedCountryField"
      [hideSelectedCountryFlag]="true"
    >
    </sky-country-field>
  </sky-input-box>
  <sky-input-box
    labelText="Country field input disabled, pre-populated"
    [disabled]="true"
    class="sky-margin-stacked-lg"
  >
    <sky-country-field formControlName="disabledPrepopulatedCountryField">
    </sky-country-field>
  </sky-input-box>
</form>
<span *ngIf="ready | async" class="ready">&nbsp; &nbsp;</span>
