import { CommonModule } from '@angular/common';
import { Component } from '@angular/core';

@Component({
  standalone: true,
  imports: [CommonModule],
  selector: '<%= prefix %>-<%= nameDash %>',
  templateUrl: './<%= nameDash %>.component.html',
  styleUrls: ['./<%= nameDash %>.component.scss'],
})
export class <%= nameClass %>Component {}
