<form novalidate [formGroup]="favoritesForm">
  <sky-input-box>
    <label class="sky-control-label">Basic </label>
    <sky-lookup
      formControlName="favoriteNames"
      [data]="people"
      [selectMode]="selectMode"
    >
    </sky-lookup>
  </sky-input-box>
</form>

<form novalidate [formGroup]="favoritesForm">
  <sky-input-box>
    <label class="sky-control-label">With preselected input</label>
    <sky-lookup
      formControlName="favoriteNames"
      [data]="people"
      [selectMode]="selectMode"
    >
    </sky-lookup>
  </sky-input-box>
</form>

<sky-input-box>
  <label class="sky-control-label">With placeholder</label>
  <sky-lookup
    [data]="people"
    [selectMode]="selectMode"
    [placeholderText]="placeholderText"
    [disabled]="disabledFlag"
  >
  </sky-lookup>
</sky-input-box>

<form novalidate [formGroup]="favoritesForm">
  <sky-input-box>
    <label class="sky-control-label"
      >With preselected input and placeholder</label
    >
    <sky-lookup
      formControlName="favoriteNames"
      [data]="people"
      [selectMode]="selectMode"
      [placeholderText]="placeholderText"
    >
    </sky-lookup>
  </sky-input-box>
</form>

<h2>With show more</h2>

<sky-input-box>
  <label class="sky-control-label">Basic</label>
  <sky-lookup
    [data]="people"
    [selectMode]="selectMode"
    [disabled]="disabledFlag"
    [enableShowMore]="true"
  >
  </sky-lookup>
</sky-input-box>

<sky-input-box>
  <label class="sky-control-label">With show add button</label>
  <sky-lookup
    [data]="people"
    [selectMode]="selectMode"
    [disabled]="disabledFlag"
    [showAddButton]="true"
    [enableShowMore]="true"
  >
  </sky-lookup>
</sky-input-box>

<form novalidate [formGroup]="favoritesForm">
  <sky-input-box>
    <label class="sky-control-label">Multiple pre selected inputs </label>
    <sky-lookup
      formControlName="favoriteNamesFew"
      [data]="people"
      [selectMode]="selectMode"
      [enableShowMore]="true"
    >
    </sky-lookup>
  </sky-input-box>
</form>

<form novalidate [formGroup]="favoritesForm">
  <sky-input-box>
    <label class="sky-control-label"
      >Multiple collapsed pre selected inputs</label
    >
    <sky-lookup
      formControlName="favoriteNamesAll"
      [data]="people"
      [selectMode]="selectMode"
      [enableShowMore]="true"
    >
    </sky-lookup>
  </sky-input-box>
</form>
