<form novalidate [formGroup]="favoritesForm">
  <sky-input-box stacked="true" labelText="Basic" [disabled]="disabledFlag">
    <sky-lookup
      formControlName="favoriteNames"
      [data]="people"
      [selectMode]="selectMode"
    />
  </sky-input-box>
</form>

<form novalidate [formGroup]="favoritesForm">
  <sky-input-box
    stacked="true"
    labelText="With preselected input"
    [disabled]="disabledFlag"
  >
    <sky-lookup
      formControlName="favoriteNames"
      [data]="people"
      [selectMode]="selectMode"
    />
  </sky-input-box>
</form>

<sky-input-box
  stacked="true"
  labelText="With placeholder"
  [disabled]="disabledFlag"
>
  <sky-lookup
    [data]="people"
    [selectMode]="selectMode"
    [placeholderText]="placeholderText"
    [disabled]="disabledFlag"
  />
</sky-input-box>

<form novalidate [formGroup]="favoritesForm">
  <sky-input-box
    stacked="true"
    labelText="With preselected input and placeholder"
    [disabled]="disabledFlag"
  >
    <sky-lookup
      formControlName="favoriteNames"
      [data]="people"
      [selectMode]="selectMode"
      [placeholderText]="placeholderText"
    />
  </sky-input-box>
</form>

<h2>With show more</h2>

<sky-input-box
  data-sky-id="lookup-show-more-1"
  stacked="true"
  labelText="Basic"
  [disabled]="disabledFlag"
>
  <sky-lookup
    [data]="people"
    [selectMode]="selectMode"
    [disabled]="disabledFlag"
    [enableShowMore]="true"
  />
</sky-input-box>

<sky-input-box
  stacked="true"
  labelText="With show add button"
  [disabled]="disabledFlag"
>
  <sky-lookup
    [data]="people"
    [selectMode]="selectMode"
    [disabled]="disabledFlag"
    [showAddButton]="true"
    [enableShowMore]="true"
  />
</sky-input-box>

<form novalidate [formGroup]="favoritesForm">
  <sky-input-box
    stacked="true"
    labelText="Multiple pre selected inputs"
    [disabled]="disabledFlag"
  >
    <sky-lookup
      formControlName="favoriteNamesFew"
      [data]="people"
      [selectMode]="selectMode"
      [enableShowMore]="true"
    />
  </sky-input-box>
</form>

<form novalidate [formGroup]="favoritesForm">
  <sky-input-box
    stacked="true"
    labelText="Multiple collapsed pre selected inputs"
    [disabled]="disabledFlag"
  >
    <sky-lookup
      formControlName="favoriteNamesAll"
      [data]="people"
      [selectMode]="selectMode"
      [enableShowMore]="true"
    />
  </sky-input-box>
</form>
