<form [formGroup]="favoritesForm" novalidate>
  <ng-container *ngFor="let selectMode of selectModes">
    <h2>{{ selectMode | titlecase }}</h2>
    <ng-container *ngFor="let disabledState of disabledStates">
      <ng-container *ngFor="let controlName of controlNames.get(selectMode)">
        <sky-input-box
          id="{{
            selectMode + '-' + disabledState + '-' + controlName | lowercase
          }}"
          labelText="{{ selectMode | titlecase }} {{ disabledState }} {{
            controlName
          }}"
          [disabled]="disabledState === 'Disabled'"
          class="sky-margin-stacked-lg"
        >
          <sky-lookup
            [formControlName]="selectMode + disabledState + controlName"
            [data]="people"
            [selectMode]="selectMode"
          >
          </sky-lookup>
        </sky-input-box>
        <sky-input-box
          *ngIf="disabledState === 'Enabled'"
          id="{{
            selectMode + '-' + disabledState + '-' + controlName + '-show-more'
              | lowercase
          }}"
          labelText="{{ selectMode | titlecase }} {{ disabledState }} {{
            controlName
          }} with Show More"
          [disabled]="disabledState === 'Disabled'"
          class="sky-margin-stacked-lg"
        >
          <sky-lookup
            [formControlName]="selectMode + disabledState + controlName"
            [data]="people"
            [selectMode]="selectMode"
            [enableShowMore]="true"
          >
          </sky-lookup>
        </sky-input-box>
        <sky-input-box
          *ngIf="
            controlName === 'NoValue' &&
            selectMode === 'single' &&
            disabledState === 'Enabled'
          "
          id="{{
            selectMode +
              '-' +
              disabledState +
              '-' +
              controlName +
              '-show-more-add-new' | lowercase
          }}"
          labelText="{{ selectMode | titlecase }} {{ disabledState }} {{
            controlName
          }} with Show More and Add New"
          [disabled]="disabledState === 'Disabled'"
          class="sky-margin-stacked-xxl"
        >
          <sky-lookup
            [formControlName]="selectMode + disabledState + controlName"
            [data]="people"
            [selectMode]="selectMode"
            [enableShowMore]="true"
            [showAddButton]="true"
          >
          </sky-lookup>
        </sky-input-box>
        <sky-input-box
          *ngIf="controlName === 'NoValue'"
          id="{{
            selectMode +
              '-' +
              disabledState +
              '-' +
              controlName +
              '-placeholder' | lowercase
          }}"
          labelText="{{ selectMode | titlecase }} {{ disabledState }} {{
            controlName
          }} with Placeholder"
          [disabled]="disabledState === 'Disabled'"
          class="sky-margin-stacked-lg"
        >
          <sky-lookup
            [formControlName]="selectMode + disabledState + controlName"
            [data]="people"
            [selectMode]="selectMode"
            [placeholderText]="placeholderText"
          >
          </sky-lookup>
        </sky-input-box>
      </ng-container>
    </ng-container>
  </ng-container>
</form>
<span *ngIf="ready | async" class="ready">&nbsp; &nbsp;</span>
