<form [formGroup]="fileForm">
  <sky-file-attachment
    formControlName="attachment"
    labelText="Single file attachment with label text"
    hintText="Hint text"
    stacked="true"
    (fileChange)="reactiveFileUpdated($event)"
  />
</form>

<form [formGroup]="fileForm">
  <sky-file-attachment
    formControlName="imageAttachment"
    labelText="Single file attachment with image"
    stacked="true"
    (fileChange)="reactiveFileUpdated($event)"
  />
</form>

<form [formGroup]="fileForm">
  <sky-file-attachment
    formControlName="fileAttachment"
    labelText="Single file attachment with text file"
    hintText="Hint text"
    stacked="true"
    (fileChange)="reactiveFileUpdated($event)"
  />
</form>

<form [formGroup]="fileForm">
  <sky-file-attachment
    formControlName="disabled"
    labelText="Disabled single file attachment"
    [disabled]="true"
    [stacked]="true"
  />
</form>

<form [formGroup]="fileForm">
  <sky-file-attachment
    formControlName="attachmentNotRequired"
    labelText="Single file attachment with help inline popover open"
    hintText="Hint text"
    helpPopoverContent="Popover content"
    stacked="true"
  />
</form>

<form [formGroup]="fileForm">
  <sky-file-attachment
    formControlName="attachment"
    labelText="Single file attachment with help inline popover"
    hintText="Hint text"
    helpPopoverContent="Popover content"
    stacked="true"
    (fileChange)="reactiveFileUpdated($event)"
  />
</form>

<form [formGroup]="fileForm">
  <sky-file-attachment
    formControlName="errored"
    labelText="Errored single file attachment with label text and hint text"
    hintText="Hint text"
    stacked="true"
  />
</form>

<form [formGroup]="fileForm">
  <sky-file-attachment
    formControlName="attachmentNotRequired"
    labelText="Single file attachment drag over accept state"
    stacked="true"
  />
</form>
<form [formGroup]="fileForm">
  <sky-file-attachment
    formControlName="attachmentNotRequired"
    labelText="Single file attachment drag over reject state"
    stacked="true"
  />
</form>
