<button
  [ngClass]="buttonsHidden ? 'modal-screenshot-buttons-hidden' : ''"
  class="sky-btn sky-btn-default open-small-modal-btn"
  type="button"
  (click)="onOpenSmallModalClick()"
>
  Open small modal
</button>
<button
  [ngClass]="buttonsHidden ? 'modal-screenshot-buttons-hidden' : ''"
  class="sky-btn sky-btn-default open-medium-modal-btn"
  type="button"
  (click)="onOpenMediumModalClick()"
>
  Open medium modal
</button>
<button
  [ngClass]="buttonsHidden ? 'modal-screenshot-buttons-hidden' : ''"
  class="sky-btn sky-btn-default open-large-modal-btn"
  type="button"
  (click)="onOpenLargeModalClick()"
>
  Open large modal
</button>
<button
  [ngClass]="buttonsHidden ? 'modal-screenshot-buttons-hidden' : ''"
  class="sky-btn sky-btn-default open-full-page-modal-btn"
  type="button"
  (click)="onOpenFullPageModalClick()"
>
  Open full page modal
</button>
<button
  [ngClass]="buttonsHidden ? 'modal-screenshot-buttons-hidden' : ''"
  class="sky-btn sky-btn-default open-help-inline-modal-btn"
  type="button"
  (click)="onOpenHelpInlineModalClick()"
>
  Open help inline modal
</button>
