:host {
  display: block;
  overflow: hidden;
}

.sky-docs-type-definition-box-header {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--sky-background-color-info-light);
}

.sky-docs-type-definition-box-heading {
  margin: 0;
  font-weight: normal;
  word-break: break-all;
}

.sky-docs-type-definition-text-strikethrough {
  text-decoration: line-through;
}
