@if (wide()) {
  <div class="blank-space">(blank space)</div>
}
<div class="sky-padding-even-lg">
  @for (context of contexts; track context) {
    <div>
      <h1>context: {{ context }}</h1>
      <div class="affixed-examples affixed-examples__{{ context }}">
        @for (position of positions; track position) {
          @for (placement of placements; track placement) {
            @for (
              verticalAlignment of verticalAlignments;
              track verticalAlignment
            ) {
              @for (
                horizontalAlignment of horizontalAlignments;
                track horizontalAlignment
              ) {
                <div
                  class="
              affixed-container
              affixed-container__vertical-alignment-{{ verticalAlignment }}
              affixed-container__horizontal-alignment-{{ horizontalAlignment }}
              affixed-container__placement-{{ placement }}
              affixed-container__position-{{ position }}
            "
                >
                  <div #base class="affix-base-element">
                    base element, {{ placement }} placement,
                    {{ position }} position
                  </div>
                  @if (base) {
                    <div
                      class="affixed-element"
                      [skyAffixTo]="base"
                      [affixPlacement]="placement"
                      [affixHorizontalAlignment]="horizontalAlignment"
                      [affixVerticalAlignment]="verticalAlignment"
                      [affixPosition]="position"
                      [affixIsSticky]="isSticky"
                      [affixAutoFitContext]="autoFitContext.viewport"
                      [affixEnableAutoFit]="true"
                    >
                      {{ verticalAlignment }} {{ horizontalAlignment }} affixed
                      element
                    </div>
                  }
                </div>
              }
            }
          }
        }
      </div>
    </div>
  }
</div>
