<h2>Charts Playground</h2>

<div>
  <h3>Horizontal</h3>

  <sky-fluid-grid>
    <sky-row>
      <!-- Single series   -->
      <sky-column
        [screenXSmall]="12"
        [screenSmall]="12"
        [screenMedium]="6"
        [screenLarge]="6"
      >
        <sky-box headingText="Single series " class="sky-margin-stacked-xl">
          <sky-box-content>
            <sky-bar-chart
              headingText="Monthly spendings"
              chartHeight="300"
              [config]="singleSeriesHorizontal"
            />
          </sky-box-content>
        </sky-box>
      </sky-column>

      <!-- Multi series  -->
      <sky-column
        [screenXSmall]="12"
        [screenSmall]="12"
        [screenMedium]="6"
        [screenLarge]="6"
      >
        <sky-box headingText="Multi series " class="sky-margin-stacked-xl">
          <sky-box-content>
            <sky-bar-chart
              headingText="Project Budget vs Actuals"
              chartHeight="300"
              [config]="multiSeriesHorizontal"
            />
          </sky-box-content>
        </sky-box>
      </sky-column>

      <!-- #region Stacked -->
      <sky-column
        [screenXSmall]="12"
        [screenSmall]="12"
        [screenMedium]="6"
        [screenLarge]="6"
      >
        <sky-box headingText="Stacked " class="sky-margin-stacked-xl">
          <sky-box-content>
            <sky-bar-chart
              headingText="Monthly spendings"
              chartHeight="300"
              [config]="stackedHorizontal"
            />
          </sky-box-content>
        </sky-box>
      </sky-column>
      <!-- #endregion -->

      <!-- #region Stacked + Groups  -->
      <sky-column
        [screenXSmall]="12"
        [screenSmall]="12"
        [screenMedium]="6"
        [screenLarge]="6"
      >
        <sky-box headingText="Stacked + Grouped " class="sky-margin-stacked-xl">
          <sky-box-content>
            <sky-bar-chart
              headingText="Monthly spendings"
              chartHeight="300"
              [config]="stackedGroupedHorizontal"
            />
          </sky-box-content>
        </sky-box>
      </sky-column>
      <!-- #endregion -->
    </sky-row>
  </sky-fluid-grid>
</div>

<div>
  <h3>Vertical</h3>

  <sky-fluid-grid>
    <sky-row>
      <!-- Single series -->
      <sky-column
        [screenXSmall]="12"
        [screenSmall]="12"
        [screenMedium]="6"
        [screenLarge]="6"
      >
        <sky-box headingText="Single series " class="sky-margin-stacked-xl">
          <sky-box-content>
            <sky-bar-chart
              headingText="Monthly spendings"
              chartHeight="300"
              [config]="singleSeriesVertical"
            />
          </sky-box-content>
        </sky-box>
      </sky-column>

      <!-- Multi series -->
      <sky-column
        [screenXSmall]="12"
        [screenSmall]="12"
        [screenMedium]="6"
        [screenLarge]="6"
      >
        <sky-box headingText="Multi series " class="sky-margin-stacked-xl">
          <sky-box-content>
            <sky-bar-chart
              headingText="Project Budget vs Actuals"
              chartHeight="300"
              [config]="multiSeriesVertical"
            />
          </sky-box-content>
        </sky-box>
      </sky-column>

      <!-- #region Stacked -->
      <sky-column
        [screenXSmall]="12"
        [screenSmall]="12"
        [screenMedium]="6"
        [screenLarge]="6"
      >
        <sky-box headingText="Stacked " class="sky-margin-stacked-xl">
          <sky-box-content>
            <sky-bar-chart
              headingText="Monthly spendings"
              chartHeight="300"
              [config]="stackedVertical"
            />
          </sky-box-content>
        </sky-box>
      </sky-column>
      <!-- #endregion -->

      <!-- #region Stacked + Groups  -->
      <sky-column
        [screenXSmall]="12"
        [screenSmall]="12"
        [screenMedium]="6"
        [screenLarge]="6"
      >
        <sky-box headingText="Stacked + Grouped" class="sky-margin-stacked-xl">
          <sky-box-content>
            <sky-bar-chart
              headingText="Monthly spendings"
              chartHeight="300"
              [config]="stackedGroupedVertical"
            />
          </sky-box-content>
        </sky-box>
      </sky-column>
      <!-- #endregion -->
    </sky-row>
  </sky-fluid-grid>
</div>
