<h1>Charts Playground</h1>

<!-- Declarative -->
<div>
  <h2>Declarative</h2>
  <div>
    <sky-fluid-grid>
      <sky-row>
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Single series" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-chart
                [headingText]="'Monthly spendings'"
                [headingHidden]="false"
                [headingLevel]="3"
                [headingStyle]="3"
                [subtitleText]="'Spending over a month'"
                [subtitleHidden]="false"
              >
                <sky-bar-chart-declarative
                  orientation="vertical"
                  [stacked]="false"
                  (dataPointClicked)="onDataPointClicked($event)"
                >
                  <sky-chart-category-axis labelText="Revenue" />
                  <sky-chart-value-axis labelText="Amount" scaleType="linear" />

                  <sky-bar-chart-series labelText="Budget">
                    <sky-bar-chart-series-datapoint
                      category="January"
                      labelText="$50,000"
                      [value]="50000"
                    />

                    <sky-bar-chart-series-datapoint
                      category="February"
                      labelText="$100,000"
                      [value]="100000"
                    />

                    <sky-bar-chart-series-datapoint
                      category="March"
                      labelText="$150,000"
                      [value]="150000"
                    />

                    <sky-bar-chart-series-datapoint
                      category="April"
                      labelText="$200,000"
                      [value]="200000"
                    />
                  </sky-bar-chart-series>
                </sky-bar-chart-declarative>
              </sky-chart>
            </sky-box-content>
          </sky-box>
        </sky-column>

        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Single series" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-chart
                [headingText]="'Monthly spendings'"
                [headingHidden]="false"
                [headingLevel]="3"
                [headingStyle]="3"
                [subtitleText]="'Spending over a month'"
                [subtitleHidden]="false"
              >
                <sky-bar-chart-declarative
                  orientation="vertical"
                  [stacked]="false"
                  (dataPointClicked)="onDataPointClicked($event)"
                >
                  <sky-chart-category-axis labelText="Categories" />
                  <sky-chart-value-axis
                    labelText="Amount in $"
                    scaleType="linear"
                  />

                  <sky-bar-chart-series labelText="Budget">
                    <sky-bar-chart-series-datapoint
                      category="Revenue"
                      labelText="$120,000"
                      [value]="120000"
                    />

                    <sky-bar-chart-series-datapoint
                      category="Expenses"
                      labelText="$115,000"
                      [value]="115000"
                    />
                  </sky-bar-chart-series>

                  <sky-bar-chart-series labelText="Actuals">
                    <sky-bar-chart-series-datapoint
                      category="Revenue"
                      labelText="$85,000"
                      [value]="85000"
                    />

                    <sky-bar-chart-series-datapoint
                      category="Expenses"
                      labelText="$78,000"
                      [value]="78000"
                    />
                  </sky-bar-chart-series>
                </sky-bar-chart-declarative>
              </sky-chart>
            </sky-box-content>
          </sky-box>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </div>
</div>

<!-- Linear -->
<div>
  <h2>Linear</h2>
  <div>
    <h3>Vertical</h3>

    <sky-fluid-grid>
      <sky-row>
        <!-- Single series -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Single series" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                [headingText]="'Monthly spendings'"
                [headingHidden]="false"
                [headingLevel]="3"
                [headingStyle]="3"
                [subtitleText]="'Spending over a month'"
                [subtitleHidden]="false"
                [config]="singleSeriesVertical"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>

        <!-- Multi series -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Multi series" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Project Budget vs Actuals"
                [config]="multiSeriesVertical"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>

        <!-- Stacked -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Stacked" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Monthly spendings"
                [config]="stackedVertical"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </div>

  <div>
    <h3>Horizontal</h3>

    <sky-fluid-grid>
      <sky-row>
        <!-- Single series -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Single series" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Monthly spendings"
                [config]="singleSeriesHorizontal"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>

        <!-- Multi series -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Multi series" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Project Budget vs Actuals"
                [config]="multiSeriesHorizontal"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>

        <!-- Stacked -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Stacked " class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Monthly spendings"
                [config]="stackedHorizontal"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </div>
</div>

<!-- Logarithmic  -->
<div>
  <h2>Logarithmic</h2>
  <div>
    <h3>Vertical</h3>

    <sky-fluid-grid>
      <sky-row>
        <!-- Single series -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Single series" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Monthly spendings"
                legendPosition="right"
                [config]="singleSeriesVerticalLog"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>

        <!-- Multi series -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Multi series" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Project Budget vs Actuals"
                [config]="multiSeriesVerticalLog"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>

        <!-- Stacked -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Stacked" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Monthly spendings"
                [config]="stackedVerticalLog"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </div>

  <div>
    <h3>Horizontal</h3>

    <sky-fluid-grid>
      <sky-row>
        <!-- Single series -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Single series" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Monthly spendings"
                [config]="singleSeriesHorizontalLog"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>

        <!-- Multi series -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Multi series" class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Project Budget vs Actuals"
                [config]="multiSeriesHorizontalLog"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>

        <!-- Stacked -->
        <sky-column
          [screenXSmall]="12"
          [screenSmall]="12"
          [screenMedium]="6"
          [screenLarge]="6"
        >
          <sky-box headingText="Stacked " class="sky-margin-stacked-xl">
            <sky-box-content>
              <sky-bar-chart
                headingText="Monthly spendings"
                [config]="stackedHorizontalLog"
                (dataPointClicked)="onDataPointClicked($event)"
              />
            </sky-box-content>
          </sky-box>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </div>
</div>
