<form [formGroup]="countryForm">
  <sky-input-box
    hintText="If you have multiple countries, choose your primary country."
    labelText="Country"
    [helpPopoverContent]="inlineHelpPopover"
  >
    <sky-country-field formControlName="countryControl" />
    <sky-form-error
      *ngIf="countryControl.errors?.['invalidCountry']"
      errorName="invalidCountry"
      errorText="This country is no longer available for the date you selected."
    />
  </sky-input-box>
</form>
<ng-template #inlineHelpPopover>
  We use the country to validate your passport within 10 business days. You can
  update it at any time.
</ng-template>
