<sky-page layout="tabs">
  <sky-page-header pageTitle="Tabs page">
    <sky-page-header-actions>
      <button class="sky-btn sky-btn-default" type="button">Action one</button>
      <button class="sky-btn sky-btn-default" type="button">Action two</button>
    </sky-page-header-actions>
  </sky-page-header>
  <sky-page-content>
    <sky-tabset>
      <sky-tab tabHeading="Tab 1" layout="fit">
        <sky-toolbar>
          <sky-toolbar-item>
            <button type="button" class="sky-btn sky-btn-primary">
              Toolbar button
            </button>
          </sky-toolbar-item>
        </sky-toolbar>
        <p>Tab 1 Content</p></sky-tab
      >
      <sky-tab tabHeading="Tab 2">Tab 2 Content</sky-tab>
      <sky-tab tabHeading="Tab 3">Tab 3 Content</sky-tab>
      <sky-tab tabHeading="Tab 4">Tab 4 Content</sky-tab>
      <sky-tab tabHeading="Tab 5" tabHeaderCount="9">Tab 5 Content</sky-tab>
      <sky-tab permalinkValue="foobar" tabHeading="Tab 6" tabHeaderCount="144">
        Tab 6 Content
      </sky-tab>
    </sky-tabset>
  </sky-page-content>
  @if (showLinks()) {
    <sky-page-links><app-links /></sky-page-links>
  }
</sky-page>
