<div>
  <sky-tabset
    permalinkId="sample"
    [active]="active"
    (newTab)="onNewTabClick()"
    (openTab)="onOpenTabClick()"
  >
    <ng-container *ngFor="let tab of tabs; let i = index">
      <sky-tab
        *ngIf="!tab.isPermanent"
        [disabled]="tab.disabled"
        [tabHeading]="tab.tabHeading"
        (close)="onCloseTab(i)"
      >
        {{ tab.tabContent }}
      </sky-tab>
      <sky-tab
        *ngIf="tab.isPermanent"
        [disabled]="tab.disabled"
        [tabHeading]="tab.tabHeading"
      >
        {{ tab.tabContent }}
      </sky-tab>
    </ng-container>
  </sky-tabset>
</div>
