<div>
  <sky-tabset
    permalinkId="sample"
    [active]="active"
    (newTab)="onNewTabClick()"
    (openTab)="onOpenTabClick()"
  >
    @for (tab of tabs; track tab; let i = $index) {
      @if (!tab.isPermanent) {
        <sky-tab
          [disabled]="tab.disabled"
          [tabHeading]="tab.tabHeading"
          (close)="onCloseTab(i)"
        >
          {{ tab.tabContent }}
        </sky-tab>
      }
      @if (tab.isPermanent) {
        <sky-tab [disabled]="tab.disabled" [tabHeading]="tab.tabHeading">
          {{ tab.tabContent }}
        </sky-tab>
      }
    }
  </sky-tabset>
</div>
