<div class="dropdown-grid">
  <div class="dropdown-grid-inline sky-padding-even-md">
    <form novalidate class="sky-padding-even-xl">
      <sky-checkbox
        labelText="Move dropdown to bottom"
        [(checked)]="moveToBottom"
      />
    </form>
    @if (!moveToBottom()) {
      <div class="sky-padding-even-xl">
        <app-dropdown-example [disabledState]="disabledState()" />
        <br />

        <button
          class="sky-btn sky-btn-primary"
          type="button"
          (click)="disabledState.set(!disabledState())"
        >
          Toggle disabled states
        </button>
      </div>
    } @else {
      <div class="space"></div>
      <span class="sky-padding-even-sm">
        <app-dropdown-example [disabledState]="disabledState()" />
      </span>
    }
  </div>
  <div class="dropdown-grid-iframe sky-padding-even-md">
    <iframe src="#/components/popovers/dropdown/iframe"></iframe>
  </div>
</div>
