<div class="sky-padding-even-large">
  <h3>Split view with page binding</h3>

  <div style="height: 300px">
    Intentional white space to help show page binding below.
  </div>

  <sky-split-view [bindHeightToWindow]="true" [messageStream]="splitViewStream">
    <sky-split-view-drawer [width]="width">
      <ul class="sky-visual-list">
        <li *ngFor="let item of items; let i = index" (click)="onItemClick(i)">
          {{ item.name }} <br />
          {{ item.date }} <br />
          {{ item.amount }}
        </li>
      </ul>
    </sky-split-view-drawer>

    <sky-split-view-workspace>
      <sky-split-view-workspace-content>
        <h3>Transaction for {{ activeRecord.name }}</h3>
        <form>
          <p>
            <label>
              Post date
              <input name="date" type="text" [(ngModel)]="activeRecord.date" />
            </label>
          </p>
          <p>
            <label>
              Amount
              <input
                name="amount"
                type="text"
                [(ngModel)]="activeRecord.amount"
              />
            </label>
          </p>

          <label>
            <input
              name="unsavedWork"
              type="checkbox"
              [(ngModel)]="hasUnsavedWork"
            />
            Has unsaved work
          </label>
        </form>
      </sky-split-view-workspace-content>
      <sky-split-view-workspace-footer>
        <button
          class="sky-btn sky-btn-primary"
          type="button"
          (click)="submitForm()"
        >
          Save transaction
        </button>
      </sky-split-view-workspace-footer>
    </sky-split-view-workspace>
  </sky-split-view>
</div>
