<div>
  <button
    type="button"
    class="sky-btn sky-btn-primary sky-test-label"
    (click)="onToggleInlineHelpClick()"
  >
    Toggle inline help
  </button>
</div>

<div class="sky-padding-even-large">
  <sky-toggle-switch class="sky-margin-inline-lg">
    <sky-toggle-switch-label>
      Toggle switch label
      <sky-help-inline
        *ngIf="showInlineHelp"
        class="sky-control-help"
      ></sky-help-inline>
    </sky-toggle-switch-label>
  </sky-toggle-switch>
  <span>Text after switch</span>
</div>
