<div>
  <button
    type="button"
    class="sky-btn sky-btn-primary sky-test-label"
    (click)="onToggleInlineHelpClick()"
  >
    Toggle inline help
  </button>
</div>

<div class="sky-padding-even-large">
  <sky-toggle-switch labelText="label text" class="sky-margin-inline-lg">
    <sky-toggle-switch-label
      >Overridden label component</sky-toggle-switch-label
    >
    @if (showInlineHelp) {
      <sky-help-inline class="sky-control-help" />
    }
  </sky-toggle-switch>
  <span>Text after switch</span>
</div>

<div class="sky-padding-even-large">
  <sky-toggle-switch labelText="Disabled switch" [disabled]="true">
    <sky-toggle-switch-label>Overridden label</sky-toggle-switch-label>
    @if (showInlineHelp) {
      <sky-help-inline class="sky-control-help" />
    }
  </sky-toggle-switch>
</div>
<div class="sky-padding-even-large">
  <sky-toggle-switch [checked]="true" [disabled]="true">
    <sky-toggle-switch-label>Disabled switch checked</sky-toggle-switch-label>
    @if (showInlineHelp) {
      <sky-help-inline class="sky-control-help" />
    }
  </sky-toggle-switch>
</div>

<div class="sky-padding-even-large">
  <sky-toggle-switch
    class="sky-margin-inline-lg"
    ariaLabel="Toggle switch without visible label"
  >
    @if (showInlineHelp) {
      <sky-help-inline class="sky-control-help" />
    }
  </sky-toggle-switch>
  <span>Text after switch</span>
</div>
<div class="sky-padding-even-large">
  <sky-toggle-switch
    labelText="Disabled switch without visible label"
    labelHidden="true"
    [disabled]="true"
  >
    @if (showInlineHelp) {
      <sky-help-inline class="sky-control-help" />
    }
  </sky-toggle-switch>
</div>
<div class="sky-padding-even-large">
  <sky-toggle-switch
    ariaLabel="Disabled switch checked without visible label"
    [checked]="true"
    [disabled]="true"
  >
    @if (showInlineHelp) {
      <sky-help-inline class="sky-control-help" />
    }
  </sky-toggle-switch>
</div>

<div class="sky-padding-even-large">
  <sky-toggle-switch
    ariaLabel="Switch using help popover content"
    labelText="Unsubscribe from all"
    [helpPopoverContent]="
      showInlineHelp ? 'You will stop receiving emails from us.' : ''
    "
  />
</div>
