.sans {
  font-family: 'BLKB Sans';
  font-size: 16px;
}

.sans-condensed {
  font-family: 'BLKB Sans Condensed';
  font-size: 16px;
}

.lite {
  font-weight: 300;
}

.normal {
  font-weight: normal; // 400
}

.bold {
  font-weight: 600;
}
