import { Component } from '@angular/core';

@Component({<% if(standalone) {%>
  standalone: true,
  imports: [CommonModule],<%}%>
  selector: '<%= prefix %>-<%= nameDash %>',
  templateUrl: './<%= nameDash %>.component.html',
  styleUrls: ['./<%= nameDash %>.component.scss'],
})
export class <%= nameClass %>Component {}
