<button
  id="open-small-modal-button"
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openSectionedForm('small')"
>
  Open sectioned form in small modal
</button>

<button
  id="open-medium-modal-button"
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openSectionedForm('medium')"
>
  Open sectioned form in medium modal
</button>

<button
  id="open-large-modal-button"
  class="sky-btn sky-btn-default"
  type="button"
  (click)="openSectionedForm('large')"
>
  Open sectioned form in large modal
</button>
