<div style="display: flex">
  <div style="margin-right: 10px; flex: 1">
    <label
      for="inputName"
      class="sky-control-label"
      [ngClass]="{ 'sky-control-label-required': nameRequired }"
    >
      Name
    </label>
    <input
      class="sky-form-control"
      id="inputName"
      type="text"
      [ngModel]="name"
      [required]="nameRequired"
      (blur)="checkValidity()"
      (ngModelChange)="nameChange($event)"
    />
  </div>
  <div style="margin-right: 10px; flex: 1">
    <label for="inputId" class="sky-control-label"> Id </label>
    <input class="sky-form-control" id="inputId" type="text" [ngModel]="id" />
  </div>
</div>

<div id="name-checkbox-container" style="margin-top: 10px">
  <sky-checkbox [(ngModel)]="nameRequired">
    <sky-checkbox-label> Mark 'Name' required </sky-checkbox-label>
  </sky-checkbox>
</div>
