<sky-modal>
  <sky-modal-content>
    <form>
      <sky-sectioned-form
        #sectionedFormComponent
        [maintainSectionContent]="maintainSectionContent"
      >
        <div>
          <sky-sectioned-form-section heading="Basic information">
            <app-sectioned-form-information-form-demo />
          </sky-sectioned-form-section>
        </div>
        <sky-sectioned-form-section
          heading="Addresses"
          [active]="true"
          [itemCount]="2"
        >
          <app-sectioned-form-address-form-demo />
        </sky-sectioned-form-section>
        <sky-sectioned-form-section heading="Phone numbers" [itemCount]="3">
          <app-sectioned-form-phone-form-demo />
        </sky-sectioned-form-section>
        <sky-sectioned-form-section heading="Date" [itemCount]="4">
          <app-sectioned-form-date-form-demo />
        </sky-sectioned-form-section>
      </sky-sectioned-form>
    </form>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      *ngIf="tabsHidden()"
      id="show-tabs-button"
      type="button"
      class="sky-btn sky-btn-default"
      (click)="showTabs()"
    >
      Show tabs
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-primary"
      (click)="modal.close('save')"
    >
      Save
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-default"
      (click)="modal.close('cancel')"
    >
      Cancel
    </button>
  </sky-modal-footer>
</sky-modal>
