<h1>Data Grid</h1>

<div class="grid">
  <div class="scrollable" id="row-delete">
    @if (isActive$ | async) {
      <sky-ag-grid-wrapper
        skyAgGridRowDelete
        [compact]="compact"
        [(rowDeleteIds)]="rowDeleteIds"
        (rowDeleteConfirm)="deleteConfirm($event)"
      >
        <ag-grid-angular [gridOptions]="gridOptions['row-delete']" />
      </sky-ag-grid-wrapper>
    }
  </div>

  <div class="scrollable" id="back-to-top">
    @if (isActive$ | async) {
      <sky-ag-grid-wrapper [skyBackToTop]="" [compact]="compact">
        <ag-grid-angular [gridOptions]="gridOptions['back-to-top']" />
      </sky-ag-grid-wrapper>
    }
  </div>

  <div class="scrollable" id="validation">
    @if (isActive$ | async) {
      <sky-ag-grid-wrapper [compact]="compact">
        <ag-grid-angular [gridOptions]="gridOptions['validation']" />
      </sky-ag-grid-wrapper>
    }
  </div>
</div>

<br />

@if (ready | async) {
  <span id="ready"></span>
}

@if (addPreviewWrapper$ | async) {
  <sky-preview-wrapper />
}
