<h1>Data Grid</h1>

<div class="grid">
  <div class="scrollable" id="row-delete">
    <sky-ag-grid-wrapper
      *ngIf="isActive$ | async"
      skyAgGridRowDelete
      [(rowDeleteIds)]="rowDeleteIds"
      (rowDeleteConfirm)="deleteConfirm($event)"
    >
      <ag-grid-angular
        [gridOptions]="gridOptions['row-delete']"
      ></ag-grid-angular>
    </sky-ag-grid-wrapper>
  </div>

  <div class="scrollable" id="back-to-top">
    <sky-ag-grid-wrapper *ngIf="isActive$ | async" [skyBackToTop]="">
      <ag-grid-angular
        [gridOptions]="gridOptions['back-to-top']"
      ></ag-grid-angular>
    </sky-ag-grid-wrapper>
  </div>

  <div class="scrollable" id="validation">
    <sky-ag-grid-wrapper *ngIf="isActive$ | async">
      <ag-grid-angular
        [gridOptions]="gridOptions['validation']"
      ></ag-grid-angular>
    </sky-ag-grid-wrapper>
  </div>
</div>

<br />

<span id="ready" *ngIf="ready | async"></span>

<sky-preview-wrapper *ngIf="addPreviewWrapper$ | async"></sky-preview-wrapper>
