<div class="sky-padding-even-lg">
  <form [formGroup]="formGroup">
    <sky-radio-group
      formControlName="paymentMethod"
      headingLevel="4"
      headingText="Payment method"
      [helpPopoverContent]="helpPopoverContent"
      [helpPopoverTitle]="helpPopoverTitle"
      [hintText]="hintText"
    >
      @for (option of paymentOptions; track option) {
        <sky-radio
          [disabled]="option.disabled"
          [value]="option.value"
          [labelText]="option.name"
          [helpPopoverContent]="option.helpContent"
          [hintText]="option.hintText"
        />
      }
      <sky-form-error
        *ngIf="paymentMethod.errors?.['processingIssue']"
        errorName="processingIssue"
        errorText="An error occurred with this payment method. Please contact us to resolve."
      />
    </sky-radio-group>
  </form>
</div>
