<sky-page layout="tabs">
  <sky-page-header
    pageTitle="Charlene Conners"
    [parentLink]="{
      label: 'Contacts',
      permalink: {
        route: {
          commands: ['/']
        }
      }
    }"
  >
    <sky-page-header-details>
      <sky-label labelType="info" descriptionType="important-info">
        VIP
      </sky-label>
    </sky-page-header-details>
    <sky-page-header-buttons>
      <button class="sky-btn sky-btn-default sky-margin-inline-sm">
        Email contact
      </button>
      <button class="sky-btn sky-btn-default">Add to my contacts</button>
    </sky-page-header-buttons>
    sdsfsdfsd
  </sky-page-header>
  <sky-page-content>
    <app-record-page-content></app-record-page-content>
  </sky-page-content>
</sky-page>
