sky-code-snippet {
  display: block;

  .sky-code-snippet-pre {
    margin: 0;
    font-size: 90%;
    line-height: var(--modern-line_height-150);
  }

  .hljs-tag,
  .hljs-selector-tag,
  .hljs-regexp {
    color: var(--sky-text-color-action-primary);
  }

  .hljs-name,
  .hljs-keyword,
  .hljs-type,
  .hljs-attribute {
    color: var(--sky-highlight-color-danger);
  }

  .hljs-string,
  .hljs-subst {
    color: var(--sky-color-border-success);
    filter: brightness(65%);
  }
}
