<sky-data-manager>
  <sky-data-manager-toolbar>
    @if (activeViewId === 'repeaterView') {
      <sky-data-manager-toolbar-left-item>
        <button
          type="button"
          class="sky-btn sky-btn-primary"
          (click)="searchSo()"
        >
          Set search text to "so"
        </button>
      </sky-data-manager-toolbar-left-item>
    }
    <sky-filter-bar skyDataManagerFilterController>
      <sky-filter-item-lookup
        filterId="fruitType"
        labelText="Fruit type"
        searchDescriptorProperty="name"
        searchIdProperty="id"
        (searchAsync)="onFruitTypeSearchAsync($event)"
      />
      <sky-filter-item-modal
        filterId="hideOrange"
        labelText="Hide orange"
        modalSize="small"
        [modalComponent]="hideOrangeModalComponent"
      />
    </sky-filter-bar>
  </sky-data-manager-toolbar>

  <app-data-view-repeater [items]="items" />
  <app-data-view-grid [items]="items" />
</sky-data-manager>
