<sky-data-view skyAgGridDataManagerAdapter [viewId]="viewConfig.id">
  <sky-paging
    [currentPage]="dataState.additionalData.currentPage"
    [itemCount]="filteredItems.length"
    [pageSize]="pageSize"
    (contentChange)="onContentChange($event)"
  >
    <sky-paging-content>
      <sky-ag-grid-wrapper *ngIf="isActive && gridInitialized">
        <ag-grid-angular
          [gridOptions]="gridOptions"
          [rowData]="
            filteredItems
              | dataManagerPagedItems
                : pageSize
                : dataState.additionalData.currentPage
          "
        />
      </sky-ag-grid-wrapper>
    </sky-paging-content>
  </sky-paging>
</sky-data-view>
