<sky-modal [headingText]="title">
  <sky-modal-content>
    <sky-input-box>
      <label class="sky-control-label" [for]="myInput.id"> Settings </label>
      <input #myInput="skyId" class="sky-form-control" type="text" skyId />
    </sky-input-box>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      class="sky-btn sky-btn-primary sky-margin-inline-sm"
      type="button"
      (click)="instance.save()"
    >
      Save
    </button>
    <button
      class="sky-btn sky-btn-link"
      type="button"
      (click)="instance.close()"
    >
      Close
    </button>
  </sky-modal-footer>
</sky-modal>
