<form [formGroup]="formGroup">
  <sky-file-drop
    data-sky-id="logo-upload"
    linkUploadHintText="Start with http:// or https://"
    formControlName="fileDrop"
    [acceptedTypes]="acceptedTypes"
    [allowLinks]="true"
    [helpPopoverContent]="inlineHelpContent"
    [hintText]="hintText"
    [labelText]="labelText"
    [maxFileSize]="maxFileSize"
    [stacked]="stacked"
    [validateFn]="validateFile"
  >
    @if (fileDrop.errors?.['maxNumberOfFilesReached']) {
      <sky-form-error
        errorName="maxNumberOfFilesReached"
        errorText="Do not upload more than 3 files."
      />
    }
  </sky-file-drop>
</form>

@for (file of fileDrop.value; track file) {
  <sky-file-item [fileItem]="file" (deleteFile)="deleteFile($event)" />
}
