@mixin bg-color {
  background-color: red;
}

@mixin test-mixin {
  .child {
    @include bg-color;
  }
}

.grandparent .parent .child {
  background-color: green;

  height: 200px;
  width: 200px;
}

.parent {
  @include test-mixin();
}
