/*
  The consumer has full control over what can be placed in the drawer.
  These classes are simply for visual tests and not intended to be used as a demo.
*/
.my-split-view {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.my-split-view-header {
  flex-grow: 0;
}

.my-split-view-content {
  flex-grow: 1;
  position: relative;
}
