/*
  The consumer has full control over what can be placed in the drawer.
  These classes are simply for visual tests and not intended to be used as a demo.
*/
// .sky-visual-list {
//   margin: 0;
//   padding: 0;
//   list-style: none;

//   li {
//     padding: 10px 5px;
//     border-top: 1px solid #ccc;
//   }
// }

// ::ng-deep .sky-split-view-drawer p {
//   padding-right: 10px;
//   padding-left: 10px;
// }

.my-split-view {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.my-split-view-header {
  flex-grow: 0;
}

.my-split-view-content {
  flex-grow: 1;
  position: relative;
}
