<ng-template #repeater>
  <sky-repeater>
    @for (activity of recentActivity; track activity) {
      <sky-repeater-item>
        <sky-repeater-item-content>
          <div class="sky-theme-margin-bottom-xs">
            {{ activity.activity }}
          </div>
          <div class="sky-theme-font-body-deemphasized-m">
            {{ activity.date }}
          </div>
        </sky-repeater-item-content>
      </sky-repeater-item>
    }
  </sky-repeater>
</ng-template>

<div class="sky-padding-even-md">
  <sky-fluid-grid gutterSize="large">
    <sky-row>
      <sky-column screenMedium="4">
        <sky-box headingText="Recent activity in a box">
          <sky-box-content>
            <ng-container *ngTemplateOutlet="repeater" />
          </sky-box-content>
        </sky-box>
      </sky-column>
      <sky-column screenMedium="4">
        <div class="sky-padding-even-sm">
          <h2>Recent activity outside a box</h2>
          <ng-container *ngTemplateOutlet="repeater" />
        </div>
      </sky-column>
    </sky-row>
  </sky-fluid-grid>
</div>
