<div>
  <ng-container *ngFor="let sizeOption of sizes">
    <button
      class="sky-btn sky-btn-default"
      type="button"
      (click)="onOpenModalClick(sizeOption, 'responsive')"
    >
      Open {{ sizeOption }} with responsive content
    </button>
  </ng-container>
</div>
<br />
<div>
  <ng-container *ngFor="let sizeOption of sizes">
    <button
      class="sky-btn sky-btn-default"
      type="button"
      (click)="onOpenModalClick(sizeOption, 'plain')"
    >
      Open {{ sizeOption }} with plain content
    </button>
  </ng-container>
</div>
