<h1>Data Entry Grid</h1>

<ng-template #gridTemplate>
  <div [attr.id]="variationId">
    @for (dataSet of dataSets; track dataSet.id) {
      <sky-ag-grid-wrapper
        [attr.id]="dataSet.id"
        [ngStyle]="{ gridArea: dataSet.id }"
        [compact]="compact"
      >
        <ag-grid-angular
          class="sky-ag-grid-editable"
          [gridOptions]="gridOptions[dataSet.id]"
        />
      </sky-ag-grid-wrapper>
    }
  </div>
</ng-template>

@if (isActive$ | async) {
  <div [attr.id]="variationId">
    @for (dataSet of dataSets; track dataSet.id) {
      <sky-ag-grid-wrapper
        [attr.id]="dataSet.id"
        [ngStyle]="{ gridArea: dataSet.id }"
        [compact]="compact"
      >
        <ag-grid-angular
          class="sky-ag-grid-editable"
          [gridOptions]="gridOptions[dataSet.id]"
        />
      </sky-ag-grid-wrapper>
    }
  </div>
} @else {
  @if (skyTheme) {
    <div [skyTheme]="skyTheme">
      <ng-container *ngTemplateOutlet="gridTemplate" />
    </div>
  }
}

<br />

@if (ready | async) {
  <span id="ready"></span>
}

@if (addPreviewWrapper$ | async) {
  <sky-preview-wrapper />
}
