<h1>Data Entry Grid</h1>

<ng-template #gridTemplate>
  <div [attr.id]="variationId">
    @for (dataSet of dataSets; track dataSet.id) {
      <sky-ag-grid-wrapper
        [attr.id]="dataSet.id"
        [ngStyle]="{ gridArea: dataSet.id }"
        [compact]="compact"
      >
        <ag-grid-angular
          class="sky-ag-grid-editable"
          [gridOptions]="gridOptions[dataSet.id]"
        />
      </sky-ag-grid-wrapper>
    }
  </div>
</ng-template>

<ng-template #themeWrap>
  <div *ngIf="skyTheme" [skyTheme]="skyTheme">
    <ng-container *ngTemplateOutlet="gridTemplate" />
  </div>
</ng-template>

<ng-container *ngIf="isActive$ | async; then gridTemplate; else themeWrap" />

<br />

<span *ngIf="ready | async" id="ready"></span>

<sky-preview-wrapper *ngIf="addPreviewWrapper$ | async" />
