<ul>
  <li>
    <a routerLink="/visual/data-manager">Data Manager with Grid</a>
  </li>
  <li>
    <a routerLink="/visual/readonly-grid">Read-only Grid</a>
  </li>
  <li>
    <a routerLink="/visual/editable-grid">Editable Grid</a>
  </li>
  <li>
    <a routerLink="/visual/edit-stop-when-loses-focus"
      >Editable Grid, stop when lose focus</a
    >
  </li>
  <li>
    <a routerLink="/visual/edit-in-modal-grid">Edit it modal grid</a>
  </li>
  <li>
    <a routerLink="/visual/edit-complex-cells">Edit complex cells</a>
  </li>
</ul>
