<form novalidate [formGroup]="myForms">
  <sky-page layout="blocks">
    <sky-page-content>
      <sky-input-box hintText="Here's some hint text." labelText="Pick a time">
        <sky-timepicker #timepicker>
          <input
            formControlName="time"
            type="text"
            [skyTimepickerInput]="timepicker"
          />
        </sky-timepicker>
      </sky-input-box>
    </sky-page-content>
  </sky-page>
</form>
<p>ISO8601 Value: {{ myForms.controls['time'].value.iso8601 }}</p>
