<ng-template #error>
  <sky-error [errorType]="errorType" [showImage]="showImage">
    @if (customImage) {
      <sky-error-image>
        <img alt="" src="/old_broken_bird.jpg" />
      </sky-error-image>
    }
    @if (customTitleAndDescription) {
      <sky-error-title
        [replaceDefaultTitle]="replaceDefaultTitleAndDescription"
      >
        A bad thing happened.</sky-error-title
      >
    }
    @if (customTitleAndDescription) {
      <sky-error-description
        [replaceDefaultDescription]="replaceDefaultTitleAndDescription"
      >
        A bad thing happened.</sky-error-description
      >
    }
    @if (customAction) {
      <sky-error-action>
        <button class="sky-btn sky-btn-link" type="button">Try again</button>
      </sky-error-action>
    }
  </sky-error>
</ng-template>

@if (pageError) {
  <div id="page-container">
    <ng-container *ngTemplateOutlet="error" />
  </div>
}

@if (!pageError) {
  <sky-box class="sky-padding-even-md">
    <sky-box-header>
      <h2 class="sky-font-heading-2">Giving</h2>
    </sky-box-header>
    <sky-box-content>
      <ng-container *ngTemplateOutlet="error" />
    </sky-box-content>
  </sky-box>
}
