<div class="media-queries-examples">
  <h3>Responsive behavior based on media query</h3>
  <app-responsive-content />
</div>

<div class="container-queries-examples">
  <h3>Responsive behavior based on container class</h3>
  @for (
    containerBreakpoint of containerBreakpoints;
    track containerBreakpoint
  ) {
    <div [class]="'sky-responsive-container-' + containerBreakpoint">
      <p>
        Container breakpoint:
        <code>sky-responsive-container-{{ containerBreakpoint }}</code>
      </p>
      <app-responsive-content />
    </div>
  }
</div>
