<form class="sky-padding-even-md" novalidate [formGroup]="reactiveForm">
  <sky-autocomplete [data]="data" (selectionChange)="onSelectionChange($event)">
    <sky-input-box>
      <label class="sky-control-label" for="favorite-color-reactive">
        Favorite color
      </label>
      <input
        class="sky-form-control"
        formControlName="favoriteColor"
        id="favorite-color-reactive"
        skyAutocomplete
        type="text"
      />
    </sky-input-box>
  </sky-autocomplete>
</form>
