import type { StorybookConfig } from '@storybook/angular';

import { rootMain } from '<%= relativeToRoot %>/.storybook/main';

const config: StorybookConfig = {
  ...rootMain,

  stories: [
    ...rootMain.stories,
    '../src/app/**/*.stories.mdx',
    '../src/app/**/*.stories.@(js|jsx|ts|tsx)',
  ],
};

export default config;
