<div class="sky-padding-even-default">
  <p>Triggered inline delete:</p>
  <div class="screenshot-inline-delete">
    <button class="sky-btn sky-btn-danger" type="button">
      <sky-icon iconName="delete" />
    </button>
    <sky-inline-delete [pending]="false" />
  </div>
</div>

<div class="sky-padding-even-default">
  <p>Triggered inline delete, pending:</p>
  <div class="screenshot-inline-delete">
    <button class="sky-btn sky-btn-danger" type="button">
      <sky-icon iconName="delete" />
    </button>
    <sky-inline-delete [pending]="true" />
  </div>
</div>
