<div class="sky-padding-even-default">
  <p>Triggered inline delete:</p>
  <div class="screenshot-inline-delete">
    <button class="sky-btn sky-btn-danger" type="button">
      <sky-icon icon="trash"></sky-icon>
    </button>
    <sky-inline-delete [pending]="false"></sky-inline-delete>
  </div>
</div>

<div class="sky-padding-even-default">
  <p>Triggered inline delete, pending:</p>
  <div class="screenshot-inline-delete">
    <button class="sky-btn sky-btn-danger" type="button">
      <sky-icon icon="trash"></sky-icon>
    </button>
    <sky-inline-delete [pending]="true"></sky-inline-delete>
  </div>
</div>
<span *ngIf="ready | async" id="ready"></span>
