.screenshot-inline-delete {
  padding: 15px;
  background-color: white;
  height: 200px;
  width: 400px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
