<form novalidate [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="sky-margin-stacked-lg">
    <sky-colorpicker
      labelText="What is your favorite color?"
      (selectedColorChanged)="onSelectedColorChanged($event)"
      #colorPicker
    >
      <input
        formControlName="favoriteColor"
        type="text"
        [presetColors]="swatches"
        [skyColorpickerInput]="colorPicker"
      />
    </sky-colorpicker>
  </div>

  <button class="sky-btn sky-btn-primary" type="submit">Submit</button>
</form>
