<form novalidate [formGroup]="reactiveForm">
  <div class="sky-form-group">
    <sky-date-range-picker
      formControlName="lastDonation"
      label="Last donation"
      [calculatorIds]="calculatorIds"
      [dateFormat]="dateFormat"
    >
    </sky-date-range-picker>

    <ng-container *ngIf="reactiveRange.errors && reactiveRange.touched">
      <div
        *ngIf="reactiveRange.errors.skyDateRange?.errors.endDateBeforeStartDate"
        class="sky-error-label"
      >
        Change the date range so that the from date is on or before the to date.
      </div>
      <div *ngIf="reactiveRange.errors.skyDate" class="sky-error-label">
        Enter valid dates.
      </div>
    </ng-container>
  </div>
</form>

<h3>Form control statuses</h3>

<table>
  <tr>
    <th>Touched</th>
    <td>{{ reactiveRange.touched }}</td>
  </tr>
  <tr>
    <th>Pristine</th>
    <td>{{ reactiveRange.pristine }}</td>
  </tr>
  <tr>
    <th>Valid</th>
    <td>{{ reactiveRange.valid }}</td>
  </tr>
</table>

<h3>Form control value</h3>

<pre><code style="display:block;">calculatorId: {{ reactiveForm.value.lastDonation?.calculatorId }}
startDate: {{ reactiveForm.value.lastDonation?.startDate | date }}
endDate: {{ reactiveForm.value.lastDonation?.endDate | date }}</code></pre>

<h3>Manipulate value and state</h3>

<button
  class="sky-btn sky-btn-default sky-margin-inline-lg"
  type="button"
  (click)="toggleDisabled()"
>
  {{ reactiveForm.disabled ? 'Enable' : 'Disable' }} picker
</button>

<button
  class="sky-btn sky-btn-default sky-margin-inline-lg"
  type="button"
  (click)="resetForm()"
>
  Reset form
</button>

<button
  class="sky-btn sky-btn-default sky-margin-inline-lg"
  type="button"
  (click)="setRange()"
>
  Set specific range
</button>

<button
  class="sky-btn sky-btn-default sky-margin-inline-lg"
  type="button"
  (click)="setInvalidRange()"
>
  Set invalid range
</button>

<button
  class="sky-btn sky-btn-default sky-margin-inline-lg"
  type="button"
  (click)="setInvalidDates()"
>
  Set invalid dates
</button>

<button
  class="sky-btn sky-btn-default sky-margin-inline-lg"
  type="button"
  (click)="setCalculatorIds()"
>
  Set custom calculators
</button>

<button class="sky-btn sky-btn-default" type="button" (click)="setDateFormat()">
  Set date format (YYYY-MM-DD)
</button>
