<div class="sky-padding-even-lg">
  <form [formGroup]="formGroup">
    <div class="sky-margin-stacked-lg">
      <sky-date-range-picker
        formControlName="lastDonation"
        [dateFormat]="dateFormat"
        [helpPopoverContent]="inlineHelpPopover"
        [hintText]="hintText"
        [labelText]="labelText"
        [required]="required"
      >
        @if (lastDonation.errors?.['startDateWeekend']) {
          <sky-form-error
            errorName="startDateWeekend"
            errorText="Do not pick a weekend as the start date."
          />
        }
        @if (lastDonation.errors?.['endDateWeekend']) {
          <sky-form-error
            errorName="endDateWeekend"
            errorText="Do not pick a weekend as the end date."
          />
        }
      </sky-date-range-picker>
    </div>
  </form>
</div>

<ng-template #inlineHelpPopover>
  By default, donations include one-time gifts, pledges, and matching gifts. To
  customize, see <a>Giving settings</a>.
</ng-template>
