#storybook-root {
  --viewport-height: 1450px;
}

app-ag-grid-widgets {
  display: block;
  width: var(--viewport-width);

  #examples {
    display: grid;
    grid-template-areas:
      'columnGroups'
      'overlay'
      'noData'
      'loading'
      'rowPinning';
    grid-template-columns: 940px;
    grid-template-rows: 215px 155px 275px 275px 275px;
    grid-gap: 20px;

    > sky-ag-grid-wrapper {
      overflow-y: auto;
    }
  }
}
