<p>View the new code examples, <a routerLink="v2">here</a>.</p>
<ul>
  <li>
    Action bars
    <ul>
      <li><a routerLink="action-bars/basic">Action bars (basic)</a></li>
      <li><a routerLink="action-bars/modal">Action bars (modal)</a></li>
      <li><a routerLink="action-bars/tab">Action bars (tabs)</a></li>
    </ul>
  </li>
  <li>
    AG Grid: Data Grid / Data Entry Grid
    <ul>
      <li>
        <a routerLink="ag-grid/data-entry-grid/basic">
          Data Entry Grid (basic)
        </a>
      </li>
      <li>
        <a routerLink="ag-grid/data-entry-grid/data-manager-added">
          Data Entry Grid with Data Manager
        </a>
      </li>
      <li>
        <a routerLink="ag-grid/data-entry-grid/focus">
          Data Entry Grid with Initial Focus
        </a>
      </li>
      <li>
        <a routerLink="ag-grid/data-entry-grid/inline-help">
          Data Entry Grid with inline help
        </a>
      </li>
      <li>
        <a routerLink="ag-grid/data-grid/basic">Data Grid (basic)</a>
      </li>
      <li>
        <a routerLink="ag-grid/data-grid/basic-multiselect">
          Multiselect Data Grid (basic)
        </a>
      </li>
      <li>
        <a routerLink="ag-grid/data-grid/data-manager">
          Data Grid with Data Manager
        </a>
      </li>
      <li>
        <a routerLink="ag-grid/data-grid/data-manager-multiselect">
          Multiselect Data Grid with Data Manager
        </a>
      </li>
      <li>
        <a routerLink="ag-grid/data-grid/top-scroll">
          Data Grid with top scrollbar
        </a>
      </li>
      <li>
        <a routerLink="ag-grid/data-grid/inline-help">
          Data Grid with inline help
        </a>
      </li>
      <li>
        <a routerLink="ag-grid/data-grid/paging"> Data Grid with paging </a>
      </li>
      <li>
        <a routerLink="ag-grid/data-grid/template-ref-column">
          Data Grid with TemplateRef column
        </a>
      </li>
    </ul>
  </li>
  <li>
    Angular Tree
    <ul>
      <li><a routerLink="angular-tree/basic">Basic</a></li>
      <li><a routerLink="angular-tree/help-key">With help key</a></li>
    </ul>
  </li>
  <li>
    Autonumeric
    <ul>
      <li><a routerLink="autonumeric/currency">Currency</a></li>
      <li>
        <a routerLink="autonumeric/international-formatting">
          International Formatting
        </a>
      </li>
      <li><a routerLink="autonumeric/options-provider">Options Provider</a></li>
      <li><a routerLink="autonumeric/preset">Preset</a></li>
    </ul>
  </li>
  <li>
    Avatar
    <ul>
      <li><a routerLink="avatar/basic">Basic</a></li>
    </ul>
  </li>
  <li>
    Colorpicker
    <ul>
      <li><a routerLink="colorpicker/basic">Basic</a></li>
      <li><a routerLink="colorpicker/programmatic">Programmatic</a></li>
      <li><a routerLink="colorpicker/help-key">With help key</a></li>
    </ul>
  </li>
  <li>
    Core
    <ul>
      <li><a routerLink="core/media-query/basic">Media Query (basic)</a></li>
      <li>
        <a routerLink="core/media-query/responsive-host"
          >Media Query (responsive host)</a
        >
      </li>
      <li><a routerLink="core/numeric/basic">Numeric (basic)</a></li>
      <li><a routerLink="core/id">ID</a></li>
    </ul>
  </li>
  <li>
    Data Manager
    <ul>
      <li><a routerLink="data-manager/basic">Basic</a></li>
    </ul>
  </li>
  <li>
    Datetime
    <ul>
      <li>
        Date pipe
        <ul>
          <li><a routerLink="datetime/date-pipe/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Date range picker
        <ul>
          <li><a routerLink="datetime/date-range-picker/basic">Basic</a></li>
          <li>
            <a routerLink="datetime/date-range-picker/custom-calculator"
              >Custom calculator</a
            >
          </li>
          <li>
            <a routerLink="datetime/date-range-picker/help-key"
              >With help key</a
            >
          </li>
        </ul>
      </li>
      <li>
        Date picker
        <ul>
          <li><a routerLink="datetime/datepicker/basic">Basic</a></li>
          <li>
            <a routerLink="datetime/datepicker/custom-dates">Custom dates</a>
          </li>
          <li><a routerLink="datetime/datepicker/fuzzy">Fuzzy</a></li>
        </ul>
      </li>
      <li>
        Time custom-picker
        <ul>
          <li><a routerLink="datetime/timepicker/basic">Basic</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Errors
    <ul>
      <li><a routerLink="errors/embedded">Embedded</a></li>
      <li><a routerLink="errors/modal">Modal</a></li>
    </ul>
  </li>
  <li>
    Flyout
    <ul>
      <li><a routerLink="flyout/basic">Basic</a></li>
      <li><a routerLink="flyout/custom-headers">Custom headers</a></li>
    </ul>
  </li>
  <li>
    Forms
    <ul>
      <li><a routerLink="forms/character-count">Character count</a></li>
      <li>
        Checkbox
        <ul>
          <li><a routerLink="forms/checkbox/basic">Basic</a></li>
          <li><a routerLink="forms/checkbox/icon-group">Icon group</a></li>
          <li><a routerLink="forms/checkbox/help-key">With help key</a></li>
        </ul>
      </li>
      <li>
        Field group
        <ul>
          <li><a routerLink="forms/field-group/basic">Basic</a></li>
          <li><a routerLink="forms/field-group/help-key">With help key</a></li>
        </ul>
      </li>
      <li>
        File attachment
        <ul>
          <li><a routerLink="forms/file-attachment/basic">Basic</a></li>
          <li>
            <a routerLink="forms/file-attachment/help-key">With help key</a>
          </li>
        </ul>
      </li>
      <li>
        File drop
        <ul>
          <li><a routerLink="forms/file-drop/basic">Basic</a></li>
          <li><a routerLink="forms/file-drop/help-key">With help key</a></li>
        </ul>
      </li>
      <li>
        Input Box
        <ul>
          <li><a routerLink="forms/input-box/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Radio
        <ul>
          <li><a routerLink="forms/radio/icon">Icon</a></li>
          <li><a routerLink="forms/radio/standard">Standard</a></li>
          <li><a routerLink="forms/radio/help-key">With help key</a></li>
        </ul>
      </li>
      <li>
        Selection box
        <ul>
          <li><a routerLink="forms/selection-box/checkbox">Checkbox</a></li>
          <li><a routerLink="forms/selection-box/radio">Radio</a></li>
        </ul>
      </li>
      <li>
        Toggle switch
        <ul>
          <li><a routerLink="forms/toggle-switch/basic">Basic</a></li>
          <li>
            <a routerLink="forms/toggle-switch/help-key">With help key</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Help inline
    <ul>
      <li><a routerLink="help-inline/basic">Basic</a></li>
    </ul>
  </li>
  <li>
    Icon
    <ul>
      <li><a routerLink="icon/basic">Basic</a></li>
      <li><a routerLink="icon/button">Icon button</a></li>
    </ul>
  </li>
  <li>
    Indicators
    <ul>
      <li>
        Alert
        <ul>
          <li><a routerLink="indicators/alert/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Illustration
        <ul>
          <li><a routerLink="indicators/illustration/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Key Info
        <ul>
          <li><a routerLink="indicators/key-info/basic">Basic</a></li>
          <li>
            <a routerLink="indicators/key-info/help-key">With help key</a>
          </li>
          <li>
            <a routerLink="indicators/key-info/inline-help">Inline help</a>
          </li>
        </ul>
      </li>
      <li>
        Label
        <ul>
          <li><a routerLink="indicators/label/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Status indicator
        <ul>
          <li><a routerLink="indicators/status-indicator/basic">Basic</a></li>
          <li>
            <a routerLink="indicators/status-indicator/help-key"
              >With help key</a
            >
          </li>
        </ul>
      </li>
      <li>
        Text highlight
        <ul>
          <li><a routerLink="indicators/text-highlight/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Tokens
        <ul>
          <li><a routerLink="indicators/tokens/basic">Basic</a></li>
          <li><a routerLink="indicators/tokens/custom">Custom</a></li>
        </ul>
      </li>
      <li>
        Wait
        <ul>
          <li><a routerLink="indicators/wait/element">Element</a></li>
          <li><a routerLink="indicators/wait/page">Page</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Inline Form
    <ul>
      <li><a routerLink="inline-form/basic">Basic</a></li>
      <li><a routerLink="inline-form/custom-buttons">Custom buttons</a></li>
      <li><a routerLink="inline-form/repeaters">Repeaters</a></li>
    </ul>
  </li>

  <li>
    Layout
    <ul>
      <li>
        Action button
        <ul>
          <li><a routerLink="layout/action-button/basic">Basic</a></li>
          <li><a routerLink="layout/action-button/permalink">Permalink</a></li>
        </ul>
      </li>
      <li>
        Back to top
        <ul>
          <li><a routerLink="layout/back-to-top/grid">Grid</a></li>
          <li>
            <a routerLink="layout/back-to-top/infinite-scroll"
              >Infinite scroll</a
            >
          </li>
          <li><a routerLink="layout/back-to-top/repeater">Repeater</a></li>
        </ul>
      </li>
      <li>
        Box
        <ul>
          <li><a routerLink="layout/box/basic">Basic</a></li>
          <li><a routerLink="layout/box/help-key">With help key</a></li>
        </ul>
      </li>
      <li>
        Card
        <ul>
          <li><a routerLink="layout/card/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Definition List
        <ul>
          <li><a routerLink="layout/definition-list/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Description list
        <ul>
          <li>
            <a routerLink="layout/description-list/horizontal">Horizontal</a>
          </li>
          <li><a routerLink="layout/description-list/vertical">Vertical</a></li>
          <li>
            <a routerLink="layout/description-list/long-description"
              >Long description</a
            >
          </li>
          <li>
            <a routerLink="layout/description-list/inline-help">Inline help</a>
          </li>
          <li>
            <a routerLink="layout/description-list/help-key">With help key</a>
          </li>
        </ul>
      </li>
      <li>
        Format
        <ul>
          <li><a routerLink="layout/format">Format</a></li>
        </ul>
      </li>
      <li><a routerLink="layout/fluid-grid">Fluid grid</a></li>
      <li>
        Inline delete
        <ul>
          <li><a routerLink="layout/inline-delete/custom">Custom</a></li>
          <li><a routerLink="layout/inline-delete/repeater">Repeater</a></li>
        </ul>
      </li>
      <li>
        Page
        <ul>
          <li><a routerLink="layout/page">Fit layout</a></li>
        </ul>
      </li>
      <li>
        Page summary
        <ul>
          <li><a routerLink="layout/page-summary/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Text expand
        <ul>
          <li>
            <a routerLink="layout/text-expand/inline">Inline</a>
            <a routerLink="layout/text-expand/modal">Modal</a>
            <a routerLink="layout/text-expand/newline">Newline</a>
          </li>
        </ul>
      </li>
      <li>
        Text expand repeater
        <ul>
          <li>
            <a routerLink="layout/text-expand-repeater">Text expand repeater</a>
          </li>
        </ul>
      </li>
      <li>
        Toolbar
        <ul>
          <li><a routerLink="layout/toolbar/basic">Basic</a></li>
          <li><a routerLink="layout/toolbar/sectioned">Sectioned</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    Lists
    <ul>
      <li>
        Filter
        <ul>
          <li><a routerLink="lists/filter/inline">Inline</a></li>
          <li><a routerLink="lists/filter/modal">Modal</a></li>
        </ul>
      </li>
      <li>
        Infinite scroll
        <ul>
          <li><a routerLink="lists/infinite-scroll/repeater">Repeater</a></li>
        </ul>
      </li>
      <li>
        Paging
        <ul>
          <li><a routerLink="lists/paging/basic">Basic</a></li>
        </ul>
        <ul>
          <li><a routerLink="lists/paging/with-content">With content</a></li>
        </ul>
      </li>
      <li>
        Repeater
        <ul>
          <li><a routerLink="lists/repeater/basic">Basic</a></li>
          <li>
            <a routerLink="lists/repeater/add-remove">Add remove</a>
          </li>
          <li>
            <a routerLink="lists/repeater/inline-form">Inline form</a>
          </li>
        </ul>
      </li>
      <li>
        Sort
        <ul>
          <li><a routerLink="lists/sort/basic">Basic</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Lookup
    <ul>
      <li>
        Autocomplete
        <ul>
          <li><a routerLink="lookup/autocomplete/basic">Basic</a></li>
          <li>
            <a routerLink="lookup/autocomplete/search-filters">
              Search filters
            </a>
          </li>
          <li><a routerLink="lookup/autocomplete/advanced">Advanced</a></li>
          <li>
            <a routerLink="lookup/autocomplete/custom-search">Custom search</a>
          </li>
        </ul>
      </li>
      <li>
        Country field
        <ul>
          <li><a routerLink="lookup/country-field/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Lookup
        <ul>
          <li>
            <a routerLink="lookup/lookup/add-item">Add button</a>
          </li>
          <li>
            <a routerLink="lookup/lookup/custom-picker">Custom picker</a>
          </li>
          <li><a routerLink="lookup/lookup/multi-select">Multi-select</a></li>
          <li>
            <a routerLink="lookup/lookup/result-templates">Result templates</a>
          </li>
          <li>
            <a routerLink="lookup/lookup/single-select">Single select</a>
          </li>
        </ul>
      </li>
      <li>
        Search
        <ul>
          <li><a routerLink="lookup/search/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Selection modal
        <ul>
          <li><a routerLink="lookup/selection-modal/basic">Basic</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Navbar
    <ul>
      <li><a routerLink="navbar/navbar">navbar</a></li>
    </ul>
  </li>
  <li>
    Modals
    <ul>
      <li>
        <a routerLink="modals/confirm-with-controller"
          >Confirm (tested with controller)</a
        >
      </li>
      <li>
        <a routerLink="modals/confirm-with-harness"
          >Confirm (tested with harness)</a
        >
      </li>
      <li>
        <a routerLink="modals/modal-with-controller"
          >Modal (tested with controller)</a
        >
      </li>
      <li>
        <a routerLink="modals/modal-with-harness"
          >Modal (tested with harness)</a
        >
      </li>
      <li>
        <a routerLink="modals/modal-with-harness-help-key"
          >Modal with a help key (tested with harness)</a
        >
      </li>
      <li><a routerLink="modals/modal-with-error">Modal with form error</a></li>
    </ul>
  </li>

  <li>
    Pages
    <ul>
      <li><a routerLink="pages/action-hub">Action Hub</a></li>
      <li>
        Page
        <ul>
          <li>
            <a routerLink="pages/page/home-page-blocks-layout"
              >Home page with blocks layout</a
            >
          </li>
          <li>
            <a routerLink="pages/page/list-page-list-layout"
              >List page with list layout</a
            >
          </li>
          <li>
            <a routerLink="pages/page/list-page-tabs-layout"
              >List page with tabs layout</a
            >
          </li>
          <li>
            <a routerLink="pages/page/record-page-blocks-layout"
              >Record page with blocks layout</a
            >
          </li>
          <li>
            <a routerLink="pages/page/record-page-tabs-layout"
              >Record page with tabs layout</a
            >
          </li>
          <li>
            <a routerLink="pages/page/split-view-page-fit-layout"
              >Split view page with fit layout</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    Phone field
    <ul>
      <li><a routerLink="phone-field/phone-field/basic">Basic</a></li>
    </ul>
  </li>

  <li>
    Popovers
    <ul>
      <li>
        Dropdown
        <ul>
          <li>
            <a routerLink="popovers/dropdown/basic">Basic</a>
          </li>
        </ul>
      </li>
      <li>
        Popover
        <ul>
          <li>
            <a routerLink="popovers/popover/basic">Basic</a>
          </li>
          <li>
            <a routerLink="popovers/popover/programmatic">Programmatic</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    Progress indicators
    <ul>
      <li>
        <a routerLink="progress-indicator/waterfall">Waterfall</a>
      </li>
      <li>
        <a routerLink="progress-indicator/passive">Passive</a>
      </li>
      <li>
        <a routerLink="progress-indicator/wizard">Wizard</a>
      </li>
    </ul>
  </li>

  <li>
    Router
    <ul>
      <li>
        <a routerLink="router/href/basic">SkyHref</a>
      </li>
    </ul>
  </li>

  <li>
    Split view
    <ul>
      <li>
        <a routerLink="split-view/basic">Basic</a>
      </li>
      <li>
        <a routerLink="split-view/page-bound">Page-bound</a>
      </li>
    </ul>
  </li>

  <li>
    Tabs
    <ul>
      <li>
        <a routerLink="tabs/sectioned-form/modal">Sectioned Form Modal</a>
      </li>
      <li><a routerLink="tabs/tabs/counts">Tabs Counts</a></li>
      <li><a routerLink="tabs/tabs/dynamic">Tabs Dynamic (basic)</a></li>
      <li>
        <a routerLink="tabs/tabs/dynamic-add-close">Tabs Dynamic (add close)</a>
      </li>
      <li><a routerLink="tabs/tabs/static">Tabs Static (basic)</a></li>
      <li>
        <a routerLink="tabs/tabs/static-add-close">Tabs Static (add close)</a>
      </li>
      <li>
        <a routerLink="tabs/vertical-tabs/basic">Vertical Tabs (basic)</a>
      </li>
      <li>
        <a routerLink="tabs/vertical-tabs/grouped">Vertical Tabs (grouped)</a>
      </li>
      <li>
        <a routerLink="tabs/tabs/wizard/basic">Wizard (Tabs)</a>
      </li>
    </ul>
  </li>

  <li>
    Text Editor
    <ul>
      <li>
        <a routerLink="text-editor/rich-text-display">Rich text display</a>
      </li>
      <li><a routerLink="text-editor/text-editor">Text Editor</a></li>
      <li><a routerLink="text-editor/text-editor/help-key">Text Editor</a></li>
    </ul>
  </li>

  <li>
    Themes
    <ul>
      <li>
        Box
        <ul>
          <li><a routerLink="themes/box/basic">Basic</a></li>
        </ul>
      </li>
      <li>
        Status indicator
        <ul>
          <li><a routerLink="themes/status-indicator/basic">Basic</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    Tiles
    <ul>
      <li><a routerLink="tiles/basic">Tiles (basic)</a></li>
    </ul>
  </li>
  <li>
    Toast
    <ul>
      <li><a routerLink="toast/basic">Toast (basic)</a></li>
    </ul>
    <ul>
      <li>
        <a routerLink="toast/custom-component">Toast (custom-component)</a>
      </li>
    </ul>
  </li>
  <li>
    Validation
    <ul>
      <li>
        Email
        <ul>
          <li>
            <a routerLink="validation/email/control-validator"
              >Control validator</a
            >
          </li>
          <li><a routerLink="validation/email/directive">Directive</a></li>
        </ul>
      </li>
      <li>
        Url
        <ul>
          <li>
            <a routerLink="validation/url/control-validator"
              >Control validator</a
            >
          </li>
          <li><a routerLink="validation/url/directive">Directive</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
