<div class="sky-margin-stacked-lg">
  <sky-icon icon="sparkles-2" />
  <sky-icon iconName="sparkles" />
  <sky-icon icon="sparkles-2" size="lg" />
  <sky-icon iconName="sparkles" size="lg" />
  <sky-icon icon="sparkles-2" size="2x" />
  <sky-icon iconName="sparkles" size="2x" />
  <sky-icon icon="sparkles-2" size="3x" />
  <sky-icon iconName="sparkles" size="3x" />
  <sky-icon icon="sparkles-2" size="4x" />
  <sky-icon iconName="sparkles" size="4x" />
  <sky-icon icon="sparkles-2" size="5x " />
  <sky-icon iconName="sparkles" size="5x" />

  <sky-icon iconName="alert" />
  <sky-icon iconName="alert" size="lg" />
  <sky-icon iconName="alert" size="2x" />
  <sky-icon iconName="alert" size="3x" />
  <sky-icon iconName="alert" size="4x" />
  <sky-icon iconName="alert" size="5x" />

  <sky-icon iconName="attach" />
  <sky-icon iconName="attach" size="lg" />
  <sky-icon iconName="attach" size="2x" />
  <sky-icon iconName="attach" size="3x" />
  <sky-icon iconName="attach" size="4x" />
  <sky-icon iconName="attach" size="5x" />
  Some text.
</div>
<div>
  <button type="button" class="sky-btn sky-btn-primary sky-margin-inline-sm">
    <sky-icon iconName="clipboard-multiple" /> Copy
  </button>
  <button type="button" class="sky-btn sky-btn-primary sky-margin-inline-sm">
    <sky-icon icon="copy-to-clipboard" /> Copy
  </button>
  <button type="button" class="sky-btn sky-btn-primary">
    <sky-icon iconName="alert" /> Alert
  </button>
</div>
