<p>
  <sky-icon iconName="sparkles" /> some text
  <sky-icon iconName="clipboard-multiple" /> some more text
</p>

<div class="sky-margin-stacked-lg">
  <sky-icon iconName="alert" iconSize="xxxs" />
  <sky-icon iconName="alert" iconSize="xxs" />
  <sky-icon iconName="alert" iconSize="xs" />
  <sky-icon iconName="alert" iconSize="s" />
  <sky-icon iconName="alert" />
  <sky-icon iconName="alert" iconSize="l" />
  <sky-icon iconName="alert" iconSize="xl" />
  <sky-icon iconName="alert" iconSize="xxl" />
  <sky-icon iconName="alert" iconSize="xxxl" />

  <sky-icon iconName="attach" iconSize="xxxs" />
  <sky-icon iconName="attach" iconSize="xxs" />
  <sky-icon iconName="attach" iconSize="xs" />
  <sky-icon iconName="attach" iconSize="s" />
  <sky-icon iconName="attach" />
  <sky-icon iconName="attach" iconSize="l" />
  <sky-icon iconName="attach" iconSize="xl" />
  <sky-icon iconName="attach" iconSize="xxl" />
  <sky-icon iconName="attach" iconSize="xxxl" />

  Some text.
</div>
<div class="sky-margin-stacked-lg">
  <sky-icon iconName="sparkles" iconSize="xxxs" />
  <sky-icon iconName="sparkles" iconSize="xxs" />
  <sky-icon iconName="sparkles" iconSize="xs" />
  <sky-icon iconName="sparkles" iconSize="s" />
  <sky-icon iconName="sparkles" />
  <sky-icon iconName="sparkles" iconSize="l" />
  <sky-icon iconName="sparkles" iconSize="xl" />
  <sky-icon iconName="sparkles" iconSize="xxl" />
  <sky-icon iconName="sparkles" iconSize="xxxl" />
</div>

<p style="line-height: 1">
  text next to a line height 1 button
  <button
    style="line-height: 1; padding: 0px"
    type="button"
    class="sky-btn sky-btn-default sky-margin-inline-sm"
  >
    <sky-icon iconName="clipboard-multiple" />
  </button>
</p>

<p>
  text next to the button
  <button type="button" class="sky-btn sky-btn-primary sky-margin-inline-sm">
    <sky-icon iconName="clipboard-multiple" /> Copy
  </button>
  more text
  <button type="button" class="sky-btn sky-btn-primary sky-margin-inline-sm">
    <sky-icon iconName="edit" /> Copy
  </button>
  more text
  <button type="button" class="sky-btn sky-btn-primary sky-margin-inline-sm">
    <sky-icon iconName="success" /> Copy
  </button>
  ok that is the rest of the text
</p>
<p>
  text next to the button
  <button type="button" class="sky-btn sky-btn-primary sky-margin-inline-sm">
    <sky-icon iconName="clipboard-multiple" /> Copy
  </button>
  more text
  <button type="button" class="sky-btn sky-btn-primary sky-margin-inline-sm">
    <sky-icon iconName="edit" /> Copy
  </button>
  more text
  <button type="button" class="sky-btn sky-btn-primary sky-margin-inline-sm">
    <sky-icon iconName="success" /> Copy
  </button>
  ok that is the rest of the text
</p>

<h2>
  a button with only an icon in an h2
  <button
    type="button"
    class="sky-btn sky-btn-primary sky-margin-inline-sm"
    style="line-height: 10"
  >
    <sky-icon iconName="success" iconSize="xxl" />
  </button>
  then a few more words
</h2>

<p>
  Default size icon next to text inside a paragraph
  <sky-icon iconName="edit" /> some text after
  <sky-icon iconName="success" variant="solid" />
  <sky-icon iconName="success" />
  <sky-icon iconName="info" variant="solid" />
  <sky-icon iconName="info" />
  <sky-icon iconName="warning" variant="solid" />
  <sky-icon iconName="warning" />
  more text
</p>

<p>
  Default size icon next to text inside a paragraph
  <sky-icon iconName="edit" /> some text after
</p>

<p style="font-size: 24px">
  Default size icon next to text inside a paragraph size 24px font
  <sky-icon iconName="edit" /> some text after
</p>

<p>
  3x size icon next to text inside a paragraph
  <sky-icon iconName="edit" iconSize="xxl" /> some text after
</p>

<p style="font-size: 48px">
  16px size icon next to text inside a paragraph size 48px font
  <span style="font-size: 16px"><sky-icon iconName="edit" /></span>
</p>

Icon next to text inline <sky-icon iconName="edit" />

regular text inline lg icon <sky-icon iconName="edit" iconSize="l" />
<br />

regular text inline 3x icon <sky-icon iconName="edit" iconSize="xxl" />
<br />

<div style="font-size: 48px">
  Really big text next to a small icon in a div<span style="font-size: 16px"
    ><sky-icon iconName="edit"
  /></span>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis
  facilisis lacus. Praesent non auctor leo. Pellentesque cursus malesuada
  aliquet. Vestibulum eget tincidunt magna. Ut et aliquam ante. Ut tortor nisl,
  tristique quis dolor id, sollicitudin tincidunt nisl. Integer ut consectetur
  nunc. Donec non ante justo. Quisque ante nisi, interdum ut luctus venenatis,
  mollis sed ligula. <sky-icon iconName="edit" /> Integer eu orci nec magna
  consectetur imperdiet ut id mauris. Nunc fermentum urna sit amet eros accumsan
  fermentum sit amet non sapien. Donec interdum egestas libero, lobortis viverra
  dolor pharetra et. Maecenas pretium ligula sapien. Suspendisse in mi ipsum.
  Phasellus id libero at sapien bibendum consectetur. Aliquam porta tincidunt
  egestas.
</p>
