<div class="sky-padding-even-md" id="input-box-basic">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxBasic.id"> Input </label>
    <input
      #inputBoxBasic="skyId"
      class="sky-form-control"
      skyId
      type="text"
      value="Value"
    />
  </sky-input-box>
</div>
<div class="sky-padding-even-md" id="input-box-textarea">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxTextarea.id">
      Textarea
    </label>
    <textarea #inputBoxTextarea="skyId" class="sky-form-control" skyId>
Value</textarea
    >
  </sky-input-box>
</div>
<div class="sky-padding-even-md" id="input-box-help-inline">
  <sky-input-box stacked="true">
    <sky-help-inline class="sky-control-help" />
    <label class="sky-control-label" [for]="inputBoxInlineHelp.id">
      Input with inline help
    </label>
    <input
      #inputBoxInlineHelp="skyId"
      class="sky-form-control"
      skyId
      type="text"
      value="Value"
    />
  </sky-input-box>
</div>
<div
  class="sky-padding-even-md"
  id="input-box-help-inline-required-with-character-counter"
>
  <sky-input-box stacked="true">
    <sky-help-inline class="sky-control-help" />
    <label
      class="sky-control-label sky-control-label-required"
      [for]="inputBoxInlineHelpRequiredCharacterCounter.id"
    >
      Required input with inline help and character counter
    </label>
    <sky-character-counter-indicator #indicator />
    <input
      #inputBoxInlineHelpRequiredCharacterCounter="skyId"
      class="sky-form-control"
      skyId
      type="text"
      required
      skyCharacterCounter
      value="Value"
      [skyCharacterCounterIndicator]="indicator"
      [skyCharacterCounterLimit]="10"
    />
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-help-inline-overflow">
  <sky-input-box stacked="true">
    <sky-help-inline class="sky-control-help" (actionClick)="onActionClick()" />
    <label class="sky-control-label" [for]="inputBoxInlineHelpOverflow.id">
      Input with inline help and overflowing text. The label should wrap while
      the inline help icon should stick to the top right of the input box.
    </label>
    <input
      #inputBoxInlineHelpOverflow="skyId"
      class="sky-form-control"
      skyId
      type="text"
      value="Value"
    />
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-button-single">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxButtonSingle.id">
      Input with one button
    </label>
    <input
      #inputBoxButtonSingle="skyId"
      class="sky-form-control"
      skyId
      type="text"
    />
    <div class="sky-input-group-btn">
      <button class="sky-btn sky-btn-default" type="button">
        <sky-icon iconName="calendar-ltr" iconSize="l" />
      </button>
    </div>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-button-multiple">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxButtonMultiple.id">
      Input with multiple buttons
    </label>
    <input
      #inputBoxButtonMultiple="skyId"
      class="sky-form-control"
      skyId
      type="text"
    />
    <div class="sky-input-group-btn">
      <button
        class="sky-btn sky-btn-default"
        id="multiple-calendar-button"
        type="button"
      >
        <sky-icon iconName="calendar-ltr" iconSize="l" />
      </button>
    </div>
    <div class="sky-input-group-btn">
      <button class="sky-btn sky-btn-default" type="button">
        <sky-icon iconName="clock" iconSize="l" />
      </button>
    </div>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-side-by-side">
  <sky-fluid-grid>
    <sky-row>
      <sky-column [screenXSmall]="6">
        <sky-input-box stacked="true">
          <label class="sky-control-label" [for]="inputBoxSideBySide1.id">
            Input left
          </label>
          <input
            #inputBoxSideBySide1="skyId"
            class="sky-form-control"
            skyId
            type="text"
          />
        </sky-input-box>
      </sky-column>
      <sky-column [screenXSmall]="6">
        <sky-input-box stacked="true">
          <label class="sky-control-label" [for]="inputBoxSideBySide2.id">
            Input right with a label with a lot of text that should wrap and
            cause the height of the input box to expand to fit the extra text
            instead of truncating it.
          </label>
          <input
            #inputBoxSideBySide2="skyId"
            class="sky-form-control"
            skyId
            type="text"
          />
        </sky-input-box>
      </sky-column>
    </sky-row>
  </sky-fluid-grid>
</div>

<div class="sky-padding-even-md" id="input-box-form-control-error">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxFormControlError.id">
      Form control error
    </label>
    <input
      #inputBoxFormControlError="skyId"
      class="sky-form-control"
      skyId
      type="text"
      [formControl]="errorField"
    />
    <div class="sky-error-label">Field is required.</div>
  </sky-input-box>
</div>

<div
  class="sky-padding-even-md"
  id="input-box-form-control-error-button-single"
>
  <sky-input-box stacked="true">
    <label
      class="sky-control-label"
      [for]="inputBoxFormControlErrorButtonSingle.id"
    >
      Form control error with one button
    </label>
    <input
      #inputBoxFormControlErrorButtonSingle="skyId"
      class="sky-form-control"
      id="field8"
      skyId
      type="text"
      [formControl]="errorField"
    />
    <div class="sky-input-group-btn">
      <button
        class="sky-btn sky-btn-default"
        id="error-calendar-button"
        type="button"
      >
        <sky-icon iconName="calendar-ltr" />
      </button>
    </div>
    <div class="sky-error-label">Field is required.</div>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-disabled">
  <sky-input-box stacked="true" [disabled]="true">
    <label class="sky-control-label" [for]="inputBoxDisabled.id">
      Disabled
    </label>
    <input
      #inputBoxDisabled="skyId"
      class="sky-form-control"
      disabled
      skyId
      type="text"
      value="Disabled value"
    />
  </sky-input-box>
</div>

<div class="sky-padding-even-md">
  <sky-input-box labelText="Disabled (via element)" stacked="true">
    <input disabled type="text" value="Disabled value" />
  </sky-input-box>
</div>

<div class="sky-padding-even-md">
  <sky-input-box labelText="Disabled (via FormControl)" stacked="true">
    <input type="text" [formControl]="disabledField" />
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-button-disabled">
  <sky-input-box stacked="true" [disabled]="true">
    <label class="sky-control-label" [for]="inputBoxButtonDisabled.id">
      Input with one button disabled
    </label>
    <input
      #inputBoxButtonDisabled
      disabled
      class="sky-form-control"
      skyId
      type="text"
    />
    <div class="sky-input-group-btn">
      <button disabled class="sky-btn sky-btn-default" type="button">
        <sky-icon iconName="calendar-ltr" />
      </button>
    </div>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-select">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxSelect.id"> Select </label>
    <select #inputBoxSelect="skyId" class="sky-form-control" skyId>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
    </select>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-select-disabled">
  <sky-input-box stacked="true" [disabled]="true">
    <label class="sky-control-label" [for]="inputBoxSelectDisabled.id">
      Select disabled
    </label>
    <select
      #inputBoxSelectDisabled="skyId"
      disabled
      class="sky-form-control"
      skyId
    >
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
    </select>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-select-overflow">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxSelectOverflow.id">
      Select with very long option
    </label>
    <select #inputBoxSelectOverflow="skyId" class="sky-form-control" skyId>
      <option>
        Input with a select option with overflowing text. The option text should
        use ellipsis when it hits the end of the input box space available.
      </option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
    </select>
  </sky-input-box>
</div>

<!-- For automation to click to set focus -->
<label class="test-label" [for]="inputBoxBasicNoLabel.id"></label>
<div class="sky-padding-even-md" id="input-box-basic-no-label">
  <sky-input-box stacked="true">
    <input
      #inputBoxBasicNoLabel="skyId"
      class="sky-form-control"
      skyId
      type="text"
      value="No label"
    />
  </sky-input-box>
</div>

<!-- For automation to click to set focus -->
<label class="test-label" [for]="inputBoxTextareaNoLabel.id"></label>
<div class="sky-padding-even-md" id="input-box-textarea-no-label">
  <sky-input-box stacked="true">
    <textarea #inputBoxTextareaNoLabel="skyId" class="sky-form-control" skyId>
No label</textarea
    >
  </sky-input-box>
</div>

<!-- For automation to click to set focus -->
<label
  class="test-label"
  id="label-input-box-button-single-no-label"
  [for]="inputBoxButtonSingleNoLabel.id"
>
</label>
<div class="sky-padding-even-md" id="input-box-button-single-no-label">
  <sky-input-box stacked="true">
    <input
      #inputBoxButtonSingleNoLabel="skyId"
      class="sky-form-control"
      skyId
      type="text"
      value="No label with one button"
    />
    <div class="sky-input-group-btn">
      <button class="sky-btn sky-btn-default" type="button">
        <sky-icon iconName="calendar-ltr" iconSize="l" />
      </button>
    </div>
  </sky-input-box>
</div>

<!-- For automation to click to set focus -->
<label
  class="test-label"
  id="label-input-box-select-no-label"
  [for]="inputBoxSelectNoLabel.id"
>
</label>
<div class="sky-padding-even-md" id="input-box-select-no-label">
  <sky-input-box stacked="true">
    <select #inputBoxSelectNoLabel="skyId" class="sky-form-control" skyId>
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
      <option>Option 4</option>
    </select>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-button-single-left">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxButtonLeft.id">
      Input with left button
    </label>
    <div class="sky-input-group-btn sky-input-box-btn-left">
      <button
        class="sky-btn sky-btn-default"
        id="single-left-calendar-button"
        type="button"
      >
        <sky-icon iconName="calendar-ltr" iconSize="l" />
      </button>
    </div>
    <input
      #inputBoxButtonLeft="skyId"
      class="sky-form-control"
      skyId
      type="text"
    />
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-button-inset">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxButtonInset.id">
      Input with inset button
    </label>
    <input
      #inputBoxButtonInset="skyId"
      class="sky-form-control"
      skyId
      type="text"
    />
    <div class="sky-input-group-btn sky-input-box-btn-inset">
      <button
        class="sky-btn sky-btn-default"
        id="inset-search-button"
        type="button"
      >
        <sky-icon iconName="search" iconSize="l" />
      </button>
    </div>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-button-inset-no-label">
  <sky-input-box stacked="true">
    <input class="sky-form-control" skyId type="text" />
    <div class="sky-input-group-btn sky-input-box-btn-inset">
      <button class="sky-btn sky-btn-default" type="button">
        <sky-icon iconName="search" iconSize="l" />
      </button>
    </div>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-button-inset-narrow">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxButtonInsetNarrow.id">
      Input with inset button (narrow)
    </label>
    <input
      #inputBoxButtonInsetNarrow="skyId"
      class="sky-form-control"
      skyId
      type="text"
    />
    <div class="sky-input-group-btn sky-input-box-btn-inset">
      <button class="sky-btn sky-btn-default" type="button">
        <sky-icon iconName="search" iconSize="l" />
      </button>
    </div>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-icon-inset">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxIconInset.id">
      Input with inset icon
    </label>
    <input
      #inputBoxIconInset="skyId"
      class="sky-form-control"
      skyId
      type="text"
    />
    <div class="sky-input-group-icon sky-input-box-icon-inset">
      <sky-icon iconName="search" iconSize="l" />
    </div>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-icon-inset-left">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxIconInsetLeft.id">
      Input with left inset icon
    </label>
    <input
      #inputBoxIconInsetLeft="skyId"
      class="sky-form-control"
      skyId
      type="text"
    />
    <div class="sky-input-group-icon sky-input-box-icon-inset-left">
      <sky-icon iconName="search" iconSize="l" />
    </div>
  </sky-input-box>
</div>

<div class="sky-padding-even-md" id="input-box-icon-inset-disabled">
  <sky-input-box stacked="true" [disabled]="true">
    <label class="sky-control-label" [for]="inputBoxIconInsetDisabled.id">
      Disabled input with inset icon
    </label>
    <input
      #inputBoxIconInsetDisabled="skyId"
      class="sky-form-control"
      disabled
      skyId
      type="text"
    />
    <div class="sky-input-group-icon sky-input-box-icon-inset">
      <sky-icon iconName="search" iconSize="l" />
    </div>
  </sky-input-box>
</div>

<div class="sky-padding-even-md sky-form-group" id="input-box-placeholder">
  <sky-input-box stacked="true">
    <label class="sky-control-label" [for]="inputBoxPlaceholder.id">
      Input W/ Placeholder
    </label>
    <input
      #inputBoxPlaceholder="skyId"
      class="sky-form-control"
      placeholder="Placeholder Text"
      skyId
      type="text"
    />
  </sky-input-box>
</div>

<div class="sky-padding-even-md sky-form-group" id="input-box-hint-text">
  <sky-input-box
    hintText="Some hint text."
    labelText="Easy mode input box"
    helpPopoverContent="content"
    stacked="true"
  >
    <input type="text" [formControl]="errorField" />
  </sky-input-box>
</div>
