<div class="sky-padding-even-large">
  <div class="sky-margin-stacked-xl">
    <label class="sky-control-label">
      1st page selected, 4 total pages, maximum 3 displayed
    </label>
    <sky-paging
      [currentPage]="1"
      [itemCount]="7"
      [maxPages]="3"
      [pageSize]="2"
    />
  </div>
  <div class="sky-margin-stacked-xl">
    <label class="sky-control-label">
      Last page selected, 4 total pages, maximum 3 displayed
    </label>
    <sky-paging
      [currentPage]="4"
      [itemCount]="7"
      [maxPages]="3"
      [pageSize]="2"
    />
  </div>
  <div class="sky-margin-stacked-xl">
    <label class="sky-control-label">
      Middle page in first half selected, 10 total pages, maximum 6 displayed
    </label>
    <sky-paging
      [currentPage]="4"
      [itemCount]="20"
      [maxPages]="6"
      [pageSize]="2"
    />
  </div>
  <div class="sky-margin-stacked-xl">
    <label class="sky-control-label">
      Middle page in second half selected, 10 total pages, maximum 6 displayed
    </label>
    <sky-paging
      [currentPage]="7"
      [itemCount]="20"
      [maxPages]="6"
      [pageSize]="2"
    />
  </div>
</div>
