<div style="width: 10000px">
  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    data-sky-id="popover-demo"
    [skyPopover]="myPopover"
    [skyPopoverAlignment]="popoverAlignment"
    [skyPopoverPlacement]="popoverPlacement"
  >
    A: Open popover on click
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    data-sky-id="popover-demo"
    [skyPopover]="myPopover"
    [skyPopoverAlignment]="popoverAlignment"
    [skyPopoverPlacement]="popoverPlacement"
  >
    B: Open popover on click
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    data-sky-id="popover-demo"
    [skyPopover]="myPopover"
    [skyPopoverAlignment]="popoverAlignment"
    [skyPopoverPlacement]="popoverPlacement"
  >
    C: Open popover on click
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    data-sky-id="popover-demo"
    [skyPopover]="myPopover"
    [skyPopoverAlignment]="popoverAlignment"
    [skyPopoverPlacement]="popoverPlacement"
  >
    D: Open popover on click
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    data-sky-id="popover-demo"
    [skyPopover]="myPopover"
    [skyPopoverAlignment]="popoverAlignment"
    [skyPopoverPlacement]="popoverPlacement"
  >
    E: Open popover on click
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    data-sky-id="popover-demo"
    [skyPopover]="myPopover"
    [skyPopoverAlignment]="popoverAlignment"
    [skyPopoverPlacement]="popoverPlacement"
  >
    F: Open popover on click
  </button>

  <button
    class="sky-btn sky-btn-default sky-margin-inline-sm"
    type="button"
    data-sky-id="popover-demo"
    [skyPopover]="myPopover"
    [skyPopoverAlignment]="popoverAlignment"
    [skyPopoverPlacement]="popoverPlacement"
  >
    G: Open popover on click
  </button>

  <button
    class="sky-btn sky-btn-link"
    type="button"
    skyPopoverTrigger="mouseenter"
    [skyPopover]="myPopover"
  >
    H: Open popover on hover
  </button>

  <sky-popover #myPopover [popoverTitle]="popoverTitle">
    {{ popoverBody }}
  </sky-popover>
</div>
