<div class="sky-padding-even-large">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <sky-checkbox-group
      headingText="Text formatting"
      [formGroup]="formGroup"
      [headingHidden]="true"
      [stacked]="true"
    >
      <sky-checkbox
        formControlName="bold"
        icon="bold"
        labelHidden="true"
        labelText="Bold"
      />
      <sky-checkbox
        formControlName="italic"
        icon="italic"
        labelHidden="true"
        labelText="Italic"
      />
      <sky-checkbox
        formControlName="underline"
        icon="underline"
        labelHidden="true"
        labelText="Underline"
      />
    </sky-checkbox-group>
    <button class="sky-btn sky-btn-primary" type="submit">Submit</button>
  </form>
</div>
