<div class="sky-buttons-demo">
  <h2>Default appearance</h2>

  <div
    class="sky-buttons-demo-screenshot-wrapper"
    id="screenshot-buttons-default-state"
  >
    <button
      class="sky-btn sky-btn-default sky-margin-inline-compact"
      type="button"
    >
      Default
    </button>

    <button
      class="sky-btn sky-btn-primary sky-margin-inline-compact"
      type="button"
    >
      Primary
    </button>

    <button
      class="sky-btn sky-btn-danger sky-margin-inline-compact"
      type="button"
    >
      Danger
    </button>

    <button
      class="sky-btn sky-btn-link sky-margin-inline-compact"
      type="button"
    >
      Link button
    </button>

    <button
      class="sky-btn sky-btn-borderless sky-margin-inline-compact"
      type="button"
    >
      Borderless button
    </button>

    <a class="sky-btn sky-btn-primary sky-margin-inline-compact">
      Anchor primary with button class
    </a>

    <a class="sky-btn sky-btn-default sky-margin-inline-compact">
      Anchor default with button class
    </a>

    <a class="sky-btn sky-btn-danger sky-margin-inline-compact">
      Anchor danger with button class
    </a>

    <button
      class="sky-btn sky-btn-default sky-btn-icon sky-margin-inline-compact"
      type="button"
    >
      <sky-icon iconName="chevron-double-down" />
    </button>

    <button
      class="sky-btn sky-btn-icon-borderless sky-margin-inline-compact"
      type="button"
    >
      <sky-icon iconName="chevron-double-up" />
    </button>

    <button class="sky-btn sky-btn-default sky-btn-sm" type="button">31</button>

    <div class="sky-buttons-demo-screenshot-inline">
      Here's an
      <button class="sky-btn sky-btn-link-inline" type="button">
        inline link button
      </button>
      with some other text, here's an
      <a href="" onclick="return false;">anchor tag</a>
      with some other text, and here's a
      <button class="sky-btn sky-btn-borderless-inline" type="button">
        borderless inline button
      </button>
      with some other text.
    </div>

    <div class="sky-buttons-demo-screenshot-wrapper">
      <div class="sky-input-group">
        <input class="sky-form-control" type="text" />
        <div class="sky-input-group-btn">
          <button
            aria-haspopup="dialog"
            class="sky-btn sky-btn-default"
            type="button"
          >
            <i class="fa fa-clock-o"></i>
          </button>
        </div>
        <div class="sky-input-group-btn">
          <button
            aria-haspopup="dialog"
            class="sky-btn sky-btn-default"
            type="button"
          >
            <i class="fa fa-calendar-o"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="sky-buttons-demo-screenshot-wrapper buttons-demo-block">
    Text
    <button
      class="sky-btn sky-btn-default sky-btn-block sky-margin-stacked-sm"
      type="button"
    >
      Block button
    </button>
    <button
      class="sky-btn sky-btn-default sky-btn-block sky-margin-stacked-sm"
      type="button"
    >
      <sky-icon iconName="add" /> Block button with icon
    </button>
    <button
      class="sky-btn sky-btn-default sky-btn-block sky-margin-stacked-sm"
      type="button"
    >
      <sky-icon class="sky-btn-block-logo" iconName="google-branded" />Block
      button with logo
    </button>
    <button
      class="sky-btn sky-btn-default sky-btn-block sky-margin-stacked-sm"
      type="button"
    >
      <sky-icon class="sky-btn-block-logo" iconName="slack" /> Block button with
      logo and lots and lots and lots and lots and lots and lots and lots and
      lots and lots and lots and lots of text
    </button>
    Text
  </div>

  <h2>Disabled states</h2>

  <div
    class="sky-buttons-demo-screenshot-wrapper"
    id="screenshot-buttons-disabled-state"
  >
    <button
      class="sky-btn sky-btn-default sky-btn-disabled sky-margin-inline-compact"
      type="button"
    >
      Default disabled (w/ class)
    </button>

    <button
      class="sky-btn sky-btn-default sky-margin-inline-compact"
      type="button"
      disabled
    >
      Default disabled (w/ attribute)
    </button>

    <button
      class="sky-btn sky-btn-primary sky-btn-disabled sky-margin-inline-compact"
      type="button"
    >
      Primary disabled (w/ class)
    </button>

    <button
      class="sky-btn sky-btn-primary sky-margin-inline-compact"
      type="button"
      disabled
    >
      Primary disabled (w/ attribute)
    </button>

    <button
      class="sky-btn sky-btn-danger sky-btn-disabled sky-margin-inline-compact"
      type="button"
    >
      Danger disabled (w/ class)
    </button>

    <button
      class="sky-btn sky-btn-danger sky-margin-inline-compact"
      type="button"
      disabled
    >
      Danger disabled (w/ attribute)
    </button>

    <button
      class="sky-btn sky-btn-link sky-btn-disabled sky-margin-inline-compact"
      type="button"
    >
      Link button disabled (w/ class)
    </button>

    <button
      class="sky-btn sky-btn-link sky-margin-inline-compact"
      type="button"
      disabled
    >
      Link button disabled (w/ attribute)
    </button>

    <button
      class="sky-btn sky-btn-borderless sky-btn-disabled sky-margin-inline-compact"
      type="button"
    >
      Borderless button disabled (w/ class)
    </button>

    <button
      class="sky-btn sky-btn-borderless sky-margin-inline-compact"
      type="button"
      disabled
    >
      Borderless button disabled (w/ attribute)
    </button>

    <a
      class="sky-btn sky-btn-primary sky-btn-disabled sky-margin-inline-compact"
    >
      Anchor button disabled (w/ class)
    </a>

    <a class="sky-btn sky-btn-primary" disabled>
      Anchor button disabled (w/ attribute)
    </a>

    <button
      class="sky-btn sky-btn-default sky-btn-icon sky-btn-disabled sky-margin-inline-compact"
      type="button"
    >
      <i class="fa fa-angle-double-down"></i>
    </button>

    <button
      class="sky-btn sky-btn-icon-borderless sky-btn-disabled sky-margin-inline-compact"
      type="button"
    >
      <i class="fa fa-angle-double-up"></i>
    </button>

    <button
      class="sky-btn sky-btn-default sky-btn-icon sky-margin-inline-compact"
      type="button"
      disabled
    >
      <i class="fa fa-angle-double-down"></i>
    </button>

    <button class="sky-btn sky-btn-default sky-btn-sm" type="button" disabled>
      31
    </button>

    <div class="sky-buttons-demo-screenshot-inline">
      Inline test
      <button
        class="sky-btn sky-btn-link-inline sky-btn-disabled"
        type="button"
      >
        Inline link button disabled (w/ class)
      </button>
      -
      <button class="sky-btn sky-btn-link-inline" type="button" disabled>
        Inline link button disabled (w/ attribute)
      </button>
      -
      <button
        class="sky-btn sky-btn-borderless-inline sky-btn-disabled"
        type="button"
      >
        Borderless inline button disabled (w/ class)
      </button>
      -
      <button class="sky-btn sky-btn-borderless-inline" type="button" disabled>
        Borderless inline button disabled (w/ attribute)
      </button>
      inline test.
    </div>

    <div class="sky-buttons-demo-screenshot-wrapper">
      <div class="sky-input-group">
        <input class="sky-form-control" type="text" />
        <div class="sky-input-group-btn">
          <button
            aria-haspopup="dialog"
            class="sky-btn sky-btn-default sky-btn-disabled"
            type="button"
          >
            <i class="fa fa-clock-o"></i>
          </button>
        </div>
        <div class="sky-input-group-btn">
          <button
            aria-haspopup="dialog"
            class="sky-btn sky-btn-default"
            type="button"
            disabled
          >
            <i class="fa fa-calendar-o"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="sky-buttons-demo-screenshot-wrapper buttons-demo-block">
      Text
      <button
        class="sky-btn sky-btn-default sky-btn-block sky-margin-stacked-sm"
        disabled
        type="button"
      >
        Block button
      </button>
      <button
        class="sky-btn sky-btn-default sky-btn-block sky-margin-stacked-sm"
        disabled
        type="button"
      >
        <sky-icon iconName="add" /> Block button with icon
      </button>
      <button
        class="sky-btn sky-btn-default sky-btn-block sky-margin-stacked-sm"
        disabled
        type="button"
      >
        <sky-icon class="sky-btn-block-logo" iconName="google-branded" />Block
        button with logo
      </button>
      <button
        class="sky-btn sky-btn-default sky-btn-block sky-margin-stacked-sm"
        disabled
        type="button"
      >
        <sky-icon class="sky-btn-block-logo" iconName="slack" /> Block button
        with logo and lots and lots and lots and lots and lots and lots and lots
        and lots and lots and lots and lots of text
      </button>
      Text
    </div>
  </div>
</div>
