<div class="sky-margin-stacked-lg">
  <h2>Grid with <code>"stopEditingWhenCellsLoseFocus: false"</code></h2>

  <sky-ag-grid-wrapper>
    <ag-grid-angular
      class="sky-ag-grid-editable"
      [gridOptions]="gridOptionsV1"
    />
  </sky-ag-grid-wrapper>
</div>

<div class="sky-margin-stacked-lg">
  <h2>Grid with <code>"stopEditingWhenCellsLoseFocus: true"</code></h2>

  <sky-ag-grid-wrapper>
    <ag-grid-angular
      class="sky-ag-grid-editable"
      [gridOptions]="gridOptionsV2"
    />
  </sky-ag-grid-wrapper>
</div>
