<div class="sky-key-info">
  <sky-key-info layout="vertical">
    <sky-key-info-label> Label </sky-key-info-label>
    <sky-key-info-value> Value </sky-key-info-value>
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" (actionClick)="onHelpClick()" />
    }
  </sky-key-info>
  <sky-key-info layout="horizontal">
    <sky-key-info-label> Label </sky-key-info-label>
    <sky-key-info-value> Value </sky-key-info-value>
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" (actionClick)="onHelpClick()" />
    }
  </sky-key-info>

  <sky-key-info layout="vertical">
    <sky-key-info-label> Given this year </sky-key-info-label>
    <sky-key-info-value class="sky-font-display-1"> $1,000 </sky-key-info-value>
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" (actionClick)="onHelpClick()" />
    }
  </sky-key-info>
  <sky-key-info layout="horizontal">
    <sky-key-info-label> Given this year </sky-key-info-label>
    <sky-key-info-value class="sky-font-display-1"> $1,000 </sky-key-info-value>
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" (actionClick)="onHelpClick()" />
    }
  </sky-key-info>

  <sky-key-info layout="vertical">
    <sky-key-info-label> Given this year </sky-key-info-label>
    <sky-key-info-value class="sky-font-display-2"> $1,000 </sky-key-info-value>
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" (actionClick)="onHelpClick()" />
    }
  </sky-key-info>
  <sky-key-info layout="horizontal">
    <sky-key-info-label> Given this year </sky-key-info-label>
    <sky-key-info-value class="sky-font-display-2"> $1,000 </sky-key-info-value>
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" (actionClick)="onHelpClick()" />
    }
  </sky-key-info>

  <sky-key-info layout="vertical">
    <sky-key-info-label> Given this year </sky-key-info-label>
    <sky-key-info-value class="sky-font-display-3"> $1,000 </sky-key-info-value>
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" (actionClick)="onHelpClick()" />
    }
  </sky-key-info>
  <sky-key-info layout="horizontal">
    <sky-key-info-label> Given this year </sky-key-info-label>
    <sky-key-info-value class="sky-font-display-3"> $1,000 </sky-key-info-value>
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" (actionClick)="onHelpClick()" />
    }
  </sky-key-info>

  <sky-key-info layout="vertical">
    <sky-key-info-label> Given this year </sky-key-info-label>
    <sky-key-info-value class="sky-font-display-4"> $1,000 </sky-key-info-value>
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" (actionClick)="onHelpClick()" />
    }
  </sky-key-info>
  <sky-key-info layout="horizontal">
    <sky-key-info-label> Given this year </sky-key-info-label>
    <sky-key-info-value class="sky-font-display-4"> $1,000 </sky-key-info-value>
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" (actionClick)="onHelpClick()" />
    }
  </sky-key-info>
</div>
<div style="margin-top: 4em">
  <label>
    <input type="checkbox" [(ngModel)]="showHelp" />
    Show inline help
  </label>
</div>
