<form class="sky-margin-stacked-xxl" novalidate [formGroup]="formGroup">
  <div class="sky-margin-stacked-lg">
    <label class="sky-control-label" [for]="colorInput.id">
      What is your favorite color?
    </label>
    <sky-colorpicker
      [messageStream]="colorpickerController"
      [showResetButton]="showResetButton"
      #colorPicker
    >
      <input
        formControlName="favoriteColor"
        skyId
        type="text"
        [skyColorpickerInput]="colorPicker"
        #colorInput="skyId"
      />
    </sky-colorpicker>
  </div>
</form>

<button
  class="sky-btn sky-btn-default sky-margin-inline-sm"
  type="button"
  (click)="openColorpicker()"
>
  Open colorpicker
</button>

<button
  class="sky-btn sky-btn-default sky-margin-inline-sm"
  type="button"
  (click)="resetColorpicker()"
>
  Reset colorpicker
</button>

<button
  class="sky-btn sky-btn-default sky-margin-inline-sm"
  type="button"
  (click)="toggleResetButton()"
>
  Toggle reset button
</button>
