<form class="sky-margin-stacked-xxl" novalidate [formGroup]="formGroup">
  <div class="sky-margin-stacked-lg">
    <sky-colorpicker
      labelText="What is your favorite color?"
      [messageStream]="colorpickerController"
      [showResetButton]="showResetButton"
      #colorPicker
    >
      <input
        formControlName="favoriteColor"
        type="text"
        [skyColorpickerInput]="colorPicker"
      />
    </sky-colorpicker>
  </div>
</form>

<button
  class="sky-btn sky-btn-default sky-margin-inline-sm"
  type="button"
  (click)="openColorpicker()"
>
  Open colorpicker
</button>

<button
  class="sky-btn sky-btn-default sky-margin-inline-sm"
  type="button"
  (click)="resetColorpicker()"
>
  Reset colorpicker
</button>

<button
  class="sky-btn sky-btn-default sky-margin-inline-sm"
  type="button"
  (click)="toggleResetButton()"
>
  Toggle reset button
</button>
