<sky-modal [headingText]="'Title'">
  <sky-modal-content>
    <sky-fluid-grid>
      <sky-row>
        <sky-column [screenXSmall]="6"> some other content </sky-column>
        <sky-column [screenXSmall]="6">
          <div class="tabs-wrapper">
            <sky-vertical-tabset>
              <sky-vertical-tab tabHeading="tab 1">
                Tab 1 content
              </sky-vertical-tab>
              <sky-vertical-tab active="true" tabHeading="tab 2">
                Tab 2 content
              </sky-vertical-tab>
              <sky-vertical-tab tabHeading="tab 3">
                Tab 3 content
              </sky-vertical-tab>
            </sky-vertical-tabset>
          </div>
        </sky-column>
      </sky-row>
    </sky-fluid-grid>
  </sky-modal-content>
  <sky-modal-footer> Footer </sky-modal-footer>
</sky-modal>
