<sky-modal>
  <sky-modal-header> Title </sky-modal-header>
  <sky-modal-content>
    <sky-vertical-tabset [maintainTabContent]="maintainTabContent">
      <sky-vertical-tab tabHeading="tab 1"> Tab 1 content </sky-vertical-tab>
      <sky-vertical-tab active="true" tabHeading="tab 2">
        Tab 2 content
      </sky-vertical-tab>
      <sky-vertical-tab tabHeading="tab 3"> Tab 3 content </sky-vertical-tab>
    </sky-vertical-tabset>
  </sky-modal-content>
  <sky-modal-footer> Footer </sky-modal-footer>
</sky-modal>
