<div class="sky-padding-even-large">
  <sky-status-indicator descriptionType="error" indicatorType="danger">
    Error indicator
    <sky-help-inline class="sky-control-help"></sky-help-inline>
  </sky-status-indicator>
  <sky-status-indicator descriptionType="attention" indicatorType="info">
    Info indicator
    <sky-help-inline class="sky-control-help"></sky-help-inline>
  </sky-status-indicator>
  <sky-status-indicator descriptionType="success" indicatorType="success">
    Success indicator
  </sky-status-indicator>
  <sky-status-indicator descriptionType="warning" indicatorType="warning">
    Warning indicator
  </sky-status-indicator>
</div>
