<div class="sky-padding-even-large">
  <sky-status-indicator
    descriptionType="error"
    indicatorType="danger"
    helpPopoverContent="Example of help."
  >
    Error indicator
  </sky-status-indicator>
  <sky-status-indicator
    descriptionType="attention"
    indicatorType="info"
    helpPopoverContent="Example of help."
  >
    Info indicator
  </sky-status-indicator>
  <sky-status-indicator descriptionType="success" indicatorType="success">
    Success indicator
  </sky-status-indicator>
  <sky-status-indicator descriptionType="warning" indicatorType="warning">
    Warning indicator
  </sky-status-indicator>
</div>
