<div>
  <sky-tabset
    permalinkId="sample"
    (newTab)="onNewTabClick()"
    (openTab)="onOpenTabClick()"
    [active]="active"
  >
    <ng-template ngFor let-tab [ngForOf]="tabs" let i="index">
      <sky-tab
        *ngIf="!tab.isPermanent"
        [disabled]="tab.disabled"
        [tabHeading]="tab.tabHeading"
        (close)="onCloseTab(i)"
      >
        {{ tab.tabContent }}
      </sky-tab>
      <sky-tab
        *ngIf="tab.isPermanent"
        [disabled]="tab.disabled"
        [tabHeading]="tab.tabHeading"
      >
        {{ tab.tabContent }}
      </sky-tab>
    </ng-template>
  </sky-tabset>
</div>
