:host {
  /* Maximum contrast for visual tests */
  background-color: white;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
  gap: var(--sky-padding-even-md);
  padding: var(--sky-padding-even-md);
}

.icon-container {
  min-height: 60px;
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;

  > .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
