<sky-modal>
  <sky-modal-header>Modal header</sky-modal-header>
  <sky-modal-content>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac tempor
    erat. Duis facilisis, massa vestibulum consequat semper, urna lacus
    sollicitudin neque, eget pulvinar mauris nulla ac sem. Maecenas at aliquam
    nisl. Suspendisse elementum mollis est, eu tincidunt dolor pulvinar ut.
    Proin nec viverra eros. Nam consectetur lectus ut pulvinar mattis. Mauris
    vitae porta mauris. Integer bibendum at lorem non blandit. Integer ac leo
    elit. Nullam accumsan tortor vitae malesuada tristique. Integer non viverra
    urna, sed mattis dui. Suspendisse aliquet enim scelerisque justo auctor
    tempor. Sed at risus rutrum, efficitur sem eu, efficitur ex. Curabitur
    commodo, elit et varius imperdiet, lorem risus dignissim lorem, euismod
    pulvinar leo est sit amet eros.
  </sky-modal-content>
  <sky-modal-footer>
    <sky-summary-action-bar
      id="summary-action-bar"
      [formErrors]="context?.errors"
    >
      <sky-summary-action-bar-actions>
        <sky-summary-action-bar-primary-action>
          Primary
        </sky-summary-action-bar-primary-action>
        <sky-summary-action-bar-secondary-actions>
          <sky-summary-action-bar-secondary-action>
            Secondary 1
          </sky-summary-action-bar-secondary-action>
          <sky-summary-action-bar-secondary-action>
            Secondary 2
          </sky-summary-action-bar-secondary-action>
        </sky-summary-action-bar-secondary-actions>
        <sky-summary-action-bar-cancel> Cancel </sky-summary-action-bar-cancel>
      </sky-summary-action-bar-actions>
      <sky-summary-action-bar-summary>
        <sky-key-info class="sky-margin-inline-lg">
          <sky-key-info-value>$250</sky-key-info-value>
          <sky-key-info-label>Given this month</sky-key-info-label>
        </sky-key-info>
        <sky-key-info class="sky-margin-inline-lg">
          <sky-key-info-value>$1,000</sky-key-info-value>
          <sky-key-info-label>Given this year</sky-key-info-label>
        </sky-key-info>
        <sky-key-info>
          <sky-key-info-value>$1,300</sky-key-info-value>
          <sky-key-info-label>Given all time</sky-key-info-label>
        </sky-key-info>
      </sky-summary-action-bar-summary>
    </sky-summary-action-bar>
  </sky-modal-footer>
</sky-modal>
