<sky-page layout="list">
  <sky-page-header pageTitle="Filter bar" />
  <sky-page-content>
    <sky-filter-bar showFilterSelector [(filters)]="filters">
      <sky-filter-bar-item
        filterId="1"
        labelText="filter 1"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-bar-item
        filterId="2"
        labelText="filter 2"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-bar-item
        filterId="3"
        labelText="filter 3"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-bar-item
        filterId="4"
        labelText="filter 4"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-bar-item
        filterId="5"
        labelText="filter 5"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-bar-item
        filterId="6"
        labelText="filter 6"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-bar-item
        filterId="7"
        labelText="filter 7"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-bar-item
        filterId="8"
        labelText="filter 8"
        [filterModalConfig]="filterModalConfig"
      />
    </sky-filter-bar>
    <div>Filters:</div>
    <div>{{ filters }}</div>

    <button
      type="button"
      class="sky-btn sky-btn-default"
      (click)="resetFilters()"
    >
      Reset filters
    </button>
  </sky-page-content>
</sky-page>
