<sky-page layout="list">
  <sky-page-header pageTitle="Filter bar" />
  <sky-page-content>
    <sky-filter-bar
      [(appliedFilters)]="appliedFilters"
      [(selectedFilterIds)]="selectedFilterIds"
    >
      <sky-filter-item-modal
        filterId="1"
        [labelText]="labelText"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-item-modal
        filterId="2"
        labelText="filter 2"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-item-modal
        filterId="3"
        labelText="filter 3"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-item-modal
        filterId="4"
        labelText="filter 4"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-item-modal
        filterId="5"
        labelText="filter 5"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-item-modal
        filterId="6"
        labelText="filter 6"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-item-modal
        filterId="7"
        labelText="filter 7"
        [filterModalConfig]="filterModalConfig"
      />
      <sky-filter-item-modal
        filterId="8"
        labelText="filter 8"
        [filterModalConfig]="filterModalConfig"
      />
    </sky-filter-bar>
    <div>Selected filters:</div>
    <div>{{ selectedFilterIds }}</div>
    <div>Filters:</div>
    <div>{{ appliedFilters }}</div>
    <div class="button-row">
      <button
        type="button"
        class="sky-btn sky-btn-default"
        (click)="resetFilters()"
      >
        Reset filters
      </button>
      <button
        type="button"
        class="sky-btn sky-btn-default"
        (click)="toggleSelectedFilters()"
      >
        Toggle filter picker
      </button>
      <button
        type="button"
        class="sky-btn sky-btn-default"
        (click)="toggleLabelText()"
      >
        Toggle filter label
      </button>
    </div>
  </sky-page-content>
</sky-page>
