<sky-modal
  [formErrors]="errors"
  [headingText]="context?.headingText"
  [headingHidden]="context?.headingHidden"
  [helpPopoverContent]="context?.helpPopoverContent"
>
  <sky-modal-header>
    {{ title }}
    @if (showHelp) {
      <sky-help-inline class="sky-control-help" />
    }
  </sky-modal-header>
  @if (context?.bannerImageSrc || context?.bannerContent) {
    <sky-modal-banner [imageSrc]="context.bannerImageSrc">{{
      context.bannerContent
    }}</sky-modal-banner>
  }
  <sky-modal-content>{{ context?.modalContent }}</sky-modal-content>
  <sky-modal-footer>
    <button
      class="sky-btn sky-btn-link sky-btn-close"
      type="button"
      (click)="closeModal()"
    >
      Close
    </button>
  </sky-modal-footer>
</sky-modal>
