<sky-modal
  [formErrors]="errors"
  [headingText]="context?.headingText ?? title"
  [headingHidden]="context?.headingHidden"
  [helpPopoverContent]="context?.helpPopoverContent"
>
  @if (context?.bannerImageSrc || context?.bannerContent) {
    <sky-modal-banner [imageSrc]="context!.bannerImageSrc ?? ''">{{
      context!.bannerContent
    }}</sky-modal-banner>
  }
  <sky-modal-content>{{ context?.modalContent }}</sky-modal-content>
  <sky-modal-footer>
    @if (context?.useSkyButton) {
      <sky-button
        buttonStyle="primary"
        labelText="Save"
        (buttonClick)="closeModal()"
      />
      <sky-button
        buttonStyle="link"
        data-sky-id="close-button"
        labelText="Close"
        (buttonClick)="closeModal()"
      />
    } @else {
      <button
        class="sky-btn sky-btn-link"
        data-sky-id="close-button"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    }
  </sky-modal-footer>
</sky-modal>
