<sky-modal>
  <sky-modal-header>
    {{ title }}
  </sky-modal-header>
  <sky-modal-content>
    <form [formGroup]="myForm">
      <sky-tabset
        ariaLabel="Tab demonstration"
        [active]="0"
        tabStyle="wizard"
        #wizardDemo
      >
        <sky-tab [tabHeading]="'1. Get started'">
          <sky-input-box>
            <label class="sky-control-label" for="input1"
              >Enter text here to enable step 2.</label
            >
            <input
              type="text"
              class="sky-form-control"
              formControlName="requiredValue1"
              id="input1"
            />
          </sky-input-box>
        </sky-tab>
        <sky-tab
          [tabHeading]="'2. Add details'"
          [disabled]="!requirementsMet(0)"
        >
          <sky-checkbox formControlName="requiredValue2">
            <sky-checkbox-label>
              Check this box to enable step 3.
            </sky-checkbox-label>
          </sky-checkbox>
        </sky-tab>
        <sky-tab
          [tabHeading]="'3. Finishing touches'"
          [disabled]="!requirementsMet(1)"
        >
          <sky-input-box>
            <label class="sky-control-label" for="input3"
              >Enter text here to save.</label
            >
            <input
              type="text"
              class="sky-form-control"
              formControlName="requiredValue3"
              id="input3"
            />
          </sky-input-box>
        </sky-tab>
      </sky-tabset>
    </form>
  </sky-modal-content>
  <sky-modal-footer>
    <sky-tabset-nav-button
      buttonType="previous"
      [tabset]="wizardDemo"
    ></sky-tabset-nav-button>
    <sky-tabset-nav-button
      buttonType="next"
      [tabset]="wizardDemo"
    ></sky-tabset-nav-button>
    <button
      class="sky-btn sky-btn-primary sky-margin-inline-sm"
      type="primary"
      [disabled]="!requirementsMet(2)"
      (click)="onSaveClick()"
    >
      Save
    </button>
    <button
      class="sky-btn sky-btn-link"
      type="button"
      (click)="onCancelClick()"
    >
      Cancel
    </button>
  </sky-modal-footer>
</sky-modal>
