<form [formGroup]="myForm" (ngSubmit)="onSave()">
  <sky-modal [headingText]="title">
    <sky-modal-content>
      <sky-tabset
        #wizardDemo
        ariaLabel="Tab demonstration"
        tabStyle="wizard"
        [(active)]="activeIndex"
      >
        <sky-tab tabHeading="1. This step has a really long title">
          <sky-input-box>
            <label class="sky-control-label" [for]="input1.id"
              >Enter text here to enable step 2.</label
            >
            <input
              #input1="skyId"
              type="text"
              class="sky-form-control"
              formControlName="requiredValue1"
              skyId
            />
          </sky-input-box>
        </sky-tab>
        <sky-tab
          tabHeading="2. This step has an even longer title than step 1"
          [disabled]="step2Disabled"
        >
          <sky-checkbox formControlName="requiredValue2">
            <sky-checkbox-label>
              Check this box to enable step 3.
            </sky-checkbox-label>
          </sky-checkbox>
        </sky-tab>
        <sky-tab
          tabHeading="3. This last step has the longest title of all three steps"
          [disabled]="step3Disabled"
        >
          <sky-input-box>
            <label class="sky-control-label" [for]="input3.id"
              >Enter text here to save.</label
            >
            <input
              #input3="skyId"
              type="text"
              class="sky-form-control"
              formControlName="requiredValue3"
              skyId
            />
          </sky-input-box>
        </sky-tab>
      </sky-tabset>
    </sky-modal-content>
    <sky-modal-footer>
      <sky-tabset-nav-button buttonType="previous" [tabset]="wizardDemo" />
      <sky-tabset-nav-button buttonType="next" [tabset]="wizardDemo" />
      <sky-tabset-nav-button
        buttonType="finish"
        [tabset]="wizardDemo"
        [disabled]="saveDisabled"
      />
      <button
        class="sky-btn sky-btn-link"
        type="button"
        (click)="onCancelClick()"
      >
        Cancel
      </button>
    </sky-modal-footer>
  </sky-modal>
</form>
