<h2>Visual tests</h2>

<h3>Pickers</h3>
<ul>
  <li>
    <a routerLink="/visual/datepicker">Datepicker</a>
  </li>
  <li>
    <a routerLink="/visual/date-range-picker">Date range picker</a>
  </li>
  <li>
    <a routerLink="/visual/fuzzy-datepicker">Fuzzy datepicker</a>
  </li>
  <li>
    <a routerLink="/visual/timepicker">Timepicker</a>
  </li>
</ul>

<h3>Pipes</h3>

<ul>
  <li>
    <a routerLink="/visual/date-pipe">Date pipe</a>
  </li>
  <li>
    <a routerLink="/visual/fuzzy-date-pipe">Fuzzy date pipe</a>
  </li>
</ul>
