<sky-modal>
  <sky-modal-header> Filter your fruit </sky-modal-header>
  <sky-modal-content>
    <sky-input-box class="sky-margin-stacked-lg">
      <label class="sky-control-label" [for]="fruitSelect.id">Fruit type</label>
      <select
        class="sky-form-control"
        skyId="fruitSelect"
        [(ngModel)]="fruitType"
        #fruitSelect
      >
        <option value="any">Any fruit</option>
        <option value="citrus">Citrus</option>
        <option value="berry">Berry</option>
      </select>
    </sky-input-box>
    <sky-checkbox [(ngModel)]="hideOrange">
      <sky-checkbox-label> Hide orange fruits </sky-checkbox-label>
    </sky-checkbox>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      type="button"
      class="sky-btn sky-btn-primary sky-margin-inline-sm"
      (click)="applyFilters()"
    >
      Apply filters
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-default sky-margin-inline-sm"
      (click)="clearAllFilters()"
    >
      Clear all filters
    </button>
    <button type="button" class="sky-btn sky-btn-link" (click)="cancel()">
      Cancel
    </button>
  </sky-modal-footer>
</sky-modal>
