<form [formGroup]="formGroup" class="sky-padding-even-lg">
  <sky-file-attachment
    acceptedTypes="application/pdf,image/jpeg,image/png,image/gif"
    formControlName="attachment"
    helpPopoverTitle="Requirements"
    hintText="Attach a .pdf, .gif, .png, or .jpeg file."
    labelText="Birth certificate"
    [helpPopoverContent]="inlineHelpPopover"
    [maxFileSize]="maxFileSize"
    [validateFn]="validateFile"
    (fileChange)="onFileChange($event)"
    (fileClick)="onFileClick($event)"
  >
    @if (customValidationError === 'invalidStartingLetter') {
      <sky-form-error
        errorName="invalidStartingLetter"
        errorText="You may not upload a file that begins with the letter 'a'."
      />
    }
  </sky-file-attachment>
</form>

<ng-template #inlineHelpPopover>
  Make sure the birth certificate includes:
  <ul>
    <li>Full name of child</li>
    <li>Birth date</li>
    <li>Place of birth</li>
    <li>Name and signature of the physician or midwife</li>
    <li>Registration or certificate number</li>
  </ul>
</ng-template>
