<sky-repeater>
  <sky-repeater-item *ngFor="let item of items">
    <sky-repeater-item-title class="demo-repeater-flex">
      <div class="demo-repeater-item-title sky-font-emphasized">
        {{ item.title }}
      </div>
      <div>
        {{ item.status }}
      </div>
    </sky-repeater-item-title>
    <sky-repeater-item-context-menu>
      <sky-dropdown buttonType="context-menu">
        <sky-dropdown-menu>
          <sky-dropdown-item>
            <button type="button" (click)="onItemClicked('Action 1')">
              Action 1
            </button>
          </sky-dropdown-item>
          <sky-dropdown-item>
            <button type="button" (click)="onItemClicked('Action 2')">
              Action 2
            </button>
          </sky-dropdown-item>
        </sky-dropdown-menu>
      </sky-dropdown>
    </sky-repeater-item-context-menu>
    <sky-repeater-item-content>
      {{ item.note }}
    </sky-repeater-item-content>
  </sky-repeater-item>
</sky-repeater>
