<h1>Charts Playground</h1>

<sky-fluid-grid>
  <!-- Linear -->
  <sky-row>
    <!-- Single series -->
    <sky-column
      [screenXSmall]="12"
      [screenSmall]="12"
      [screenMedium]="4"
      [screenLarge]="4"
    >
      <sky-box headingText="Single series" class="sky-margin-stacked-xl">
        <sky-box-content>
          <sky-line-chart          
            [headingText]="'Month-by-month revenue'"
            [headingHidden]="false"
            [headingLevel]="3"
            [headingStyle]="3"
            [subtitleText]="'Revenue over time'"
            [subtitleHidden]="false"
            [config]="singleSeries"
            (dataPointClicked)="onDataPointClicked($event)"
          />
        </sky-box-content>
      </sky-box>
    </sky-column>

    <!-- Multi series -->
    <sky-column
      [screenXSmall]="12"
      [screenSmall]="12"
      [screenMedium]="4"
      [screenLarge]="4"
    >
      <sky-box headingText="Multi series" class="sky-margin-stacked-xl">
        <sky-box-content>
          <sky-line-chart
            headingText="Month-by-month revenue"
            [config]="multiSeries"
            (dataPointClicked)="onDataPointClicked($event)"
          />
        </sky-box-content>
      </sky-box>
    </sky-column>

    <!-- Stacked -->
    <sky-column
      [screenXSmall]="12"
      [screenSmall]="12"
      [screenMedium]="4"
      [screenLarge]="4"
    >
      <sky-box headingText="Stacked" class="sky-margin-stacked-xl">
        <sky-box-content>
          <sky-line-chart
            headingText="Month-by-month revenue"
            [config]="stacked"
            (dataPointClicked)="onDataPointClicked($event)"
          />
        </sky-box-content>
      </sky-box>
    </sky-column>
  </sky-row>

  <!-- Logarithmic -->
  <sky-row>
    <!-- Single series Log -->
    <sky-column
      [screenXSmall]="12"
      [screenSmall]="12"
      [screenMedium]="4"
      [screenLarge]="4"
    >
      <sky-box
        headingText="Single series Logarithmic"
        class="sky-margin-stacked-xl"
      >
        <sky-box-content>
          <sky-line-chart
            headingText="Month-by-month revenue"
            [config]="singleSeriesLog"
            (dataPointClicked)="onDataPointClicked($event)"
          />
        </sky-box-content>
      </sky-box>
    </sky-column>

    <!-- Multi series Log -->
    <sky-column
      [screenXSmall]="12"
      [screenSmall]="12"
      [screenMedium]="4"
      [screenLarge]="4"
    >
      <sky-box
        headingText="Multi series Logarithmic"
        class="sky-margin-stacked-xl"
      >
        <sky-box-content>
          <sky-line-chart
            headingText="Month-by-month revenue"
            [config]="multiSeriesLog"
            (dataPointClicked)="onDataPointClicked($event)"
          />
        </sky-box-content>
      </sky-box>
    </sky-column>

    <!-- Stacked Log -->
    <sky-column
      [screenXSmall]="12"
      [screenSmall]="12"
      [screenMedium]="4"
      [screenLarge]="4"
    >
      <sky-box headingText="Stacked Logarithmic" class="sky-margin-stacked-xl">
        <sky-box-content>
          <sky-line-chart
            headingText="Month-by-month revenue"
            [config]="stackedLog"
            (dataPointClicked)="onDataPointClicked($event)"
          />
        </sky-box-content>
      </sky-box>
    </sky-column>
  </sky-row>
</sky-fluid-grid>
