<div class="sky-padding-even-xl">
  <h2>Standard flyout</h2>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non
    consequat nisl. In sit amet feugiat nisl. Orci varius natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Nam ut odio sodales,
    volutpat ante eget, ullamcorper libero. Aliquam velit mi, dapibus eu
    tincidunt eu, egestas non nibh. Nullam leo est, mattis at erat nec,
    ultricies maximus dolor. Morbi ac quam cursus, posuere mauris vel, vehicula
    libero. Sed posuere finibus orci sed ornare. Sed eu suscipit quam. Fusce
    dapibus convallis venenatis. Morbi fringilla eu mi ut ornare. Praesent
    auctor lorem id risus fringilla congue. Maecenas laoreet odio ligula, a
    malesuada nunc mattis at. Vivamus in leo nisi. Morbi viverra suscipit ex,
    vel fringilla turpis vehicula ac.
  </p>
</div>
@if (ready()) {
  <span id="ready"></span>
}
