<sky-modal>
  <sky-modal-header>File a contact report</sky-modal-header>
  <sky-modal-content>
    <form [formGroup]="form" (submit)="modal.save()">
      <sky-fluid-grid>
        <sky-row>
          <sky-column screenXSmall="6">
            <sky-input-box class="sky-margin-stacked-lg">
              <label class="sky-control-label"> Constituent </label>
              <sky-lookup
                formControlName="constituent"
                selectMode="single"
                [data]="constituents"
              >
              </sky-lookup>
            </sky-input-box>
          </sky-column>
        </sky-row>
        <sky-row>
          <sky-column screenXSmall="6">
            <sky-input-box class="sky-margin-stacked-lg">
              <label class="sky-control-label"> Fundraiser </label>
              <sky-lookup
                formControlName="constituent"
                selectMode="single"
                [data]="fundraisers"
              >
              </sky-lookup>
            </sky-input-box>
          </sky-column>
        </sky-row>
        <sky-row>
          <sky-column screenXSmall="6">
            <sky-input-box class="sky-margin-stacked-lg">
              <label class="sky-control-label">Contact date</label>
              <sky-datepicker>
                <input
                  formControlName="contactDate"
                  skyDatepickerInput
                  type="text"
                />
              </sky-datepicker>
            </sky-input-box>
          </sky-column>
          <sky-column screenXSmall="6">
            <sky-input-box class="sky-margin-stacked-lg">
              <label class="sky-control-label"> Contact method </label>
              <select formControlName="contactMethod" class="sky-form-control">
                <option value="in-person">In person meeting</option>
                <option value="phone-call">Phone call</option>
                <option value="email">Email</option>
                <option value="letter">Letter</option>
                <option value="pigeon">Carrier pigeon</option>
                <option value="sky-writer">Sky writer</option>
              </select>
            </sky-input-box>
          </sky-column>
        </sky-row>
        <sky-row>
          <sky-column screenXSmall="12">
            <sky-input-box class="sky-margin-stacked-lg">
              <label class="sky-control-label"> Notes </label>
              <textarea
                formControlName="notes"
                class="sky-form-control"
              ></textarea>
            </sky-input-box>
          </sky-column>
        </sky-row>
        <sky-row>
          <sky-column screenXSmall="6">
            <sky-radio-group formControlName="sentiment">
              <ul class="sky-list-unstyled sky-margin-stacked-lg">
                <li>
                  <sky-radio value="positive">
                    <sky-radio-label> Positive </sky-radio-label>
                  </sky-radio>
                </li>
                <li>
                  <sky-radio value="neutral">
                    <sky-radio-label> Neutral </sky-radio-label>
                  </sky-radio>
                </li>
                <li>
                  <sky-radio value="negative">
                    <sky-radio-label> Negative </sky-radio-label>
                  </sky-radio>
                </li>
              </ul>
            </sky-radio-group>
          </sky-column>
        </sky-row>
        <sky-row>
          <sky-column screenXSmall="6">
            <sky-checkbox formControlName="additionalContact">
              <sky-checkbox-label>
                Constituent agrees to additional contacts
              </sky-checkbox-label>
            </sky-checkbox>
          </sky-column>
        </sky-row>
      </sky-fluid-grid>
    </form>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      class="sky-btn sky-btn-primary sky-margin-inline-sm"
      type="button"
      (click)="modal.save()"
    >
      Save
    </button>
    <button class="sky-btn sky-btn-link" type="button" (click)="modal.close()">
      Close
    </button>
  </sky-modal-footer>
</sky-modal>
