<sky-page layout="tabs">
  <sky-page-header pageTitle="Donut chart" />

  <sky-page-content>
    <sky-tabset>
      <sky-tab tabHeading="Default">
        <sky-fluid-grid gutterSize="medium" [disableMargin]="true">
          <!-- Basic examples -->
          <sky-row>
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="12"
              [screenLarge]="12"
            >
              <sky-box headingText="Chart 1" class="sky-margin-stacked-lg">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Project Budget vs Actuals'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                    [subtitleText]="'Spending over a month'"
                    [subtitleHidden]="false"
                  >
                    <sky-chart-donut
                      dataPointsClickable
                      (dataPointClicked)="onDataPointClicked($event)"
                    >
                      <sky-donut-chart-series labelText="Series 1">
                        @for (item of chart1; track $index) {
                          <sky-donut-chart-series-datapoint
                            [category]="item.category"
                            [labelText]="item.label"
                            [value]="item.value"
                          />
                        }
                      </sky-donut-chart-series>
                    </sky-chart-donut>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>
          </sky-row>
        </sky-fluid-grid>
      </sky-tab>

      <sky-tab tabHeading="Data density">
        <sky-fluid-grid gutterSize="medium" [disableMargin]="true">
          <sky-row>
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box headingText="3 slices" class="sky-margin-stacked-lg">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'3 slices'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-donut
                      dataPointsClickable
                      (dataPointClicked)="onDataPointClicked($event)"
                    >
                      <sky-donut-chart-series labelText="Series 1">
                        @for (item of density.three; track $index) {
                          <sky-donut-chart-series-datapoint
                            [category]="item.category"
                            [labelText]="item.label"
                            [value]="item.value"
                          />
                        }
                      </sky-donut-chart-series>
                    </sky-chart-donut>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box headingText="6 slices" class="sky-margin-stacked-lg">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'6 slices'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-donut
                      dataPointsClickable
                      (dataPointClicked)="onDataPointClicked($event)"
                    >
                      <sky-donut-chart-series labelText="Series 1">
                        @for (item of density.six; track $index) {
                          <sky-donut-chart-series-datapoint
                            [category]="item.category"
                            [labelText]="item.label"
                            [value]="item.value"
                          />
                        }
                      </sky-donut-chart-series>
                    </sky-chart-donut>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box headingText="9 slices" class="sky-margin-stacked-lg">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'9 slices'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-donut
                      dataPointsClickable
                      (dataPointClicked)="onDataPointClicked($event)"
                    >
                      <sky-donut-chart-series labelText="Series 1">
                        @for (item of density.nine; track $index) {
                          <sky-donut-chart-series-datapoint
                            [category]="item.category"
                            [labelText]="item.label"
                            [value]="item.value"
                          />
                        }
                      </sky-donut-chart-series>
                    </sky-chart-donut>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box headingText="12 slices" class="sky-margin-stacked-lg">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'12 slices'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-donut
                      dataPointsClickable
                      (dataPointClicked)="onDataPointClicked($event)"
                    >
                      <sky-donut-chart-series labelText="Series 1">
                        @for (item of density.twelve; track $index) {
                          <sky-donut-chart-series-datapoint
                            [category]="item.category"
                            [labelText]="item.label"
                            [value]="item.value"
                          />
                        }
                      </sky-donut-chart-series>
                    </sky-chart-donut>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>
          </sky-row>
        </sky-fluid-grid>
      </sky-tab>

      <sky-tab tabHeading="Responsiveness">
        <sky-fluid-grid gutterSize="medium" [disableMargin]="true">
          <sky-row>
            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="12"
              [screenLarge]="12"
            >
              <sky-box headingText="Full width" class="sky-margin-stacked-lg">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Full width'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-donut
                      dataPointsClickable
                      (dataPointClicked)="onDataPointClicked($event)"
                    >
                      <sky-donut-chart-series labelText="Series 1">
                        @for (item of chart1; track $index) {
                          <sky-donut-chart-series-datapoint
                            [category]="item.category"
                            [labelText]="item.label"
                            [value]="item.value"
                          />
                        }
                      </sky-donut-chart-series>
                    </sky-chart-donut>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="6"
              [screenLarge]="6"
            >
              <sky-box headingText="Half width" class="sky-margin-stacked-lg">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Half width'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-donut
                      dataPointsClickable
                      (dataPointClicked)="onDataPointClicked($event)"
                    >
                      <sky-donut-chart-series labelText="Series 1">
                        @for (item of chart1; track $index) {
                          <sky-donut-chart-series-datapoint
                            [category]="item.category"
                            [labelText]="item.label"
                            [value]="item.value"
                          />
                        }
                      </sky-donut-chart-series>
                    </sky-chart-donut>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="4"
              [screenLarge]="4"
            >
              <sky-box headingText="Third width" class="sky-margin-stacked-lg">
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Third width'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-donut
                      dataPointsClickable
                      (dataPointClicked)="onDataPointClicked($event)"
                    >
                      <sky-donut-chart-series labelText="Series 1">
                        @for (item of chart1; track $index) {
                          <sky-donut-chart-series-datapoint
                            [category]="item.category"
                            [labelText]="item.label"
                            [value]="item.value"
                          />
                        }
                      </sky-donut-chart-series>
                    </sky-chart-donut>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>

            <sky-column
              [screenXSmall]="12"
              [screenSmall]="12"
              [screenMedium]="3"
              [screenLarge]="3"
            >
              <sky-box
                headingText="Quarter width"
                class="sky-margin-stacked-lg"
              >
                <sky-box-content>
                  <sky-chart
                    [headingText]="'Quarter width'"
                    [headingHidden]="false"
                    [headingLevel]="3"
                    [headingStyle]="3"
                  >
                    <sky-chart-donut
                      dataPointsClickable
                      (dataPointClicked)="onDataPointClicked($event)"
                    >
                      <sky-donut-chart-series labelText="Series 1">
                        @for (item of chart1; track $index) {
                          <sky-donut-chart-series-datapoint
                            [category]="item.category"
                            [labelText]="item.label"
                            [value]="item.value"
                          />
                        }
                      </sky-donut-chart-series>
                    </sky-chart-donut>
                  </sky-chart>
                </sky-box-content>
              </sky-box>
            </sky-column>
          </sky-row>
        </sky-fluid-grid>
      </sky-tab>
    </sky-tabset>
  </sky-page-content>
</sky-page>
