<h2>Charts Playground</h2>

<sky-fluid-grid>
  <sky-row>
    <sky-column
      [screenXSmall]="12"
      [screenSmall]="12"
      [screenMedium]="6"
      [screenLarge]="4"
    >
      <sky-box headingText="Chart 1">
        <sky-box-content>
          <sky-donut-chart
            [headingText]="'Project Budget vs Actuals'"
            [headingHidden]="false"
            [headingLevel]="3"
            [headingStyle]="3"
            [subtitleText]="'Spending over a month'"
            [subtitleHidden]="false"
            [config]="chart1"
            (dataPointClicked)="onDataPointClicked($event)"
          />
        </sky-box-content>
      </sky-box>
    </sky-column>

    <sky-column
      [screenXSmall]="12"
      [screenSmall]="12"
      [screenMedium]="6"
      [screenLarge]="4"
    >
      <sky-box headingText="Chart 2">
        <sky-box-content>
          <sky-donut-chart
            headingText="Monthly spendings"
            [config]="chart2"
            (dataPointClicked)="onDataPointClicked($event)"
          />
        </sky-box-content>
      </sky-box>
    </sky-column>

    <sky-column
      [screenXSmall]="12"
      [screenSmall]="12"
      [screenMedium]="6"
      [screenLarge]="4"
    >
      <sky-box headingText="Chart 3">
        <sky-box-content>
          <sky-donut-chart
            headingText="Monthly spendings"
            [config]="chart3"
            (dataPointClicked)="onDataPointClicked($event)"
          />
        </sky-box-content>
      </sky-box>
    </sky-column>
  </sky-row>
</sky-fluid-grid>
