<form class="phone-field-demo" [formGroup]="phoneForm">
  <label class="sky-control-label"> Phone field</label>
  <sky-input-box stacked="true">
    <sky-phone-field returnFormat="international" [defaultCountry]="'us'">
      <input formControlName="phoneControl" skyPhoneFieldInput />
    </sky-phone-field>
  </sky-input-box>
</form>

<form class="phone-field-demo" [formGroup]="phoneFormInput">
  <label class="sky-control-label"> Phone field with input</label>
  <sky-input-box stacked="true">
    <sky-phone-field returnFormat="international" [defaultCountry]="'us'">
      <input formControlName="phoneControlInput" skyPhoneFieldInput />
    </sky-phone-field>
  </sky-input-box>
</form>

<form class="phone-field-demo" [formGroup]="phoneForm">
  <label class="sky-control-label"> Phone field with focus</label>
  <sky-input-box stacked="true">
    <sky-phone-field returnFormat="international" [defaultCountry]="'us'">
      <input formControlName="phoneControl" skyPhoneFieldInput />
    </sky-phone-field>
  </sky-input-box>
</form>

<form class="phone-field-demo" [formGroup]="phoneFormError">
  <label class="sky-control-label"> Phone field validation error</label>
  <sky-input-box stacked="true">
    <sky-phone-field returnFormat="international" [defaultCountry]="'us'">
      <input formControlName="phoneControlError" skyPhoneFieldInput />
    </sky-phone-field>
  </sky-input-box>
</form>

<form class="phone-field-demo" [formGroup]="phoneForm">
  <label class="sky-control-label"> Phone field country search results</label>
  <sky-input-box stacked="true">
    <sky-phone-field returnFormat="international" [defaultCountry]="'us'">
      <input formControlName="phoneControl" skyPhoneFieldInput />
    </sky-phone-field>
  </sky-input-box>
</form>
<span *ngIf="ready | async" id="ready"></span>
