<div class="sky-margin-stacked-xs" [skyHighlight]="highlightSentence">
  This next sentence is highlighted. Doesn't it look great.
</div>
<div
  class="sky-margin-stacked-xs sky-font-deemphasized"
  [skyHighlight]="highlightSentence"
>
  This next sentence is highlighted. Doesn't it look great.
</div>
<a
  class="sky-margin-stacked-xs"
  href="#stuff"
  [skyHighlight]="highlightSentence"
>
  This next sentence is highlighted. Doesn't it look great.
</a>
<button
  class="sky-margin-stacked-xs sky-btn sky-btn-link-inline"
  type="button"
  [skyHighlight]="highlightSentence"
>
  This next sentence is highlighted. Doesn't it look great.
</button>
