@if (definition(); as def) {
  <sky-heading-anchor
    class="sky-margin-stacked-lg"
    headingLevel="2"
    [anchorId]="def.anchorId"
    [headingText]="def.name"
    [strikethrough]="def.isDeprecated"
  >
    <sky-pill class="sky-font-body-sm" [color]="def.kind | skyKindToPillColor">
      <span class="sky-screen-reader-only">Type: </span>
      {{ def.kind | skyTypeDefinitionKindToLabel }}
    </sky-pill>
    @if (def.isDeprecated) {
      <sky-pill class="sky-font-body-sm" color="red"> Deprecated </sky-pill>
    }
    @if (def.isPreview) {
      <sky-pill class="sky-font-body-sm" color="teal"> Preview </sky-pill>
    }
  </sky-heading-anchor>
  @if (def.deprecationReason) {
    <sky-deprecation-reason stacked [message]="def.deprecationReason" />
  }
  @if (def.description) {
    <p
      [innerHTML]="
        def.description
          | skyMarkdown
          | skyTypeAnchorLinks: { ignore: [def.name] }
      "
    ></p>
  }
  @if (def.kind === 'module' || def.kind === 'service') {
    <p>
      <code class="sky-codespan"
        >import {{ '{' }} {{ def.name }} {{ '}' }} from '{{
          def.packageName
        }}';</code
      >
    </p>
    <p>
      <a [attr.href]="'https://www.npmjs.com/package/' + def.packageName"
        >View in NPM</a
      >&nbsp;|&nbsp;<a href="https://github.com/blackbaud/skyux"
        >View in GitHub</a
      >
    </p>
  }
  @if (selector(); as selector) {
    <p>
      Selector: <code class="sky-codespan">{{ selector }}</code>
    </p>
  }
  @if (pipeName(); as pipeName) {
    <p>
      Pipe name: <code class="sky-codespan">{{ pipeName }}</code>
    </p>
  }
  @if (def.codeExample) {
    <h3>Example</h3>
    <sky-code-snippet
      bordered
      class="sky-margin-stacked-lg"
      hideToolbar
      [code]="def.codeExample"
      [language]="def.codeExampleLanguage ?? 'html'"
    />
  }
  @switch (def.kind) {
    @case ('function') {
      <sky-code-snippet
        bordered
        class="sky-margin-stacked-lg"
        hideToolbar
        language="ts"
        [code]="
          def
            | skyDocsFunctionSignature
            | skyTypeAnchorLinks: { ignore: [def.name] }
        "
      />
      @let parametersValue = parameters();
      @if (parametersValue && parametersValue.length > 0) {
        <!-- <h3>Parameters</h3>
        <table class="sky-type-definition-table sky-margin-stacked-xl">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            @for (parameter of parametersValue; track parameter.name) {
              <tr>
                <td>
                  <code
                    [innerHTML]="
                      parameter | skyDocsParameterName | skyEscapeHtml
                    "
                  ></code>
                </td>
                <td>
                  @if (parameter.description) {
                    <p [innerHTML]="parameter.description | skyMarkdown"></p>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table> -->
      }
    }
    @case ('type-alias') {
      <sky-code-snippet bordered hideToolbar stacked>
        <code
          [innerHTML]="
            def
              | skyDocsTypeAliasSignature
              | skyCodeHighlight: 'typescript'
              | skyTypeAnchorLinks: { ignore: [def.name] }
          "
        ></code>
      </sky-code-snippet>
    }
    @default {
      @if (def.kind === 'interface') {
        <sky-code-snippet
          bordered
          hideToolbar
          language="ts"
          stacked
          [code]="def | skyDocsInterfaceSignature"
        />
      }
      @if (def.kind === 'enumeration') {
        <sky-code-snippet
          bordered
          hideToolbar
          language="ts"
          stacked
          [code]="def | skyDocsEnumerationSignature"
        />
      }
      @if (inputs(); as inputs) {
        <h3>Inputs</h3>
        @for (input of inputs; track input.name) {
          <div
            class="sky-elevation-0-bordered sky-rounded-corners sky-margin-stacked-lg"
          >
            <div
              class="sky-type-definition-box-header sky-padding-even-md sky-border-bottom-dark"
            >
              <h4 class="sky-type-definition-box-heading">
                <code
                  class="sky-margin-inline-sm"
                  [class.sky-text-strikethrough]="input.isDeprecated"
                  [innerHTML]="input.name | skyEscapeHtml"
                ></code>
              </h4>
              <code [innerHTML]="input.type | skyTypeAnchorLinks"></code>
            </div>
            <div class="sky-type-definition-box-body sky-padding-even-md">
              @if (input.deprecationReason) {
                <p>
                  <sky-deprecation-reason
                    class="sky-margin-stacked-sm"
                    [message]="input.deprecationReason"
                  />
                </p>
              }
              @if (input.description) {
                <p
                  [innerHTML]="
                    input.description | skyMarkdown | skyTypeAnchorLinks
                  "
                ></p>
              }
              @let defaultValue = input | skyDocsPropertyDefaultValue;
              @if (defaultValue) {
                <p>
                  Default:
                  <code
                    class="sky-codespan"
                    [innerHTML]="
                      defaultValue | skyEscapeHtml | skyTypeAnchorLinks
                    "
                  ></code>
                </p>
              }
            </div>
          </div>
        }
      }

      @if (outputs(); as outputs) {
        <h3>Outputs</h3>
        @for (output of outputs; track output.name) {
          <div
            class="sky-elevation-0-bordered sky-rounded-corners sky-margin-stacked-lg"
          >
            <div
              class="sky-type-definition-box-header sky-padding-even-md sky-border-bottom-dark"
            >
              <h4 class="sky-type-definition-box-heading">
                <code
                  class="sky-margin-inline-sm"
                  [class.sky-text-strikethrough]="output.isDeprecated"
                  [innerHTML]="output.name | skyEscapeHtml"
                ></code>
              </h4>
              <code [innerHTML]="output.type | skyTypeAnchorLinks"></code>
            </div>
            <div class="sky-type-definition-box-body sky-padding-even-md">
              @if (output.deprecationReason) {
                <p>
                  <sky-deprecation-reason
                    class="sky-margin-stacked-sm"
                    [message]="output.deprecationReason"
                  />
                </p>
              }
              @if (output.description) {
                <p
                  [innerHTML]="
                    output.description | skyMarkdown | skyTypeAnchorLinks
                  "
                ></p>
              }
            </div>
          </div>
        }
      }

      @if (properties(); as properties) {
        <h3>Properties</h3>
        @for (property of properties; track property.name) {
          <div
            class="sky-elevation-0-bordered sky-rounded-corners sky-margin-stacked-lg"
          >
            <div
              class="sky-type-definition-box-header sky-padding-even-md sky-border-bottom-dark"
            >
              <h4 class="sky-type-definition-box-heading">
                <!-- TODO: MAKE THIS A PIPE! -->
                <code
                  class="sky-margin-inline-sm"
                  [class.sky-text-strikethrough]="property.isDeprecated"
                  [innerHTML]="
                    (property.kind === 'enum-member'
                      ? def.name + '.' + property.name
                      : property.name
                    ) | skyEscapeHtml
                  "
                ></code>
              </h4>
              <code [innerHTML]="property.type | skyTypeAnchorLinks"></code>
            </div>
            <div class="sky-type-definition-box-body sky-padding-even-md">
              @if (property.deprecationReason) {
                <p>
                  <sky-deprecation-reason
                    class="sky-margin-stacked-sm"
                    [message]="property.deprecationReason"
                  />
                </p>
              }
              @if (property.description) {
                <p
                  [innerHTML]="
                    property.description | skyMarkdown | skyTypeAnchorLinks
                  "
                ></p>
              }
              @let defaultValue = property | skyDocsPropertyDefaultValue;
              @if (defaultValue) {
                <p>
                  Default:
                  <code
                    class="sky-codespan"
                    [innerHTML]="
                      defaultValue | skyEscapeHtml | skyTypeAnchorLinks
                    "
                  ></code>
                </p>
              }
            </div>
          </div>
        }
      }
      @let methodsValue = methods();
      @if (methodsValue && methodsValue.length > 0) {
        <h3>Methods</h3>
        @for (method of methodsValue; track method.name) {
          <div
            class="sky-elevation-0-bordered sky-rounded-corners sky-margin-stacked-lg"
          >
            <div
              class="sky-type-definition-box-header sky-padding-even-md sky-border-bottom-dark"
            >
              <h4 class="sky-type-definition-box-heading">
                <code
                  class="sky-margin-inline-sm"
                  [class.sky-text-strikethrough]="method.isDeprecated"
                  [innerHTML]="
                    method
                      | skyDocsMethodName: def
                      | skyEscapeHtml
                      | skyTypeAnchorLinks
                  "
                ></code>
              </h4>
            </div>
            <div class="sky-type-definition-box-body sky-padding-even-md">
              @if (method.deprecationReason) {
                <p>
                  <sky-deprecation-reason
                    class="sky-margin-stacked-sm"
                    [message]="method.deprecationReason"
                  />
                </p>
              }
              @if (method.description) {
                <p
                  [innerHTML]="
                    method.description | skyMarkdown | skyTypeAnchorLinks
                  "
                ></p>
              }
              @if (method.parameters) {
                <h4>Parameters</h4>
                @for (param of method.parameters; track param.name) {
                  <h5 class="sky-type-definition-parameter-heading">
                    <code
                      [innerHTML]="
                        param
                          | skyDocsParameterName
                          | skyEscapeHtml
                          | skyTypeAnchorLinks
                      "
                    ></code>
                  </h5>
                  @if (param.description) {
                    <div class="sky-type-definition-parameter-body">
                      <p
                        [innerHTML]="
                          param.description | skyMarkdown | skyTypeAnchorLinks
                        "
                      ></p>
                    </div>
                  }
                }
              }
              <h4>Returns</h4>
              <p>
                <code
                  class="sky-codespan"
                  [innerHTML]="method.type | skyEscapeHtml | skyTypeAnchorLinks"
                ></code>
              </p>
            </div>
          </div>
        }
      }
    }
  }
}
