@let selectorValue = selector();

@if (definition(); as def) {
  <sky-heading-anchor
    class="sky-margin-stacked-lg"
    headingLevel="2"
    [anchorId]="def.anchorId"
    [categoryColor]="def.kind | skyKindToPillColor"
    [categoryText]="def.kind | skyTypeDefinitionKindToLabel"
    [headingText]="def.name"
    [strikethrough]="def.isDeprecated"
  >
    <sky-pill [color]="def.kind | skyKindToPillColor">
      <span class="sky-screen-reader-only">Type: </span>
      {{ def.kind | skyTypeDefinitionKindToLabel }}
    </sky-pill>

    @if (def.isDeprecated) {
      <sky-pill color="red"> Deprecated </sky-pill>
    }

    @if (def.isPreview) {
      <sky-pill color="teal"> Preview </sky-pill>
    }
  </sky-heading-anchor>

  @if (def.deprecationReason) {
    <sky-deprecation-reason stacked [message]="def.deprecationReason" />
  }

  @if (def.description) {
    <p
      [innerHTML]="
        def.description
          | skyMarkdown
          | skyTypeAnchorLinks: { ignore: [def.name] }
      "
    ></p>
  }

  @if (def.kind === 'module' || def.kind === 'service') {
    <p>
      <code class="sky-codespan"
        >import {{ '{' }} {{ def.name }} {{ '}' }} from '{{
          def.packageName
        }}';</code
      >
    </p>
    <p>
      <a [attr.href]="'https://www.npmjs.com/package/' + def.packageName"
        >View in NPM</a
      >&nbsp;|&nbsp;<a href="https://github.com/blackbaud/skyux"
        >View in GitHub</a
      >
    </p>
  }

  <!-- @if (selector(); as selector) {
    <p>
      Selector: <code class="sky-codespan">{{ selector }}</code>
    </p>
  } -->

  @if (pipeName(); as pipeName) {
    <p>
      Pipe name: <code class="sky-codespan">{{ pipeName }}</code>
    </p>
  }

  @if (def.codeExample) {
    <h3>Example</h3>
    <sky-code-snippet
      bordered
      class="sky-margin-stacked-lg"
      hideToolbar
      [code]="def.codeExample"
      [language]="def.codeExampleLanguage ?? 'html'"
    />
  }
  @switch (def.kind) {
    @case ('function') {
      <sky-code-snippet
        bordered
        class="sky-margin-stacked-lg"
        hideToolbar
        language="ts"
        [code]="
          def
            | skyDocsFunctionSignature
            | skyTypeAnchorLinks: { ignore: [def.name] }
        "
      />
      @let parametersValue = parameters();
      @if (parametersValue && parametersValue.length > 0) {
        <!-- <h3>Parameters</h3>
        <table class="sky-type-definition-table sky-margin-stacked-xl">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            @for (parameter of parametersValue; track parameter.name) {
              <tr>
                <td>
                  <code
                    [innerHTML]="
                      parameter | skyDocsParameterName | skyEscapeHtml
                    "
                  ></code>
                </td>
                <td>
                  @if (parameter.description) {
                    <p [innerHTML]="parameter.description | skyMarkdown"></p>
                  }
                </td>
              </tr>
            }
          </tbody>
        </table> -->
      }
    }
    @case ('type-alias') {
      <sky-code-snippet bordered hideToolbar stacked>
        <code
          [innerHTML]="
            def
              | skyDocsTypeAliasSignature
              | skyCodeHighlight: 'typescript'
              | skyTypeAnchorLinks: { ignore: [def.name] }
          "
        ></code>
      </sky-code-snippet>
    }
    @default {
      @if (def.kind === 'interface') {
        <sky-code-snippet
          bordered
          hideToolbar
          language="ts"
          stacked
          [code]="def | skyDocsInterfaceSignature"
        />
      }
      @if (def.kind === 'enumeration') {
        <sky-code-snippet
          bordered
          hideToolbar
          language="ts"
          stacked
          [code]="def | skyDocsEnumerationSignature"
        />
      }
      @if (inputs(); as inputs) {
        <h3>Inputs</h3>
        @for (input of inputs; track input.name) {
          <sky-docs-type-definition-box
            stacked
            [deprecated]="input.isDeprecated"
            [required]="input.isRequired"
            [headingText]="
              input
                | skyDocsPropertyName: def
                | skyEscapeHtml
                | skyTypeAnchorLinks
            "
          >
            @if (input.deprecationReason) {
              <p>
                <sky-deprecation-reason
                  class="sky-margin-stacked-sm"
                  [message]="input.deprecationReason"
                />
              </p>
            }
            <!--@if (input.isRequired) {
              <p>
                <sky-status-indicator descriptionType="error" indicatorType="error">
                  <strong class="sky-font-emphasized">Deprecated. </strong
                  ><span [innerHTML]="message() | skyMarkdown | skyTypeAnchorLinks"></span>
                </sky-status-indicator>
              </p>
            }-->
            @if (input.description) {
              <p>
                <span
                  [innerHTML]="
                    input.description
                      | skyEscapeHtml
                      | skyMarkdown
                      | skyTypeAnchorLinks
                  "
                ></span>
              </p>
            }
            @let defaultValue = input | skyDocsPropertyDefaultValue;
            @if (defaultValue) {
              <p>
                Default:
                <code
                  class="sky-codespan"
                  [innerHTML]="
                    defaultValue | skyEscapeHtml | skyTypeAnchorLinks
                  "
                ></code>
              </p>
            }
          </sky-docs-type-definition-box>
        }
      }

      @if (outputs(); as outputs) {
        <h3>Outputs</h3>
        @for (output of outputs; track output.name) {
          <sky-docs-type-definition-box
            stacked
            [deprecated]="output.isDeprecated"
            [headingText]="
              output
                | skyDocsPropertyName: def
                | skyEscapeHtml
                | skyTypeAnchorLinks
            "
          >
            @if (output.deprecationReason) {
              <p>
                <sky-deprecation-reason
                  class="sky-margin-stacked-sm"
                  [message]="output.deprecationReason"
                />
              </p>
            }
            @if (output.description) {
              <p
                [innerHTML]="
                  output.description | skyMarkdown | skyTypeAnchorLinks
                "
              ></p>
            }
          </sky-docs-type-definition-box>
        }
      }

      @if (properties(); as properties) {
        <h3>Properties</h3>
        @for (property of properties; track property.name) {
          <sky-docs-type-definition-box
            stacked
            [deprecated]="property.isDeprecated"
            [headingText]="
              property
                | skyDocsPropertyName: def
                | skyEscapeHtml
                | skyTypeAnchorLinks: { ignore: [def.name] }
            "
          >
            @if (property.deprecationReason) {
              <p>
                <sky-deprecation-reason
                  class="sky-margin-stacked-sm"
                  [message]="property.deprecationReason"
                />
              </p>
            }
            @if (property.description) {
              <p
                [innerHTML]="
                  property.description | skyMarkdown | skyTypeAnchorLinks
                "
              ></p>
            }
            @let defaultValue = property | skyDocsPropertyDefaultValue;
            @if (defaultValue) {
              <p>
                Default:
                <code
                  class="sky-codespan"
                  [innerHTML]="
                    defaultValue | skyEscapeHtml | skyTypeAnchorLinks
                  "
                ></code>
              </p>
            }
          </sky-docs-type-definition-box>
        }
      }
      @let methodsValue = methods();
      @if (methodsValue && methodsValue.length > 0) {
        <h3>Methods</h3>
        @for (method of methodsValue; track method.name) {
          <sky-docs-type-definition-box
            stacked
            [deprecated]="method.isDeprecated"
            [headingText]="
              method
                | skyDocsMethodName: def
                | skyEscapeHtml
                | skyTypeAnchorLinks: { ignore: [def.name] }
            "
          >
            @if (method.deprecationReason) {
              <p>
                <sky-deprecation-reason
                  class="sky-margin-stacked-sm"
                  [message]="method.deprecationReason"
                />
              </p>
            }
            @if (method.description) {
              <p
                [innerHTML]="
                  method.description | skyMarkdown | skyTypeAnchorLinks
                "
              ></p>
            }
            @if (method.parameters) {
              <h4>Parameters</h4>

              @for (param of method.parameters; track param.name) {
                <h5
                  class="sky-type-definition-parameter-heading sky-font-body-default"
                >
                  <code
                    class="sky-codespan"
                    [innerHTML]="
                      param
                        | skyDocsParameterName
                        | skyEscapeHtml
                        | skyTypeAnchorLinks
                    "
                  ></code>
                </h5>
                @if (param.description) {
                  <div class="sky-type-definition-parameter-body">
                    <p
                      [innerHTML]="
                        param.description | skyMarkdown | skyTypeAnchorLinks
                      "
                    ></p>
                  </div>
                }
              }

              <!--<sky-description-list defaultDescription="&nbsp;">
              @for (param of method.parameters; track param.name) {
                <sky-description-list-content>
                  <sky-description-list-term>
                    <code
                      [innerHTML]="
                        param
                          | skyDocsParameterName
                          | skyEscapeHtml
                          | skyTypeAnchorLinks
                      "
                    ></code>
                  </sky-description-list-term>
                  <sky-description-list-description>
                    @if (param.description) {
                      <span
                        [innerHTML]="
                          param.description
                            | skyMarkdown
                            | skyTypeAnchorLinks
                        "
                      ></span>
                    }
                  </sky-description-list-description>
                </sky-description-list-content>
              }
            </sky-description-list>-->
            }
            <h4>Returns</h4>
            <p>
              <code
                class="sky-codespan"
                [innerHTML]="method.type | skyEscapeHtml | skyTypeAnchorLinks"
              ></code>
            </p>
          </sky-docs-type-definition-box>
        }
      }
    }
  }
}
