<h1>Filter Bar Story</h1>
<p>Next steps:</p>
<ul>
  <li>
    Build out the test scenario:
    <strong
      ><code>apps/e2e/filter-bar-storybook/src/app/filter-bar</code></strong
    >
  </li>
  <li>
    Run via Angular CLI:
    <strong><code>nx serve filter-bar-storybook</code></strong>
  </li>
  <li>
    Run Storybook:
    <strong><code>nx storybook filter-bar-storybook</code></strong>
  </li>
  <li>
    Run Cypress:
    <strong><code>nx e2e filter-bar-storybook-e2e --watch</code></strong>
  </li>
  <li>
    <a
      href="https://dev.azure.com/blackbaud/Products/_wiki/wikis/Products.wiki/2630/End-to-end-Testing"
      target="_blank"
      rel="noreferrer noopener"
      >Learn more about e2e testing</a
    >
  </li>
</ul>
