<sky-filter-bar
  [appliedFilters]="appliedFilters"
  [selectedFilterIds]="['1', '2']"
>
  <sky-filter-item-modal
    filterId="1"
    labelText="Filter 1"
    modalSize="medium"
    [modalComponent]="modalComponent"
  />
  <sky-filter-item-modal
    filterId="2"
    labelText="Filter 2"
    modalSize="medium"
    [modalComponent]="modalComponent"
  />
</sky-filter-bar>
<div class="spacer"></div>
<sky-filter-bar [appliedFilters]="appliedFilters">
  <sky-filter-item-modal
    filterId="1"
    labelText="Filter 1"
    modalSize="medium"
    [modalComponent]="modalComponent"
  />
  <sky-filter-item-modal
    filterId="2"
    labelText="Filter 2"
    modalSize="medium"
    [modalComponent]="modalComponent"
  />
</sky-filter-bar>
