<sky-filter-bar [filters]="filters" [selectedFilters]="['1', '2']">
  <sky-filter-item-modal
    filterId="1"
    labelText="Filter 1"
    [filterModalConfig]="modalConfig"
  />
  <sky-filter-item-modal
    filterId="2"
    labelText="Filter 2"
    [filterModalConfig]="modalConfig"
  />
</sky-filter-bar>
<div class="spacer"></div>
<sky-filter-bar [filters]="filters">
  <sky-filter-item-modal
    filterId="1"
    labelText="Filter 1"
    [filterModalConfig]="modalConfig"
  />
  <sky-filter-item-modal
    filterId="2"
    labelText="Filter 2"
    [filterModalConfig]="modalConfig"
  />
</sky-filter-bar>
