<sky-page layout="blocks">
  <sky-page-content>
    <h2>Visible headings</h2>
    <sky-box headingText="Campaign performance">
      <sky-box-content>
        <sky-chart
          headingText="Compared to last year"
          helpPopoverContent="Some help content here."
          helpPopoverTitle="Need help?"
          subheadingText="This month compared to the same day last year"
        >
          Some chart here.
        </sky-chart>
      </sky-box-content>
    </sky-box>

    <h2>Hidden headings</h2>
    <sky-box headingText="Campaign performance">
      <sky-box-content>
        <sky-chart
          headingHidden
          headingText="Compared to last year"
          helpPopoverContent="Some help content here."
          helpPopoverTitle="Need help?"
          subheadingText="This month compared to the same day last year"
        >
          Some chart here.
        </sky-chart>
      </sky-box-content>
    </sky-box>

    <h2>Heading level and style</h2>
    <sky-box headingText="Campaign performance">
      <sky-box-content>
        <sky-chart
          headingLevel="2"
          headingStyle="4"
          headingText="Compared to last year"
          helpPopoverContent="Some help content here."
          helpPopoverTitle="Need help?"
          subheadingText="This month compared to the same day last year"
        >
          Some chart here.
        </sky-chart>
      </sky-box-content>
    </sky-box>
  </sky-page-content>
</sky-page>
