<button
  class="sky-btn sky-btn-primary"
  type="button"
  (click)="setReactiveString(false)"
>
  Set string value with emitEvent: false
</button>
<button
  class="sky-btn sky-btn-primary"
  type="button"
  (click)="setReactiveString()"
>
  Set string value with emitEvent: true
</button>
<button
  class="sky-btn sky-btn-primary"
  type="button"
  (click)="setReactiveDate(false)"
>
  Set date value with emitEvent: false
</button>
<button
  class="sky-btn sky-btn-primary"
  type="button"
  (click)="setReactiveDate()"
>
  Set date value with emitEvent: true
</button>
<button
  class="sky-btn sky-btn-primary"
  type="button"
  (click)="setMinMaxStartAtDates()"
>
  Set min, max, and startAt dates
</button>
<button
  class="sky-btn sky-btn-primary"
  type="button"
  (click)="setFuzzyMinMaxStartAtDates()"
>
  Set fuzzy min, max, and startAt dates
</button>
<button
  class="sky-btn sky-btn-primary"
  type="button"
  (click)="toggleFutureDisabled()"
>
  Toggle fuzzy future disabled
</button>
<button
  class="sky-btn sky-btn-primary"
  type="button"
  (click)="setStartingDay()"
>
  Set starting day to Monday
</button>
<button
  class="sky-btn sky-btn-primary"
  id="toggle-disabled-btn"
  type="button"
  (click)="toggleDisabled()"
>
  Toggle disabled
</button>
<button class="sky-btn sky-btn-primary" type="button" (click)="setValue()">
  Set new value
</button>
<button
  class="sky-btn sky-btn-primary"
  id="button-set-invalid-value"
  type="button"
  (click)="setInvalidValue()"
>
  Set invalid value
</button>
<button
  class="sky-btn sky-btn-primary"
  id="button-set-invalid-value"
  type="button"
  (click)="strict = !strict"
>
  Toggle strict formatting
</button>
<button
  class="sky-btn sky-btn-primary"
  id="button-set-custom-dates"
  type="button"
  (click)="onToggleCustomDatesClick()"
>
  Toggle custom dates
</button>

<div
  class="app-screenshot"
  id="screenshot-datepicker-input-box"
  style="max-width: 50%; height: 500px"
>
  <sky-input-box
    hintText="Here's some hint text."
    labelText="Input box"
    [disabled]="disabled"
  >
    <sky-datepicker
      #inputBoxPicker
      (calendarDateRangeChange)="onCalendarDateRangeChange($event)"
    >
      <input
        #date="ngModel"
        skyDatepickerInput
        [disabled]="disabled"
        [maxDate]="maxDate"
        [minDate]="minDate"
        [skyDatepickerNoValidate]="noValidate"
        [dateFormat]="dateFormat"
        [startingDay]="startingDay"
        [strict]="strict"
        [(ngModel)]="selectedDate"
      />
    </sky-datepicker>
  </sky-input-box>
</div>
