name: E2E Cancel
on:
  pull_request:
    types:
      - labeled
jobs:
  cancel:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel
        if: ${{ contains( github.event.pull_request.labels.*.name, 'skip e2e' ) }}
        uses: actions/github-script@v6
        with:
          script: |
            const { data: runs } = await github.request('GET /repos/{owner}/{repo}/actions/workflows/{workflow_id}/runs', {
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'e2e.yml',
              head_sha: context.payload.pull_request.head.sha,
              headers: {
                'X-GitHub-Api-Version': '2022-11-28'
              }
            });
            if (runs[0] && ['in_progress', 'pending', 'queued', 'requested', 'waiting'].includes(runs[0].status)) {
              await github.request('POST /repos/{owner}/{repo}/actions/runs/{run_id}/cancel', {
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: runs[0].id,
                headers: {
                  'X-GitHub-Api-Version': '2022-11-28'
                }
              });
            }
