name: E2E

on:
  push:
    branches:
      - main
  pull_request:

env:
  CYPRESS_VERIFY_TIMEOUT: 120000
  GH_PAGES_OWNER: blackbaud
  PERCY_BROWSER_EXECUTABLE: /usr/bin/chromium
  PUPPETEER_EXECUTABLE_PATH: /usr/bin/chromium
  PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'true'
  SB_CHROMIUM_PATH: /usr/bin/chromium

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install-deps:
    name: Install and cache dependencies
    runs-on: ubuntu-latest
    outputs:
      node-version: ${{ steps.setup-node.outputs.node-version }}
      parameters: ${{ steps.parameters.outputs.parameters }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        id: setup-node
        with:
          node-version-file: '.nvmrc'
      - name: Rebase current branch
        run: node ./scripts/rebase-pr.js
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            /home/runner/.cache/Cypress
          key: ${{ runner.os }}-node-${{ steps.setup-node.outputs.node-version }}-modules-${{ hashFiles('package-lock.json') }}
      - name: npm install
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v3
      - name: Set workflow parameters
        id: parameters
        shell: bash
        run: |
          echo -n parameters= >> $GITHUB_OUTPUT
          npx skyux-dev e2e-workflow >> $GITHUB_OUTPUT
      - name: Show workflow parameters
        run: |
          echo 'Using workflow parameters:'
          echo ''
          echo '${{ steps.parameters.outputs.parameters }}' | jq

  build-storybook:
    name: Build Project Storybook
    runs-on: ubuntu-latest
    needs: install-deps
    strategy:
      # If one build fails, do not cancel other builds.
      fail-fast: false
      matrix:
        project: ${{ fromJSON(needs.install-deps.outputs.parameters).projects }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
        if: ${{ matrix.project != 'skip' }}
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
        if: ${{ matrix.project != 'skip' }}
      - name: Rebase current branch
        run: node ./scripts/rebase-pr.js
        if: ${{ matrix.project != 'skip' }}
      - name: Retrieve dependencies cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            /home/runner/.cache/Cypress
          key: ${{ runner.os }}-node-${{ needs.install-deps.outputs.node-version }}-modules-${{ hashFiles('package-lock.json') }}
        if: ${{ matrix.project != 'skip' }}
      - name: Build ${{ matrix.project }}
        run: npx nx run ${{ matrix.project }}:build-storybook:ci
        if: ${{ matrix.project != 'skip' }}
      - name: Upload storybook artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.project }}
          path: ./dist/storybook/${{ matrix.project }}
          retention-days: 1
          if-no-files-found: error
        if: ${{ matrix.project != 'skip' }}
      - name: Skip
        run: |
          echo 'No storybook to build'
        if: ${{ matrix.project == 'skip' }}

  build-apps:
    name: Build Apps
    runs-on: ubuntu-latest
    needs: install-deps
    strategy:
      # If one build fails, do not cancel other builds.
      fail-fast: false
      matrix:
        app:
          - code-examples
          - dep-graph
          - integration
          - playground
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
        if: ${{ github.event_name == 'pull_request' }}
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
        if: ${{ github.event_name == 'pull_request' }}
      - name: Rebase current branch
        run: node ./scripts/rebase-pr.js
        if: ${{ github.event_name == 'pull_request' }}
      - name: Retrieve dependencies cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            /home/runner/.cache/Cypress
          key: ${{ runner.os }}-node-${{ needs.install-deps.outputs.node-version }}-modules-${{ hashFiles('package-lock.json') }}
        if: ${{ github.event_name == 'pull_request' }}
      - name: Build ${{ matrix.app }}
        run: |
          npx nx build ${{ matrix.app }} --baseHref="https://blackbaud.github.io/skyux-pr-preview/${{ github.event.number }}/${{ matrix.app }}/"
        if: ${{ github.event_name == 'pull_request' && matrix.app != 'dep-graph' }}
      - name: Build ${{ matrix.app }}
        run: npx nx dep-graph --file=dist/apps/dep-graph/index.html
        if: ${{ github.event_name == 'pull_request' && matrix.app == 'dep-graph' }}
      - name: Upload app artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.app }}
          path: ./dist/apps/${{ matrix.app }}
          retention-days: 1
          if-no-files-found: error
        if: ${{ github.event_name == 'pull_request' }}
      - name: Skip
        run: echo "Skip building ${{ matrix.app }} app. Only Storybook is published on branch builds."
        if: ${{ github.event_name != 'pull_request' }}

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs:
      - install-deps
      - build-storybook
      - build-apps
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Rebase current branch
        run: node ./scripts/rebase-pr.js
      - name: Retrieve dependencies cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            /home/runner/.cache/Cypress
          key: ${{ runner.os }}-node-${{ needs.install-deps.outputs.node-version }}-modules-${{ hashFiles('package-lock.json') }}
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          path: ./dist/${{ fromJson(needs.install-deps.outputs.parameters).storybooksPath }}
      - name: Move apps
        # All the artifacts are downloaded into one folder, so we need to move them into the correct folders.
        if: ${{ github.event_name == 'pull_request' }}
        # Setting the shell so this step can run as-is on Windows or Linux.
        shell: bash
        run: |
          mkdir -p ./dist/apps
          for app in code-examples dep-graph integration playground
          do
            mv ./dist/${{ fromJson(needs.install-deps.outputs.parameters).storybooksPath }}${app} ./dist/apps/$app
          done
      - name: Generate Storybook Composition
        shell: bash
        run: |
          npx nx g @skyux-sdk/e2e-schematics:storybook-composition \
            --projectsJson='${{ fromJson(needs.install-deps.outputs.parameters).projectsJson }}' \
            --baseUrl='../${{ fromJson(needs.install-deps.outputs.parameters).storybooksPath }}'
      - name: Build Storybook Composition
        run: npx nx run storybook:build-storybook:ci --outputDir=dist/storybook
      - name: Checkout ${{ fromJson(needs.install-deps.outputs.parameters).ghPagesRepo }}
        uses: actions/checkout@v3
        with:
          repository: ${{ env.GH_PAGES_OWNER }}/${{ fromJson(needs.install-deps.outputs.parameters).ghPagesRepo }}
          ref: 'main'
          fetch-depth: 1
          path: ${{ fromJson(needs.install-deps.outputs.parameters).ghPagesRepo }}
          token: ${{secrets.GH_PERSONAL_ACCESS_TOKEN}}
      - name: Publish preview and comment on PR
        run: |
          npx skyux-dev publish-storybook --workingDirectory=${{ fromJson(needs.install-deps.outputs.parameters).ghPagesRepo }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

  e2e:
    name: End to end tests
    runs-on: ubuntu-latest
    needs: install-deps
    if: ${{ fromJSON(needs.install-deps.outputs.parameters).e2eMap }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.install-deps.outputs.parameters).e2eMap }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Rebase current branch
        run: node ./scripts/rebase-pr.js
      - name: Retrieve dependencies cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            /home/runner/.cache/Cypress
          key: ${{ runner.os }}-node-${{ needs.install-deps.outputs.node-version }}-modules-${{ hashFiles('package-lock.json') }}
      - name: Verify Cypress
        run: npx cypress verify
      - name: Percy ${{ matrix.project }}
        uses: actions/github-script@v6
        with:
          retries: 1
          script: |
            // Timing setting recommended by https://docs.percy.io/docs/cypress#missing-assets
            await exec.exec('bash', [
              '-c',
              'npx percy exec -t 350 -- nx e2e ${{ matrix.project }}-e2e --skip-nx-cache'
            ], {
              ignoreReturnCode: true
            });
        env:
          PERCY_TOKEN: ${{ secrets[matrix.token] }}

  verify:
    name: E2E Visual Review
    runs-on: ubuntu-latest
    needs:
      - install-deps
      - e2e
      - publish
    steps:
      - uses: actions/github-script@v6
        name: Verify E2E Visual Review
        with:
          github-token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          script: |

            const e2eProjects = ${{ needs.install-deps.outputs.parameters }}.e2eMap.map(project => project.project);

            if (e2eProjects.length > 0) {

              // Verify that Percy has finished processing the E2E Visual Review and that all snapshots have passed.
              const params = {
                owner: context.repo.owner,
                repo: context.repo.repo,
                ref: context.payload.after,
                per_page: 100
              };
              console.log(`const { data: statuses } = await github.rest.repos.listCommitStatusesForRef(${JSON.stringify(params, null, 2)});`);
              const { data: statuses } = await github.rest.repos.listCommitStatusesForRef(params);
              console.log(`statuses: ${JSON.stringify(statuses, null, 2)}`);
              const percyStatuses = statuses.filter(status => status.context.toLowerCase().startsWith('percy/'));

              percyStatuses.forEach(status => {
                let icon;
                switch(status.state) {
                  case 'success':
                    icon = '✅';
                    break;
                  case 'pending':
                    icon = '⏳';
                    break;
                  case 'failure':
                    icon = '❌';
                    break;
                  default:
                    icon = '❓';
                }
                console.log(`${icon} ${status.context}`);
              });

              if (percyStatuses.length === e2eProjects.length) {

                // We have a check from Percy for all E2E Visual Reviews.
                if (percyStatuses.some(status => status.state !== 'success')) {
                  octokit.rest.meta.getOctocat({ s: 'Something is not right here.' });
                  core.setFailed(`E2E Visual Review not complete.`);
                } else {
                  console.log('E2E Visual Review passed!');
                }

              } else {

                // We don't have a check from Percy for all E2E projects.
                const percyProjects = percyStatuses.map(status => status.context.replace(/^percy\/skyux-/, '').replace(/-e2e$/, ''));
                const missingProjects = e2eProjects.filter(project => !percyProjects.includes(project));
                core.setFailed(`E2E Visual Review not complete. Missing results for: ${missingProjects.join(', ')}`);

              }
            } else {
              core.info('No E2E Visual Review to verify.');
            }
