name: Validate pull request
on:
  pull_request_target:
    types:
      - edited
      - opened
      - reopened
      - synchronize

env:
  GITHUB_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

jobs:
  conventional-title:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: amannn/action-semantic-pull-request@v5
        with:
          # subject should not start with a capital letter, include an exclamation point, or end with a period
          subjectPattern: ^(?![A-Z]).[^!]+(?<![.])$
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            build
            ci
            chore
            revert
            deprecation
          scopes: |
            changelog
            dev-infra
            migrations
            packaging
            release
            apps/code-examples-playground
            apps/integration
            apps/playground
            components/a11y
            components/action-bars
            components/ag-grid
            components/angular-tree-component
            components/animations
            components/assets
            components/autonumeric
            components/avatar
            components/code-examples
            components/colorpicker
            components/config
            components/core
            components/data-manager
            components/datetime
            components/docs-tools
            components/errors
            components/filter-bar
            components/flyout
            components/forms
            components/grids
            components/help-inline
            components/i18n
            components/icon
            components/indicators
            components/inline-form
            components/layout
            components/list-builder
            components/list-builder-common
            components/list-builder-view-checklist
            components/list-builder-view-grids
            components/lists
            components/lookup
            components/manifest
            components/modals
            components/navbar
            components/packages
            components/pages
            components/phone-field
            components/popovers
            components/progress-indicator
            components/router
            components/select-field
            components/storybook
            components/split-view
            components/tabs
            components/text-editor
            components/theme
            components/tiles
            components/toast
            components/validation
            sdk/e2e-schematics
            sdk/eslint-config-skyux
            sdk/eslint-config
            sdk/eslint-schematics
            sdk/prettier-schematics
            sdk/skyux-eslint
            sdk/skyux-stylelint
            sdk/stylelint-config-skyux
            sdk/stylelint-schematics
            sdk/testing
