<sky-modal>
  <sky-modal-header>
    <h2>Add Item</h2>
  </sky-modal-header>
  <sky-modal-content>
    <form novalidate [formGroup]="formGroup" (ngSubmit)="save()">
      <sky-input-box>
        <label class="sky-control-label">Name</label>
        <input
          type="text"
          autocapitalize="words"
          autocomplete="off"
          formControlName="name"
          class="sky-form-control"
        />
      </sky-input-box>
    </form>
  </sky-modal-content>
  <sky-modal-footer>
    <button class="sky-btn sky-btn-default" (click)="close()">Cancel</button>
    <button class="sky-btn sky-btn-primary" (click)="save()">Add</button>
  </sky-modal-footer>
</sky-modal>
