<form
  class="lookup-demo-form"
  novalidate
  [formGroup]="favoritesForm"
  (ngSubmit)="onSubmit()"
>
  <div>
    <sky-input-box
      data-sky-id="favorite-names-field"
      labelText="Favorite names"
      stacked="true"
    >
      <sky-lookup
        formControlName="favoriteNames"
        (addClick)="onAddButtonClicked()"
        [data]="people"
        [enableShowMore]="true"
        [searchFilters]="searchFilters"
        [showAddButton]="true"
      >
      </sky-lookup>
    </sky-input-box>
  </div>
  <div class="lookup-demo-alert">
    <strong>Form model:</strong>
    <pre>{{ favoritesForm.value | json }}</pre>
  </div>
  <button class="sky-btn sky-btn-default" type="submit">Submit</button>
</form>
