<form
  class="lookup-demo-form"
  novalidate
  [formGroup]="favoritesForm"
  (ngSubmit)="onSubmit()"
>
  <div class="sky-form-group">
    <sky-input-box data-sky-id="favorite-names-field">
      <label class="sky-control-label" skyId #favoriteNamesLabel="skyId">
        Favorite names
      </label>
      <sky-lookup
        formControlName="favoriteNames"
        (addClick)="onAddButtonClicked()"
        [ariaLabelledBy]="favoriteNamesLabel.id"
        [data]="people"
        [enableShowMore]="true"
        [searchFilters]="searchFilters"
        [showAddButton]="true"
      >
      </sky-lookup>
    </sky-input-box>
  </div>
  <div class="lookup-demo-alert">
    <strong>Form model:</strong>
    <pre>{{ favoritesForm.value | json }}</pre>
  </div>
  <button class="sky-btn sky-btn-default" type="submit">Submit</button>
</form>
