<sky-modal [headingText]="'Modal'">
  <sky-modal-content>
    <ng-content />
  </sky-modal-content>
  <sky-modal-footer>
    <button
      type="button"
      class="sky-btn sky-btn-default"
      (click)="modal.close()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-default"
      (click)="openNotGridModal()"
    >
      Open non-grid modal
    </button>
    <button
      type="button"
      class="sky-btn sky-btn-primary"
      (click)="openGridModal()"
    >
      Open grid modal
    </button>
  </sky-modal-footer>
</sky-modal>
