@use 'libs/components/theme/src/lib/styles/variables' as *;

:host {
  display: contents;
}

.normal-layout {
  display: flex;
  height: 100%;
  width: 100%;
}

::ng-deep {
  .complete i {
    color: $sky-highlight-color-success;
  }

  .current i {
    color: $sky-highlight-color-warning;
  }

  .behind i {
    color: $sky-highlight-color-danger;
  }

  .status {
    padding: 0 2px;
  }
}
