<div class="sky-padding-even-large">
  <form novalidate [formGroup]="colorForm">
    <div class="sky-margin-stacked-xl" id="colorpicker-12-presets-fa-icon">
      <sky-colorpicker
        #colorPickerPresets
        pickerButtonIcon="edit"
        labelText="Colorpicker with 12 presets and FA icon"
        helpPopoverTitle="This should not appear"
      >
        <input
          formControlName="colorOne"
          skyId
          type="text"
          [presetColors]="swatches12"
          [skyColorpickerInput]="colorPickerPresets"
          [allowTransparency]="false"
        />
      </sky-colorpicker>
    </div>
    <div class="sky-margin-stacked-xl" id="colorpicker-6-presets-sky-icon">
      <label class="sky-control-label">
        Colorpicker with transparent option, 6 presets, and SKY UX icon
      </label>
      <sky-colorpicker
        #colorPickerTransparent
        pickerButtonIcon="text-color"
        helpPopoverContent="This should not appear"
      >
        <input
          formControlName="colorTwo"
          skyId
          type="text"
          [presetColors]="swatches6"
          [allowTransparency]="true"
          [skyColorpickerInput]="colorPickerTransparent"
        />
      </sky-colorpicker>
    </div>
    <div class="sky-margin-stacked-xl" id="colorpicker-disabled">
      <sky-colorpicker
        #colorPickerDisabled
        labelText="Disabled colorpicker with inline help"
        helpPopoverContent="content"
      >
        <input
          formControlName="colorThree"
          skyId
          type="text"
          [skyColorpickerInput]="colorPickerDisabled"
        />
      </sky-colorpicker>
    </div>
    <div class="sky-margin-stacked-xl" id="colorpicker-hint-text">
      <sky-colorpicker
        #colorPickerHintText
        labelText="Colorpicker with hint text"
        helpPopoverContent="content"
        hintText="Colorpicker hint text"
      >
        <input
          formControlName="colorFour"
          skyId
          type="text"
          [skyColorpickerInput]="colorPickerHintText"
        />
      </sky-colorpicker>
    </div>
    <div class="sky-margin-stacked-xl" id="colorpicker-required">
      <sky-colorpicker
        #colorPickerRequired
        labelText="Colorpicker which is required"
        helpPopoverContent="content"
      >
        <input
          formControlName="colorFive"
          skyId
          type="text"
          [skyColorpickerInput]="colorPickerRequired"
        />
      </sky-colorpicker>
    </div>
    <div id="colorpicker-stacked">
      <sky-colorpicker
        #colorPickerStacked
        labelText="Colorpicker when stacked"
        helpPopoverContent="content"
        stacked="true"
      >
        <input
          formControlName="colorSix"
          skyId
          type="text"
          [skyColorpickerInput]="colorPickerStacked"
        />
      </sky-colorpicker>
    </div>
    <div class="sky-margin-stacked-xl" id="colorpicker-error">
      <sky-colorpicker #colorPickerError labelText="Colorpicker with error">
        <input
          formControlName="colorSeven"
          skyId
          type="text"
          [skyColorpickerInput]="colorPickerError"
        />
      </sky-colorpicker>
    </div>
    <div
      class="sky-margin-stacked-xl"
      id="colorpicker-default-presets-no-clear-btn"
    >
      <label class="sky-control-label">
        Colorpicker with no icons, no clear button, default color swatches
      </label>
      <sky-colorpicker #colorPickerDefault [showResetButton]="false">
        <input
          formControlName="colorEight"
          skyId
          type="text"
          [allowTransparency]="true"
          [skyColorpickerInput]="colorPickerDefault"
        />
      </sky-colorpicker>
    </div>
  </form>
</div>
<span *ngIf="ready | async" id="ready"></span>
