// Disable CSS animations.
*,
*::before,
*::after {
  -moz-transition: none !important;
  transition: none !important;
  -moz-animation: none !important;
  animation: none !important;
}

body {
  background-color: #fff;
}

.app-screenshot {
  padding: 15px;
}

.app-screenshot-window {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
